<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caiji1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,94},{44,44}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,151},{44,44}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>caiji1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{44,44}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,151},{44,44}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>caiji1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,48},{44,44}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,151},{44,44}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>caiji1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{44,44}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,151},{44,44}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>caiji1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,44}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,151},{44,44}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>caiji1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,44}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,151},{44,44}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caiji1.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14e451c4ee1a18e9f188542990746af0$</string>
            <key>textureFileName</key>
            <string>caiji1.png</string>
        </dict>
    </dict>
</plist>
