<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caiji4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,46},{38,42}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,154},{38,42}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>caiji4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,42}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,154},{40,42}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>caiji4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{40,42}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,154},{40,42}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>caiji4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,42}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,154},{40,42}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>caiji4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,44},{38,42}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,154},{38,42}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>caiji4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{38,42}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,154},{38,42}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caiji4.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ebddc0d20d35c364181d7c93c6aed3b$</string>
            <key>textureFileName</key>
            <string>caiji4.png</string>
        </dict>
    </dict>
</plist>
