<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuancheng_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,398},{138,104}}</string>
                <key>offset</key>
                <string>{-57,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{138,104}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>chuancheng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,244},{152,106}}</string>
                <key>offset</key>
                <string>{-50,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{152,106}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>chuancheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,88},{198,78}}</string>
                <key>offset</key>
                <string>{34,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,40},{198,78}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>chuancheng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,174},{200,68}}</string>
                <key>offset</key>
                <string>{33,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,51},{200,68}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>chuancheng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,288},{158,104}}</string>
                <key>offset</key>
                <string>{-45,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,25},{158,104}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>chuancheng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,288},{170,102}}</string>
                <key>offset</key>
                <string>{-37,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,27},{170,102}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>chuancheng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{184,96}}</string>
                <key>offset</key>
                <string>{-28,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,33},{184,96}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>chuancheng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{198,92}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,35},{198,92}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>chuancheng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{214,88}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{214,88}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>chuancheng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{222,84}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,35},{222,84}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>chuancheng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,82}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,35},{226,82}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>chuancheng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,88},{212,84}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,34},{212,84}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chuancheng.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9c4acacf6460c9184ee71f8dbac324f$</string>
            <key>textureFileName</key>
            <string>chuancheng.png</string>
        </dict>
    </dict>
</plist>
