<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EquipSet6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,258},{86,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{86,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,344},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,174},{82,88}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{82,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{86,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{86,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{86,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{86,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{84,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{84,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,86},{88,86}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{88,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,424},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{84,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{86,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{86,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{82,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{82,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{78,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{78,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet6_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{80,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EquipSet5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c128d843145b0e27a98cc14b99fd523e$</string>
            <key>textureFileName</key>
            <string>EquipSet5.png</string>
        </dict>
    </dict>
</plist>
