<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EquipSet3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,254},{82,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{82,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{82,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,86},{84,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{84,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{86,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{86,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{82,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{82,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,170},{82,82}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{82,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{82,84}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{82,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{80,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,336},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{80,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,254},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{80,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,170},{82,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{82,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{88,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EquipSet3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae1ac75f3de771c5e38ec073a7e7b039$</string>
            <key>textureFileName</key>
            <string>EquipSet3.png</string>
        </dict>
    </dict>
</plist>
