<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoqiu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1880},{144,184}}</string>
                <key>offset</key>
                <string>{-268,458}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,0},{144,184}}</string>
                <key>sourceSize</key>
                <string>{1100,1100}</string>
            </dict>
            <key>huoqiu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1354},{190,290}}</string>
                <key>offset</key>
                <string>{-232,397}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,8},{190,290}}</string>
                <key>sourceSize</key>
                <string>{1100,1100}</string>
            </dict>
            <key>huoqiu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1618},{260,208}}</string>
                <key>offset</key>
                <string>{-8,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,501},{260,208}}</string>
                <key>sourceSize</key>
                <string>{1100,1100}</string>
            </dict>
            <key>huoqiu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1354},{262,210}}</string>
                <key>offset</key>
                <string>{-7,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,499},{262,210}}</string>
                <key>sourceSize</key>
                <string>{1100,1100}</string>
            </dict>
            <key>huoqiu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{228,358}}</string>
                <key>offset</key>
                <string>{-188,313}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,58},{228,358}}</string>
                <key>sourceSize</key>
                <string>{1100,1100}</string>
            </dict>
            <key>huoqiu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{268,474}}</string>
                <key>offset</key>
                <string>{-150,257}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,56},{268,474}}</string>
                <key>sourceSize</key>
                <string>{1100,1100}</string>
            </dict>
            <key>huoqiu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,640}}</string>
                <key>offset</key>
                <string>{-81,161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,69},{410,640}}</string>
                <key>sourceSize</key>
                <string>{1100,1100}</string>
            </dict>
            <key>huoqiu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{402,594}}</string>
                <key>offset</key>
                <string>{-76,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,115},{402,594}}</string>
                <key>sourceSize</key>
                <string>{1100,1100}</string>
            </dict>
            <key>huoqiu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{390,556}}</string>
                <key>offset</key>
                <string>{-70,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,153},{390,556}}</string>
                <key>sourceSize</key>
                <string>{1100,1100}</string>
            </dict>
            <key>huoqiu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,232},{306,526}}</string>
                <key>offset</key>
                <string>{-28,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,183},{306,526}}</string>
                <key>sourceSize</key>
                <string>{1100,1100}</string>
            </dict>
            <key>huoqiu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,760},{300,400}}</string>
                <key>offset</key>
                <string>{-26,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,309},{300,400}}</string>
                <key>sourceSize</key>
                <string>{1100,1100}</string>
            </dict>
            <key>huoqiu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1062},{290,382}}</string>
                <key>offset</key>
                <string>{-22,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,327},{290,382}}</string>
                <key>sourceSize</key>
                <string>{1100,1100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huoqiu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81c81835cfcc148683139822761ab1f4$</string>
            <key>textureFileName</key>
            <string>huoqiu.png</string>
        </dict>
    </dict>
</plist>
