<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_1_51_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,374},{140,152}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,180},{140,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1_51_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{152,154}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,182},{152,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1_51_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{150,240}}</string>
                <key>offset</key>
                <string>{11,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,98},{150,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1_51_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,238},{134,252}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,86},{134,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1_51_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,260}}</string>
                <key>offset</key>
                <string>{13,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,75},{156,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1_51_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{152,254}}</string>
                <key>offset</key>
                <string>{13,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,78},{152,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1_51_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,154},{82,168}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,137},{82,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MonsterF5.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fbc62243752047ba499770722b24925$</string>
            <key>textureFileName</key>
            <string>MonsterF5.png</string>
        </dict>
    </dict>
</plist>
