<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,676}}</string>
                <key>offset</key>
                <string>{1,163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,149},{390,676}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>s_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{456,630}}</string>
                <key>offset</key>
                <string>{6,162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,173},{456,630}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>s_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,650},{442,638}}</string>
                <key>offset</key>
                <string>{-21,165}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,166},{442,638}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>s_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,634},{442,574}}</string>
                <key>offset</key>
                <string>{-18,201}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,162},{442,574}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>s_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,2},{250,582}}</string>
                <key>offset</key>
                <string>{-13,203}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,156},{250,582}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1344},{392,654}}</string>
                <key>offset</key>
                <string>{2,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,170},{392,654}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,666},{392,648}}</string>
                <key>offset</key>
                <string>{2,152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,174},{392,648}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1316},{390,642}}</string>
                <key>offset</key>
                <string>{3,152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,177},{390,642}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{388,646}}</string>
                <key>offset</key>
                <string>{4,154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,173},{388,646}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1344},{384,654}}</string>
                <key>offset</key>
                <string>{3,157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,166},{384,654}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{422,662}}</string>
                <key>offset</key>
                <string>{-4,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,158},{422,662}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{432,662}}</string>
                <key>offset</key>
                <string>{-33,166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,153},{432,662}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1290},{420,622}}</string>
                <key>offset</key>
                <string>{-7,160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,179},{420,622}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:656265c4cf97c12f0a4d07ac38c55940$</string>
            <key>textureFileName</key>
            <string>s.png</string>
        </dict>
    </dict>
</plist>
