<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>select_flag_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{152,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{492,304},{152,32}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>select_flag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{162,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{488,304},{162,32}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>select_flag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{485,304},{170,32}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>select_flag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{162,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{488,304},{162,32}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>select_flag.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:085b158db7b6d8e3f657b73f67b01295$</string>
            <key>textureFileName</key>
            <string>select_flag.png</string>
        </dict>
    </dict>
</plist>
