<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1218},{252,592}}</string>
                <key>offset</key>
                <string>{-15,184}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,170},{252,592}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>shui_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,2},{442,568}}</string>
                <key>offset</key>
                <string>{-21,200}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,166},{442,568}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>shui_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,588},{442,574}}</string>
                <key>offset</key>
                <string>{-18,201}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,162},{442,574}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>shui_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1202},{250,582}}</string>
                <key>offset</key>
                <string>{-13,203}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,156},{250,582}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>shui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{252,588}}</string>
                <key>offset</key>
                <string>{-14,182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,174},{252,588}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>shui_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{252,584}}</string>
                <key>offset</key>
                <string>{-14,181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,177},{252,584}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>shui_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,612},{272,588}}</string>
                <key>offset</key>
                <string>{-8,183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,173},{272,588}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>shui_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{346,596}}</string>
                <key>offset</key>
                <string>{-15,186}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,166},{346,596}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>shui_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{422,604}}</string>
                <key>offset</key>
                <string>{-4,190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,158},{422,604}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>shui_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,608}}</string>
                <key>offset</key>
                <string>{-33,192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,154},{432,608}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>shui_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{420,574}}</string>
                <key>offset</key>
                <string>{-7,185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,178},{420,574}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
            <key>shui_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,446},{456,560}}</string>
                <key>offset</key>
                <string>{6,197}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,173},{456,560}}</string>
                <key>sourceSize</key>
                <string>{600,1300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6395bdbc6fb2844c8e4d95b7ab2597e$</string>
            <key>textureFileName</key>
            <string>shui.png</string>
        </dict>
    </dict>
</plist>
