<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_2_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,996},{346,302}}</string>
                <key>offset</key>
                <string>{66,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,173},{346,302}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_2_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,996},{350,286}}</string>
                <key>offset</key>
                <string>{40,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,177},{350,286}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_2_10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{580,492}}</string>
                <key>offset</key>
                <string>{-98,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,133},{580,492}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_2_10_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{658,496}}</string>
                <key>offset</key>
                <string>{-69,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,128},{658,496}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_2_10_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,496},{570,498}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,110},{570,498}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_2_10_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{574,510}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,103},{574,510}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_2_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,996},{412,300}}</string>
                <key>offset</key>
                <string>{-19,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,170},{412,300}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_2_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,514},{450,330}}</string>
                <key>offset</key>
                <string>{-61,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,145},{450,330}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_2_10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,514},{460,334}}</string>
                <key>offset</key>
                <string>{-83,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,146},{460,334}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_2_10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1412},{476,352}}</string>
                <key>offset</key>
                <string>{-89,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,148},{476,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_2_10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1410},{472,400}}</string>
                <key>offset</key>
                <string>{-84,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,161},{472,400}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_2_10_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1412},{508,422}}</string>
                <key>offset</key>
                <string>{-97,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,155},{508,422}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_2_10_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{530,446}}</string>
                <key>offset</key>
                <string>{-100,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,149},{530,446}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_2_10_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{530,462}}</string>
                <key>offset</key>
                <string>{-96,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,139},{530,462}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_2_10.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e807b69df0f979bd931c21d7838be0e$</string>
            <key>textureFileName</key>
            <string>skill_2_10.png</string>
        </dict>
    </dict>
</plist>
