<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_29_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{176,114}}</string>
                <key>offset</key>
                <string>{-89,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,339},{176,114}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_29_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,786},{160,140}}</string>
                <key>offset</key>
                <string>{-47,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,336},{160,140}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_29_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{276,194}}</string>
                <key>offset</key>
                <string>{26,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,316},{276,194}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_29_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{280,202}}</string>
                <key>offset</key>
                <string>{24,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,317},{280,202}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_29_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,194}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,316},{282,194}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_29_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,284},{268,194}}</string>
                <key>offset</key>
                <string>{30,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,316},{268,194}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_29_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,742},{260,194}}</string>
                <key>offset</key>
                <string>{34,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,316},{260,194}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_29_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{260,194}}</string>
                <key>offset</key>
                <string>{34,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,316},{260,194}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_29_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{260,194}}</string>
                <key>offset</key>
                <string>{34,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,316},{260,194}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_29_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,554},{242,186}}</string>
                <key>offset</key>
                <string>{43,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,317},{242,186}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_29.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be59e34638f21adfa2e968c3d50f9c0c$</string>
            <key>textureFileName</key>
            <string>skill_3_29.png</string>
        </dict>
    </dict>
</plist>
