<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_1_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,128}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,119},{120,128}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,130},{116,116}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,124},{116,116}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{126,116}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,117},{126,116}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{124,126}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,113},{124,126}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,248},{112,126}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,120},{112,126}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_1_12.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d4177f0dd3e0e6c12650b3873ff23ac$</string>
            <key>textureFileName</key>
            <string>skill_1_12.png</string>
        </dict>
    </dict>
</plist>
