<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_1_66_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{158,208}}</string>
                <key>offset</key>
                <string>{-28,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,395},{158,208}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_1_66_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,214}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,394},{160,214}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_1_66_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{158,212}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,395},{158,212}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_1_66_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{160,204}}</string>
                <key>offset</key>
                <string>{-31,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{389,395},{160,204}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_1_66_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{162,206}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{387,392},{162,206}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_1_66_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{162,206}}</string>
                <key>offset</key>
                <string>{-32,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{387,392},{162,206}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_1_66_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,648},{162,204}}</string>
                <key>offset</key>
                <string>{-31,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,395},{162,204}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_1_66_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,322},{164,206}}</string>
                <key>offset</key>
                <string>{-30,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,394},{164,206}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_1_66_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,488},{158,206}}</string>
                <key>offset</key>
                <string>{-28,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,395},{158,206}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_1_66_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,162},{158,208}}</string>
                <key>offset</key>
                <string>{-28,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,394},{158,208}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_1_66.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2319e90708e48d069e8359c3f6a35506$</string>
            <key>textureFileName</key>
            <string>skill_1_66.png</string>
        </dict>
    </dict>
</plist>
