<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_1_29_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,362},{212,30}}</string>
                <key>offset</key>
                <string>{-83,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,242},{212,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1_29_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{252,60}}</string>
                <key>offset</key>
                <string>{-43,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,233},{252,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1_29_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{80,134}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,210},{80,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1_29_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,178}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,173},{312,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1_29_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{296,178}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,173},{296,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1_29_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,286},{280,186}}</string>
                <key>offset</key>
                <string>{24,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,172},{280,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1_29_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{282,186}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,173},{282,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1_29_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{258,178}}</string>
                <key>offset</key>
                <string>{35,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,173},{258,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1_29_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,764},{240,186}}</string>
                <key>offset</key>
                <string>{44,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,173},{240,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1_29_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{242,186}}</string>
                <key>offset</key>
                <string>{43,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,173},{242,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_1_29_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,576},{242,186}}</string>
                <key>offset</key>
                <string>{43,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,173},{242,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_1_29.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39ffca6bc81e4aa82f8821011030a69e$</string>
            <key>textureFileName</key>
            <string>skill_1_29.png</string>
        </dict>
    </dict>
</plist>
