<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_1_24_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,60},{260,260}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_24_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{200,192}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,95},{200,192}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_24_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,458},{218,216}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,81},{218,216}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_24_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{236,252}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,64},{236,252}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_24_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,256},{234,200}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,76},{234,200}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_24_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{254,218}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,66},{254,218}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_1_24.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c4de7469be96132109218553baa34d2$</string>
            <key>textureFileName</key>
            <string>skill_1_24.png</string>
        </dict>
    </dict>
</plist>
