<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_25_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{45,152}}</string>
                <key>offset</key>
                <string>{5,180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,0},{45,152}}</string>
                <key>sourceSize</key>
                <string>{515,512}</string>
            </dict>
            <key>skill_3_25_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,975},{43,166}}</string>
                <key>offset</key>
                <string>{5,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,64},{43,166}}</string>
                <key>sourceSize</key>
                <string>{515,512}</string>
            </dict>
            <key>skill_3_25_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{231,220}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,174},{231,220}}</string>
                <key>sourceSize</key>
                <string>{515,512}</string>
            </dict>
            <key>skill_3_25_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{229,224}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,173},{229,224}}</string>
                <key>sourceSize</key>
                <string>{515,512}</string>
            </dict>
            <key>skill_3_25_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{221,228}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,172},{221,228}}</string>
                <key>sourceSize</key>
                <string>{515,512}</string>
            </dict>
            <key>skill_3_25_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,226},{215,138}}</string>
                <key>offset</key>
                <string>{7,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,263},{215,138}}</string>
                <key>sourceSize</key>
                <string>{515,512}</string>
            </dict>
            <key>skill_3_25_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,238}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,153},{153,238}}</string>
                <key>sourceSize</key>
                <string>{515,512}</string>
            </dict>
            <key>skill_3_25_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,462},{199,220}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,171},{199,220}}</string>
                <key>sourceSize</key>
                <string>{515,512}</string>
            </dict>
            <key>skill_3_25_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{203,222}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,169},{203,222}}</string>
                <key>sourceSize</key>
                <string>{515,512}</string>
            </dict>
            <key>skill_3_25_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,705},{205,220}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,171},{205,220}}</string>
                <key>sourceSize</key>
                <string>{515,512}</string>
            </dict>
            <key>skill_3_25_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,462},{213,216}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,175},{213,216}}</string>
                <key>sourceSize</key>
                <string>{515,512}</string>
            </dict>
            <key>skill_3_25_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,684},{217,210}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,181},{217,210}}</string>
                <key>sourceSize</key>
                <string>{515,512}</string>
            </dict>
            <key>skill_3_25_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{221,214}}</string>
                <key>offset</key>
                <string>{6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,177},{221,214}}</string>
                <key>sourceSize</key>
                <string>{515,512}</string>
            </dict>
            <key>skill_3_25_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,233},{227,216}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,175},{227,216}}</string>
                <key>sourceSize</key>
                <string>{515,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_25.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3603a689e482f9229b4e7ab6735c6040$</string>
            <key>textureFileName</key>
            <string>skill_3_25.png</string>
        </dict>
    </dict>
</plist>
