<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_63_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{126,70}}</string>
                <key>offset</key>
                <string>{0,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,295},{126,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_63_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{126,68}}</string>
                <key>offset</key>
                <string>{0,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,296},{126,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_63_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{126,68}}</string>
                <key>offset</key>
                <string>{0,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,296},{126,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_63_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,258},{126,70}}</string>
                <key>offset</key>
                <string>{-1,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,295},{126,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_63_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{126,70}}</string>
                <key>offset</key>
                <string>{-1,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,295},{126,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_63_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{126,70}}</string>
                <key>offset</key>
                <string>{-1,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,295},{126,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_63_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,70}}</string>
                <key>offset</key>
                <string>{-1,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,295},{128,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_63_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,130},{126,70}}</string>
                <key>offset</key>
                <string>{0,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,295},{126,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_63_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{126,70}}</string>
                <key>offset</key>
                <string>{0,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,295},{126,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_63_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{126,70}}</string>
                <key>offset</key>
                <string>{0,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,295},{126,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_63.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:713362a026843c8318b80a472a3823c1$</string>
            <key>textureFileName</key>
            <string>skill_3_63.png</string>
        </dict>
    </dict>
</plist>
