<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_56_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,414},{294,192}}</string>
                <key>offset</key>
                <string>{-69,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,283},{294,192}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_56_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,410}}</string>
                <key>offset</key>
                <string>{11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,222},{414,410}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_56_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{362,294}}</string>
                <key>offset</key>
                <string>{35,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,276},{362,294}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_56_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,434},{388,328}}</string>
                <key>offset</key>
                <string>{19,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,270},{388,328}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_56_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{430,306}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,292},{430,306}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_56_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,366},{392,212}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,296},{392,212}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_56_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{418,212}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,296},{418,212}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_56_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,764},{332,212}}</string>
                <key>offset</key>
                <string>{47,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,296},{332,212}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_56_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,764},{384,212}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,295},{384,212}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_56.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f50f7875a33a1696d011d2e128ff81d6$</string>
            <key>textureFileName</key>
            <string>skill_3_56.png</string>
        </dict>
    </dict>
</plist>
