<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_1_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1014,2030}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{1014,2030}}</string>
                <key>sourceSize</key>
                <string>{1024,2048}</string>
            </dict>
            <key>skill_1_53_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,1234},{118,70}}</string>
                <key>offset</key>
                <string>{-2,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{339,440},{118,70}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_1_53_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,1106},{126,72}}</string>
                <key>offset</key>
                <string>{-3,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,439},{126,72}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_1_53_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1772},{226,270}}</string>
                <key>offset</key>
                <string>{16,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,299},{226,270}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_1_53_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1420},{300,356}}</string>
                <key>offset</key>
                <string>{14,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,257},{300,356}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_1_53_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1396},{374,408}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,212},{374,408}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_1_53_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,528},{444,468}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,166},{444,468}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_1_53_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{522,510}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,125},{522,510}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_1_53_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,2},{502,524}}</string>
                <key>offset</key>
                <string>{-10,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,114},{502,524}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_1_53_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,514},{510,482}}</string>
                <key>offset</key>
                <string>{4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,132},{510,482}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_1_53_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,974},{130,84}}</string>
                <key>offset</key>
                <string>{-4,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{331,428},{130,84}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_1_53_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1772},{134,98}}</string>
                <key>offset</key>
                <string>{-4,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,415},{134,98}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_1_53_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,1772},{128,126}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,388},{128,126}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_1_53_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,1676},{130,170}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,345},{130,170}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_1_53_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,1396},{196,278}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,237},{196,278}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_1_53_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1722},{294,326}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,190},{294,326}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_1_53_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,998},{420,420}}</string>
                <key>offset</key>
                <string>{1,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,128},{420,420}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_1_53_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,974},{420,420}}</string>
                <key>offset</key>
                <string>{1,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,128},{420,420}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_1_53.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5407316bd08a778380eda62ca93fdb77$</string>
            <key>textureFileName</key>
            <string>skill_1_53.png</string>
        </dict>
    </dict>
</plist>
