<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_1_18_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,294},{98,186}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,49},{98,186}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_18_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,394},{98,176}}</string>
                <key>offset</key>
                <string>{4,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,51},{98,176}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_18_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,112},{58,84}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,131},{58,84}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_18_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,198},{54,114}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,120},{54,114}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_18_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{58,108}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,120},{58,108}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_18_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,494},{46,90}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,135},{46,90}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_18_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,294},{40,80}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,134},{40,80}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{92,178}}</string>
                <key>offset</key>
                <string>{6,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,53},{92,178}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_18_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{102,194}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,46},{102,194}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_18_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{122,194}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,40},{122,194}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_18_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,150},{142,206}}</string>
                <key>offset</key>
                <string>{2,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,31},{142,206}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_18_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{146,210}}</string>
                <key>offset</key>
                <string>{-2,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,18},{146,210}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_18_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,220}}</string>
                <key>offset</key>
                <string>{2,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,0},{152,220}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_18_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{128,160}}</string>
                <key>offset</key>
                <string>{4,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,47},{128,160}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_1_18_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,376},{110,160}}</string>
                <key>offset</key>
                <string>{2,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,47},{110,160}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_1_18.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3237b7c1dac4217adc9c99d39b57b45c$</string>
            <key>textureFileName</key>
            <string>skill_1_18.png</string>
        </dict>
    </dict>
</plist>
