<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_2_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,210},{146,24}}</string>
                <key>offset</key>
                <string>{-112,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,182},{146,24}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{166,28}}</string>
                <key>offset</key>
                <string>{-101,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,179},{166,28}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,178},{190,28}}</string>
                <key>offset</key>
                <string>{-89,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,179},{190,28}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{212,30}}</string>
                <key>offset</key>
                <string>{-71,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,179},{212,30}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{244,30}}</string>
                <key>offset</key>
                <string>{-59,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,181},{244,30}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_12_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{242,34}}</string>
                <key>offset</key>
                <string>{-30,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,179},{242,34}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_12_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{240,32}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,178},{240,32}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_12_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,34}}</string>
                <key>offset</key>
                <string>{24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,177},{250,34}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_12_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{228,36}}</string>
                <key>offset</key>
                <string>{64,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,175},{228,36}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_2_12.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcd8b69f6930ff21b4fbb8ac0f9240fa$</string>
            <key>textureFileName</key>
            <string>skill_2_12.png</string>
        </dict>
    </dict>
</plist>
