<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{108,78}}</string>
                <key>offset</key>
                <string>{-93,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,140},{108,78}}</string>
                <key>sourceSize</key>
                <string>{294,264}</string>
            </dict>
            <key>skill_3_15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,512},{110,78}}</string>
                <key>offset</key>
                <string>{-92,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,140},{110,78}}</string>
                <key>sourceSize</key>
                <string>{294,264}</string>
            </dict>
            <key>skill_3_15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,198},{218,96}}</string>
                <key>offset</key>
                <string>{-16,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,141},{218,96}}</string>
                <key>sourceSize</key>
                <string>{294,264}</string>
            </dict>
            <key>skill_3_15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{246,96}}</string>
                <key>offset</key>
                <string>{8,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,138},{246,96}}</string>
                <key>sourceSize</key>
                <string>{294,264}</string>
            </dict>
            <key>skill_3_15_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,264}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{294,264}</string>
            </dict>
            <key>skill_3_15_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,296},{214,216}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{214,216}}</string>
                <key>sourceSize</key>
                <string>{294,264}</string>
            </dict>
            <key>skill_3_15_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{194,234}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,12},{194,234}}</string>
                <key>sourceSize</key>
                <string>{294,264}</string>
            </dict>
            <key>skill_3_15_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{168,216}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,17},{168,216}}</string>
                <key>sourceSize</key>
                <string>{294,264}</string>
            </dict>
            <key>skill_3_15_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,512},{78,118}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,44},{78,118}}</string>
                <key>sourceSize</key>
                <string>{294,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_15.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b95d1f77db1cab34fc65945243cb72c$</string>
            <key>textureFileName</key>
            <string>skill_3_15.png</string>
        </dict>
    </dict>
</plist>
