<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_2_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,770},{130,130}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,153},{130,130}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{142,142}}</string>
                <key>offset</key>
                <string>{13,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,152},{142,142}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_9_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{200,156}}</string>
                <key>offset</key>
                <string>{15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,132},{200,156}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_9_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{204,160}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,128},{204,160}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_9_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,154}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,134},{216,154}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_9_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,314},{192,154}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,133},{192,154}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_9_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,470},{168,152}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,134},{168,152}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,768},{142,138}}</string>
                <key>offset</key>
                <string>{9,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,151},{142,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,616},{162,150}}</string>
                <key>offset</key>
                <string>{21,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,147},{162,150}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{162,146}}</string>
                <key>offset</key>
                <string>{18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,145},{162,146}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,624},{162,144}}</string>
                <key>offset</key>
                <string>{15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,145},{162,144}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,470},{164,144}}</string>
                <key>offset</key>
                <string>{7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,143},{164,144}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_9_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{172,144}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,142},{172,144}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{180,148}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,139},{180,148}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_2_9_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,164},{200,148}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,139},{200,148}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_2_9.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d94d689aa0bbc82d6bac7e08318f2d67$</string>
            <key>textureFileName</key>
            <string>skill_2_9.png</string>
        </dict>
    </dict>
</plist>
