<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_57_11_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{152,232}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,201},{152,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{152,218}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,215},{152,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,614},{120,242}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,202},{120,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,670},{148,234}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,173},{148,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,884},{170,216}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,184},{170,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,916},{160,206}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,188},{160,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1056},{166,198}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,196},{166,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,954},{202,214}}</string>
                <key>offset</key>
                <string>{33,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,180},{202,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,314},{144,290}}</string>
                <key>offset</key>
                <string>{4,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,104},{144,290}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{166,342}}</string>
                <key>offset</key>
                <string>{-8,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,52},{166,342}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,176},{176,328}}</string>
                <key>offset</key>
                <string>{-13,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,66},{176,328}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,460},{152,252}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,181},{152,252}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,490},{178,242}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,172},{178,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{130,244}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,204},{130,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,820},{132,230}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,218},{132,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,736},{146,232}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,204},{146,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,134},{178,242}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,172},{178,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,460},{202,222}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,192},{202,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{162,234}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,180},{162,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{174,214}}</string>
                <key>offset</key>
                <string>{22,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,200},{174,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,684},{232,230}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,183},{232,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{172,298}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,113},{172,298}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,392}}</string>
                <key>offset</key>
                <string>{-4,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,17},{166,392}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{172,380}}</string>
                <key>offset</key>
                <string>{-17,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,28},{172,380}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_11_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,354},{134,260}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,188},{134,260}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster57~5.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4021cfc03e40eed3731c5ca3e6098636$</string>
            <key>textureFileName</key>
            <string>monster57~5.png</string>
        </dict>
    </dict>
</plist>
