<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_59_9_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1436},{236,272}}</string>
                <key>offset</key>
                <string>{56,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,193},{236,272}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1802},{238,262}}</string>
                <key>offset</key>
                <string>{56,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,203},{238,262}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1550},{228,250}}</string>
                <key>offset</key>
                <string>{33,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,214},{228,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{170,250}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,215},{170,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1120},{226,274}}</string>
                <key>offset</key>
                <string>{-23,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,191},{226,274}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,318}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,147},{228,318}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{232,286}}</string>
                <key>offset</key>
                <string>{52,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,179},{232,286}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1396},{152,234}}</string>
                <key>offset</key>
                <string>{-10,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,215},{152,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,254},{202,214}}</string>
                <key>offset</key>
                <string>{-36,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,235},{202,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,680},{212,210}}</string>
                <key>offset</key>
                <string>{-43,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,239},{212,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{168,280}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,170},{168,280}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,470},{198,208}}</string>
                <key>offset</key>
                <string>{-41,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,242},{198,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,892},{226,222}}</string>
                <key>offset</key>
                <string>{-56,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,229},{226,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1190},{272,244}}</string>
                <key>offset</key>
                <string>{-26,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,207},{272,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{302,282}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,169},{302,282}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{284,268}}</string>
                <key>offset</key>
                <string>{78,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,183},{284,268}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster59~5.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c3289a361b3019defb9a8b0f36e3222$</string>
            <key>textureFileName</key>
            <string>monster59~5.png</string>
        </dict>
    </dict>
</plist>
