<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_57_8_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1542},{200,230}}</string>
                <key>offset</key>
                <string>{51,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,178},{200,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1306},{142,234}}</string>
                <key>offset</key>
                <string>{43,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,178},{142,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,252},{118,246}}</string>
                <key>offset</key>
                <string>{39,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,169},{118,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1900},{144,238}}</string>
                <key>offset</key>
                <string>{21,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,169},{144,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,696},{296,240}}</string>
                <key>offset</key>
                <string>{83,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,214},{296,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,294},{262,240}}</string>
                <key>offset</key>
                <string>{66,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,199},{262,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,914},{202,202}}</string>
                <key>offset</key>
                <string>{40,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,188},{202,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2},{152,250}}</string>
                <key>offset</key>
                <string>{27,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,179},{152,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1696},{136,242}}</string>
                <key>offset</key>
                <string>{31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,180},{136,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,252},{130,238}}</string>
                <key>offset</key>
                <string>{28,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,169},{130,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,1612},{234,220}}</string>
                <key>offset</key>
                <string>{-23,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,171},{234,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1314},{292,268}}</string>
                <key>offset</key>
                <string>{-48,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,122},{292,268}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1564},{218,270}}</string>
                <key>offset</key>
                <string>{-14,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,120},{218,270}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{178,306}}</string>
                <key>offset</key>
                <string>{4,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,84},{178,306}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{176,316}}</string>
                <key>offset</key>
                <string>{9,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,74},{176,316}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1118},{172,246}}</string>
                <key>offset</key>
                <string>{21,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,144},{172,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1398},{302,262}}</string>
                <key>offset</key>
                <string>{85,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,218},{302,262}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1010},{302,252}}</string>
                <key>offset</key>
                <string>{86,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,219},{302,252}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1062},{200,242}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,172},{200,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,618},{156,292}}</string>
                <key>offset</key>
                <string>{39,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,216},{156,292}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1890},{156,278}}</string>
                <key>offset</key>
                <string>{40,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,202},{156,278}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,374},{154,224}}</string>
                <key>offset</key>
                <string>{40,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,190},{154,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{162,248}}</string>
                <key>offset</key>
                <string>{32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,178},{162,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,196},{176,234}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,180},{176,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,768},{194,240}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,174},{194,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1288},{186,274}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,140},{186,274}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1702},{260,302}}</string>
                <key>offset</key>
                <string>{-45,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,112},{260,302}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{202,350}}</string>
                <key>offset</key>
                <string>{2,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,64},{202,350}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{162,362}}</string>
                <key>offset</key>
                <string>{49,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,52},{162,362}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,362}}</string>
                <key>offset</key>
                <string>{51,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,52},{168,362}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,912},{174,270}}</string>
                <key>offset</key>
                <string>{49,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,144},{174,270}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1608},{158,290}}</string>
                <key>offset</key>
                <string>{43,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,239},{158,290}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{154,294}}</string>
                <key>offset</key>
                <string>{40,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,230},{154,294}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,2},{192,234}}</string>
                <key>offset</key>
                <string>{59,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,168},{192,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1836},{210,236}}</string>
                <key>offset</key>
                <string>{63,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,166},{210,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,2},{192,234}}</string>
                <key>offset</key>
                <string>{59,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,168},{192,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1834},{212,220}}</string>
                <key>offset</key>
                <string>{80,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,203},{212,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1774},{172,226}}</string>
                <key>offset</key>
                <string>{66,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,216},{172,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,520},{162,246}}</string>
                <key>offset</key>
                <string>{61,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,186},{162,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,814},{170,246}}</string>
                <key>offset</key>
                <string>{66,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,185},{170,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,740},{186,216}}</string>
                <key>offset</key>
                <string>{38,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,209},{186,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,696},{184,312}}</string>
                <key>offset</key>
                <string>{39,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,106},{184,312}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{162,312}}</string>
                <key>offset</key>
                <string>{50,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,106},{162,312}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1608},{174,280}}</string>
                <key>offset</key>
                <string>{48,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,135},{174,280}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1366},{228,244}}</string>
                <key>offset</key>
                <string>{36,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,168},{228,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,558},{254,246}}</string>
                <key>offset</key>
                <string>{104,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,172},{254,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1366},{228,244}}</string>
                <key>offset</key>
                <string>{36,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,168},{228,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,530},{192,218}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,211},{192,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,1834},{210,202}}</string>
                <key>offset</key>
                <string>{25,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,240},{210,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,266},{252,236}}</string>
                <key>offset</key>
                <string>{-26,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,207},{252,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,590},{232,264}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,180},{232,264}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1184},{192,262}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,180},{192,262}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{268,290}}</string>
                <key>offset</key>
                <string>{119,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,151},{268,290}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,298},{274,290}}</string>
                <key>offset</key>
                <string>{115,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,151},{274,290}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,994},{292,256}}</string>
                <key>offset</key>
                <string>{119,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,178},{292,256}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1448},{184,246}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,169},{184,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,724},{188,218}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,209},{188,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,500},{238,200}}</string>
                <key>offset</key>
                <string>{-28,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,235},{238,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{262,230}}</string>
                <key>offset</key>
                <string>{-41,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,205},{262,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,856},{260,248}}</string>
                <key>offset</key>
                <string>{-40,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,187},{260,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{314,258}}</string>
                <key>offset</key>
                <string>{-66,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,177},{314,258}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,366},{328,244}}</string>
                <key>offset</key>
                <string>{136,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,191},{328,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{328,224}}</string>
                <key>offset</key>
                <string>{136,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,211},{328,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_9_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,320},{296,232}}</string>
                <key>offset</key>
                <string>{130,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,198},{296,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster57~4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebc0a94ba6e244582e74a1c47ada515e$</string>
            <key>textureFileName</key>
            <string>monster57~4.png</string>
        </dict>
    </dict>
</plist>
