<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_60_7_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,966},{156,214}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,222},{156,214}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,1364},{162,168}}</string>
                <key>offset</key>
                <string>{-56,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,259},{162,168}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1830},{194,194}}</string>
                <key>offset</key>
                <string>{-83,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,312},{194,194}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1830},{178,196}}</string>
                <key>offset</key>
                <string>{-99,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,312},{178,196}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,668},{238,180}}</string>
                <key>offset</key>
                <string>{-91,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,362},{238,180}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{294,194}}</string>
                <key>offset</key>
                <string>{-113,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,364},{294,194}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1234},{176,206}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,217},{176,206}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,1422},{164,156}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,267},{164,156}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1762},{162,168}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,255},{162,168}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,768},{162,216}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,206},{162,216}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,984},{200,184}}</string>
                <key>offset</key>
                <string>{-71,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,219},{200,184}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,448},{268,144}}</string>
                <key>offset</key>
                <string>{-105,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,296},{268,144}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,468},{246,140}}</string>
                <key>offset</key>
                <string>{-138,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,293},{246,140}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,338},{282,190}}</string>
                <key>offset</key>
                <string>{-138,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,289},{282,190}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,182},{290,156}}</string>
                <key>offset</key>
                <string>{-132,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,325},{290,156}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,610},{140,242}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,204},{140,242}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1762},{132,170}}</string>
                <key>offset</key>
                <string>{19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,276},{132,170}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,726},{130,182}}</string>
                <key>offset</key>
                <string>{19,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,264},{130,182}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{116,238}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,206},{116,238}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1376},{192,202}}</string>
                <key>offset</key>
                <string>{-68,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,187},{192,202}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,752},{228,134}}</string>
                <key>offset</key>
                <string>{-72,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,246},{228,134}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,530},{268,136}}</string>
                <key>offset</key>
                <string>{-94,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,240},{268,136}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{332,156}}</string>
                <key>offset</key>
                <string>{-100,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,232},{332,156}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,158}}</string>
                <key>offset</key>
                <string>{-97,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,266},{334,158}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,436},{144,246}}</string>
                <key>offset</key>
                <string>{33,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,207},{144,246}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1614},{134,170}}</string>
                <key>offset</key>
                <string>{27,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,283},{134,170}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,340},{120,180}}</string>
                <key>offset</key>
                <string>{23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,273},{120,180}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{118,234}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,218},{118,234}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,850},{160,234}}</string>
                <key>offset</key>
                <string>{16,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,157},{160,234}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1682},{140,134}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,231},{140,134}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1536},{178,130}}</string>
                <key>offset</key>
                <string>{-10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,229},{178,130}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,554},{244,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,242},{244,164}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_7_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{294,152}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,259},{294,152}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,720},{144,232}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,225},{144,232}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1312},{112,210}}</string>
                <key>offset</key>
                <string>{-27,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,247},{112,210}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1252},{118,214}}</string>
                <key>offset</key>
                <string>{-24,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,243},{118,214}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,990},{130,220}}</string>
                <key>offset</key>
                <string>{-25,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,237},{130,220}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1372},{152,208}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,249},{152,208}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,932},{174,212}}</string>
                <key>offset</key>
                <string>{25,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,245},{174,212}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,804},{106,236}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,221},{106,236}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,2},{178,222}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,235},{178,222}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1344},{176,212}}</string>
                <key>offset</key>
                <string>{-21,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,245},{176,212}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,228},{126,256}}</string>
                <key>offset</key>
                <string>{-40,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,202},{126,256}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,768},{118,214}}</string>
                <key>offset</key>
                <string>{-34,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,243},{118,214}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1262},{112,210}}</string>
                <key>offset</key>
                <string>{-29,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,247},{112,210}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,866},{196,214}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,222},{196,214}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1124},{156,212}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,223},{156,212}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,1108},{162,212}}</string>
                <key>offset</key>
                <string>{-33,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,224},{162,212}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1064},{168,212}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,224},{168,212}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1602},{158,194}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,242},{158,194}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,1272},{148,188}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,247},{148,188}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,182},{128,222}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,213},{128,222}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,356},{196,246}}</string>
                <key>offset</key>
                <string>{-58,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,188},{196,246}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,312},{162,220}}</string>
                <key>offset</key>
                <string>{-60,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,215},{162,220}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,2},{256,224}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,211},{256,224}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{170,216}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,219},{170,216}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,994},{146,214}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,222},{146,214}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,1186},{176,206}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,217},{176,206}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1570},{170,190}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,218},{170,190}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1798},{160,192}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,216},{160,192}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1526},{154,202}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,214},{154,202}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1682},{144,194}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,229},{144,194}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1412},{128,186}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,237},{128,186}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{170,232}}</string>
                <key>offset</key>
                <string>{-45,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,193},{170,232}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{148,278}}</string>
                <key>offset</key>
                <string>{-73,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,125},{148,278}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,246},{188,254}}</string>
                <key>offset</key>
                <string>{-69,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,149},{188,254}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,156},{290,204}}</string>
                <key>offset</key>
                <string>{64,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,204},{290,204}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1376},{158,190}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,219},{158,190}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1446},{166,188}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,220},{166,188}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,582},{140,242}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,204},{140,242}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{142,208}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,221},{142,208}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1122},{138,214}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,216},{138,214}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,912},{144,226}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,211},{144,226}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1174},{136,214}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,224},{136,214}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1828},{168,194}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,235},{168,194}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{148,258}}</string>
                <key>offset</key>
                <string>{-37,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,147},{148,258}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{102,300}}</string>
                <key>offset</key>
                <string>{-38,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,80},{102,300}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{242,292}}</string>
                <key>offset</key>
                <string>{-22,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,93},{242,292}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,594},{208,238}}</string>
                <key>offset</key>
                <string>{56,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,192},{208,238}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1666},{162,200}}</string>
                <key>offset</key>
                <string>{33,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,230},{162,200}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1296},{148,204}}</string>
                <key>offset</key>
                <string>{29,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,225},{148,204}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,476},{144,246}}</string>
                <key>offset</key>
                <string>{33,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,207},{144,246}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1058},{114,220}}</string>
                <key>offset</key>
                <string>{48,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{316,228},{114,220}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1132},{118,218}}</string>
                <key>offset</key>
                <string>{46,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,230},{118,218}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,858},{130,228}}</string>
                <key>offset</key>
                <string>{46,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,222},{130,228}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1142},{152,212}}</string>
                <key>offset</key>
                <string>{31,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,230},{152,212}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1426},{174,202}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,228},{174,202}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,340},{106,270}}</string>
                <key>offset</key>
                <string>{21,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,115},{106,270}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{178,302}}</string>
                <key>offset</key>
                <string>{42,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,77},{178,302}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,160},{176,300}}</string>
                <key>offset</key>
                <string>{42,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,81},{176,300}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,724},{126,232}}</string>
                <key>offset</key>
                <string>{61,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,216},{126,232}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1012},{118,226}}</string>
                <key>offset</key>
                <string>{56,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,222},{118,226}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_8_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,852},{112,224}}</string>
                <key>offset</key>
                <string>{51,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,224},{112,224}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,622},{144,232}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,225},{144,232}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,522},{122,202}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,255},{122,202}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,888},{104,224}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,232},{104,224}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1282},{92,206}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,250},{92,206}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,362},{104,252}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,203},{104,252}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_60~1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57b14f2f46494fcd6fab3bfcf3c95fa1$</string>
            <key>textureFileName</key>
            <string>monster_60~1.png</string>
        </dict>
    </dict>
</plist>
