<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_50_8_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{404,180}}</string>
                <key>offset</key>
                <string>{6,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,156},{404,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1106},{182,300}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,135},{182,300}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1142},{264,230}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,160},{264,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,600},{372,200}}</string>
                <key>offset</key>
                <string>{20,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,156},{372,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{436,198}}</string>
                <key>offset</key>
                <string>{9,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,143},{436,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{452,202}}</string>
                <key>offset</key>
                <string>{7,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,133},{452,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,202},{408,156}}</string>
                <key>offset</key>
                <string>{8,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,148},{408,156}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{390,132}}</string>
                <key>offset</key>
                <string>{11,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,106},{390,132}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,458},{362,160}}</string>
                <key>offset</key>
                <string>{11,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,81},{362,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1112},{276,188}}</string>
                <key>offset</key>
                <string>{2,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,140},{276,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{430,212}}</string>
                <key>offset</key>
                <string>{-2,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,132},{430,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,634},{238,328}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,120},{238,328}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,216},{392,196}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,210},{392,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2},{402,198}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,212},{402,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,202},{392,254}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,185},{392,254}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,360},{390,238}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,179},{390,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,2},{314,182}}</string>
                <key>offset</key>
                <string>{12,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,159},{314,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,448},{324,184}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,162},{324,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,664},{348,198}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,182},{348,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,458},{364,204}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,206},{364,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{382,198}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,210},{382,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,652},{362,218}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,171},{362,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,414},{380,236}}</string>
                <key>offset</key>
                <string>{-14,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,166},{380,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{364,274}}</string>
                <key>offset</key>
                <string>{-26,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,157},{364,274}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{352,282}}</string>
                <key>offset</key>
                <string>{-36,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,128},{352,282}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1290},{262,210}}</string>
                <key>offset</key>
                <string>{-12,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,125},{262,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1116},{280,216}}</string>
                <key>offset</key>
                <string>{8,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,130},{280,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,874},{304,230}}</string>
                <key>offset</key>
                <string>{17,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,135},{304,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,822},{318,234}}</string>
                <key>offset</key>
                <string>{13,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,158},{318,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,802},{356,220}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,171},{356,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1024},{292,256}}</string>
                <key>offset</key>
                <string>{-57,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,148},{292,256}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,186},{312,260}}</string>
                <key>offset</key>
                <string>{-70,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,144},{312,260}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,872},{298,238}}</string>
                <key>offset</key>
                <string>{-73,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,128},{298,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1112},{282,242}}</string>
                <key>offset</key>
                <string>{-100,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,90},{282,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,1502},{246,222}}</string>
                <key>offset</key>
                <string>{-45,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,94},{246,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{212,238}}</string>
                <key>offset</key>
                <string>{-38,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,106},{212,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1374},{226,250}}</string>
                <key>offset</key>
                <string>{-25,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,117},{226,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1334},{262,248}}</string>
                <key>offset</key>
                <string>{-33,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,138},{262,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,864},{298,250}}</string>
                <key>offset</key>
                <string>{-61,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,148},{298,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_50~3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68a66a8b108846ef1bbe02f67093bce2$</string>
            <key>textureFileName</key>
            <string>monster_50~3.png</string>
        </dict>
    </dict>
</plist>
