<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_59_3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,174},{270,200}}</string>
                <key>offset</key>
                <string>{23,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,229},{270,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,896},{222,228}}</string>
                <key>offset</key>
                <string>{28,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,231},{222,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,974},{222,206}}</string>
                <key>offset</key>
                <string>{26,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,235},{222,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,1688},{184,204}}</string>
                <key>offset</key>
                <string>{9,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,237},{184,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1534},{182,206}}</string>
                <key>offset</key>
                <string>{13,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,235},{182,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1120},{220,208}}</string>
                <key>offset</key>
                <string>{26,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,233},{220,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,732},{238,196}}</string>
                <key>offset</key>
                <string>{17,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,244},{238,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1182},{214,206}}</string>
                <key>offset</key>
                <string>{19,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,254},{214,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,1186},{160,210}}</string>
                <key>offset</key>
                <string>{39,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,249},{160,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1316},{158,220}}</string>
                <key>offset</key>
                <string>{33,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,238},{158,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1330},{202,214}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,242},{202,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,1390},{182,208}}</string>
                <key>offset</key>
                <string>{-3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,245},{182,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,418},{164,220}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,256},{164,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,1762},{176,202}}</string>
                <key>offset</key>
                <string>{7,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,257},{176,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1282},{188,194}}</string>
                <key>offset</key>
                <string>{16,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,248},{188,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1306},{206,214}}</string>
                <key>offset</key>
                <string>{18,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,244},{206,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,208},{200,212}}</string>
                <key>offset</key>
                <string>{17,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,256},{200,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1478},{192,220}}</string>
                <key>offset</key>
                <string>{17,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,271},{192,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1514},{172,208}}</string>
                <key>offset</key>
                <string>{20,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,264},{172,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,422},{166,200}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,253},{166,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1294},{186,222}}</string>
                <key>offset</key>
                <string>{20,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,254},{186,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1476},{186,212}}</string>
                <key>offset</key>
                <string>{9,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,250},{186,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1674},{186,224}}</string>
                <key>offset</key>
                <string>{16,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,270},{186,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1762},{180,204}}</string>
                <key>offset</key>
                <string>{11,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,266},{180,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1116},{164,190}}</string>
                <key>offset</key>
                <string>{5,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,256},{164,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1674},{152,224}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,240},{152,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,732},{162,234}}</string>
                <key>offset</key>
                <string>{-2,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,241},{162,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,878},{176,236}}</string>
                <key>offset</key>
                <string>{-7,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,264},{176,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,1574},{186,204}}</string>
                <key>offset</key>
                <string>{-6,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,270},{186,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1718},{182,188}}</string>
                <key>offset</key>
                <string>{1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,259},{182,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,886},{190,238}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,204},{190,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1086},{226,206}}</string>
                <key>offset</key>
                <string>{47,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,233},{226,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,1542},{206,156}}</string>
                <key>offset</key>
                <string>{27,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,265},{206,156}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{236,228}}</string>
                <key>offset</key>
                <string>{2,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,335},{236,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,208},{262,218}}</string>
                <key>offset</key>
                <string>{4,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,353},{262,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{332,166}}</string>
                <key>offset</key>
                <string>{-8,-189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,406},{332,166}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{332,160}}</string>
                <key>offset</key>
                <string>{-8,-192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,412},{332,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,574},{156,242}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,207},{156,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1458},{214,224}}</string>
                <key>offset</key>
                <string>{48,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,234},{214,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1718},{182,192}}</string>
                <key>offset</key>
                <string>{-22,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,250},{182,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,428},{258,236}}</string>
                <key>offset</key>
                <string>{-97,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,309},{258,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,328},{266,224}}</string>
                <key>offset</key>
                <string>{-110,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,329},{266,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{304,170}}</string>
                <key>offset</key>
                <string>{-105,-167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,382},{304,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,164},{304,162}}</string>
                <key>offset</key>
                <string>{-105,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,390},{304,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,564},{124,246}}</string>
                <key>offset</key>
                <string>{4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,206},{124,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,930},{154,228}}</string>
                <key>offset</key>
                <string>{6,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,234},{154,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,892},{230,228}}</string>
                <key>offset</key>
                <string>{-59,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,225},{230,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{238,210}}</string>
                <key>offset</key>
                <string>{-141,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,278},{238,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,666},{252,224}}</string>
                <key>offset</key>
                <string>{-150,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,267},{252,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,2},{282,204}}</string>
                <key>offset</key>
                <string>{-141,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,297},{282,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,170},{282,204}}</string>
                <key>offset</key>
                <string>{-141,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,297},{282,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,640},{168,236}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,213},{168,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1120},{194,222}}</string>
                <key>offset</key>
                <string>{-22,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,228},{194,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{238,246}}</string>
                <key>offset</key>
                <string>{-40,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,203},{238,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1122},{216,182}}</string>
                <key>offset</key>
                <string>{-101,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,230},{216,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,180},{248,198}}</string>
                <key>offset</key>
                <string>{-96,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,208},{248,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,590},{258,190}}</string>
                <key>offset</key>
                <string>{-98,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,255},{258,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,540},{258,190}}</string>
                <key>offset</key>
                <string>{-98,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,255},{258,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,732},{190,234}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,219},{190,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1078},{226,234}}</string>
                <key>offset</key>
                <string>{-38,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,220},{226,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{208,248}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,181},{208,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,180},{236,164}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,220},{236,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,376},{262,162}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,217},{262,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{332,176}}</string>
                <key>offset</key>
                <string>{16,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,246},{332,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_7_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,176}}</string>
                <key>offset</key>
                <string>{16,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,246},{332,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,554},{176,242}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,193},{176,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{186,244}}</string>
                <key>offset</key>
                <string>{-32,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,189},{186,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,380},{182,248}}</string>
                <key>offset</key>
                <string>{-23,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,185},{182,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,376},{196,246}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,187},{196,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1306},{220,224}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,209},{220,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,974},{210,210}}</string>
                <key>offset</key>
                <string>{40,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,223},{210,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,1348},{192,208}}</string>
                <key>offset</key>
                <string>{6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,224},{192,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1482},{180,212}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,217},{180,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,782},{190,250}}</string>
                <key>offset</key>
                <string>{-34,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,174},{190,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,924},{194,228}}</string>
                <key>offset</key>
                <string>{-36,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,200},{194,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{196,234}}</string>
                <key>offset</key>
                <string>{-37,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,198},{196,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,690},{194,240}}</string>
                <key>offset</key>
                <string>{-36,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,193},{194,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_59~1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:029b835ed760c954ab982facd9e67c84$</string>
            <key>textureFileName</key>
            <string>monster_59~1.png</string>
        </dict>
    </dict>
</plist>
