<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_54_11_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,238},{155,135}}</string>
                <key>offset</key>
                <string>{16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,112},{155,135}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,133},{159,119}}</string>
                <key>offset</key>
                <string>{14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,119},{159,119}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,133},{159,125}}</string>
                <key>offset</key>
                <string>{14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,112},{159,125}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,238},{163,123}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,117},{163,123}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{163,135}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,101},{163,135}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{157,137}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,85},{157,137}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,363},{127,163}}</string>
                <key>offset</key>
                <string>{-36,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,74},{127,163}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{117,169}}</string>
                <key>offset</key>
                <string>{-29,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,56},{117,169}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{227,105}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,116},{227,105}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{229,107}}</string>
                <key>offset</key>
                <string>{22,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,114},{229,107}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,107}}</string>
                <key>offset</key>
                <string>{22,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,114},{229,107}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,377},{115,133}}</string>
                <key>offset</key>
                <string>{-6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,123},{115,133}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,375},{119,143}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,109},{119,143}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,133},{121,123}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,86},{121,123}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,254},{111,143}}</string>
                <key>offset</key>
                <string>{-14,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,60},{111,143}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,121},{113,169}}</string>
                <key>offset</key>
                <string>{-12,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,34},{113,169}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,109},{171,127}}</string>
                <key>offset</key>
                <string>{18,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,111},{171,127}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{167,129}}</string>
                <key>offset</key>
                <string>{20,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,109},{167,129}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{167,129}}</string>
                <key>offset</key>
                <string>{20,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,109},{167,129}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,256},{101,115}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,129},{101,115}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,367},{111,131}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,109},{111,131}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,402},{87,133}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,87},{87,133}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,331},{69,157}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,55},{69,157}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,260},{69,191}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,24},{69,191}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,236},{71,139}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,118},{71,139}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,430},{69,139}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,118},{69,139}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>monster_54_11_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,359},{69,141}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,116},{69,141}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_54~1.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b166552a40b4bd0d03efcde84ca6c2e$</string>
            <key>textureFileName</key>
            <string>monster_54~1.png</string>
        </dict>
    </dict>
</plist>
