<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_50_9_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,748},{338,228}}</string>
                <key>offset</key>
                <string>{-17,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,163},{338,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,316},{376,248}}</string>
                <key>offset</key>
                <string>{-17,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,147},{376,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{364,220}}</string>
                <key>offset</key>
                <string>{-24,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,132},{364,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{342,198}}</string>
                <key>offset</key>
                <string>{-42,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,95},{342,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1012},{244,216}}</string>
                <key>offset</key>
                <string>{-22,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,105},{244,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,368},{254,220}}</string>
                <key>offset</key>
                <string>{0,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,121},{254,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{272,212}}</string>
                <key>offset</key>
                <string>{12,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,146},{272,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,590},{296,200}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,170},{296,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,792},{332,218}}</string>
                <key>offset</key>
                <string>{-17,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,163},{332,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{392,180}}</string>
                <key>offset</key>
                <string>{4,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,156},{392,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,196}}</string>
                <key>offset</key>
                <string>{14,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,139},{402,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,184},{392,130}}</string>
                <key>offset</key>
                <string>{12,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,164},{392,130}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{390,108}}</string>
                <key>offset</key>
                <string>{9,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,136},{390,108}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,978},{318,188}}</string>
                <key>offset</key>
                <string>{-8,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,140},{318,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{322,200}}</string>
                <key>offset</key>
                <string>{-2,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,113},{322,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,566},{348,180}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,139},{348,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{368,172}}</string>
                <key>offset</key>
                <string>{4,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,160},{368,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_9_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{382,178}}</string>
                <key>offset</key>
                <string>{3,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,156},{382,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_50~4.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a3c91ce194f60693ea94e4f2258d94e$</string>
            <key>textureFileName</key>
            <string>monster_50~4.png</string>
        </dict>
    </dict>
</plist>
