<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_57_7_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,1366},{144,188}}</string>
                <key>offset</key>
                <string>{-34,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,240},{144,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,398},{228,280}}</string>
                <key>offset</key>
                <string>{-42,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,247},{228,280}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,2},{294,228}}</string>
                <key>offset</key>
                <string>{-76,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,301},{294,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,232},{294,150}}</string>
                <key>offset</key>
                <string>{-75,-152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,377},{294,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,960},{184,248}}</string>
                <key>offset</key>
                <string>{-40,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,194},{184,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1750},{170,206}}</string>
                <key>offset</key>
                <string>{39,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,245},{170,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1702},{214,218}}</string>
                <key>offset</key>
                <string>{-82,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,218},{214,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,450},{238,274}}</string>
                <key>offset</key>
                <string>{-82,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,208},{238,274}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,628},{278,220}}</string>
                <key>offset</key>
                <string>{-104,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,260},{278,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,384},{276,184}}</string>
                <key>offset</key>
                <string>{-101,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,298},{276,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,960},{144,240}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,193},{144,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1750},{174,200}}</string>
                <key>offset</key>
                <string>{6,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,249},{174,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,570},{270,250}}</string>
                <key>offset</key>
                <string>{-99,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,177},{270,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{266,278}}</string>
                <key>offset</key>
                <string>{-102,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,171},{266,278}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,916},{256,210}}</string>
                <key>offset</key>
                <string>{-109,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,212},{256,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,974},{254,204}}</string>
                <key>offset</key>
                <string>{-108,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,245},{254,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1306},{192,244}}</string>
                <key>offset</key>
                <string>{-22,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,195},{192,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1730},{218,200}}</string>
                <key>offset</key>
                <string>{-48,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,232},{218,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,1004},{204,260}}</string>
                <key>offset</key>
                <string>{-50,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,147},{204,260}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,850},{208,278}}</string>
                <key>offset</key>
                <string>{-44,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,154},{208,278}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1146},{244,194}}</string>
                <key>offset</key>
                <string>{-25,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,209},{244,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1268},{244,192}}</string>
                <key>offset</key>
                <string>{-25,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,240},{244,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1500},{200,234}}</string>
                <key>offset</key>
                <string>{44,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,168},{200,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1416},{156,242}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,187},{156,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1112},{154,248}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,181},{154,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,178},{152,336}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,87},{152,336}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{162,314}}</string>
                <key>offset</key>
                <string>{11,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,103},{162,314}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,198},{176,296}}</string>
                <key>offset</key>
                <string>{24,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,114},{176,296}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1060},{192,256}}</string>
                <key>offset</key>
                <string>{41,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,146},{192,256}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,1180},{184,258}}</string>
                <key>offset</key>
                <string>{41,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,144},{184,258}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,868},{260,242}}</string>
                <key>offset</key>
                <string>{88,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,176},{260,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,548},{202,280}}</string>
                <key>offset</key>
                <string>{40,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,152},{202,280}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,752},{162,272}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,160},{162,272}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,588},{168,274}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,158},{168,274}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{174,342}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,88},{174,342}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,816},{156,228}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,201},{156,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1574},{154,234}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,195},{154,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,570},{228,244}}</string>
                <key>offset</key>
                <string>{28,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,168},{228,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1446},{208,230}}</string>
                <key>offset</key>
                <string>{50,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,198},{208,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1342},{226,234}}</string>
                <key>offset</key>
                <string>{57,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,194},{226,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,2},{246,296}}</string>
                <key>offset</key>
                <string>{67,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,129},{246,296}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,376},{210,284}}</string>
                <key>offset</key>
                <string>{51,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,137},{210,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,758},{200,264}}</string>
                <key>offset</key>
                <string>{50,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,152},{200,264}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1210},{192,246}}</string>
                <key>offset</key>
                <string>{54,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,166},{192,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,398},{110,238}}</string>
                <key>offset</key>
                <string>{27,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,174},{110,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,638},{120,260}}</string>
                <key>offset</key>
                <string>{26,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,160},{120,260}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1254},{160,246}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,183},{160,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,690},{176,268}}</string>
                <key>offset</key>
                <string>{-24,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,161},{176,268}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{168,278}}</string>
                <key>offset</key>
                <string>{-40,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,151},{168,278}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{234,298}}</string>
                <key>offset</key>
                <string>{45,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,130},{234,298}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1234},{250,216}}</string>
                <key>offset</key>
                <string>{67,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,212},{250,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1694},{224,222}}</string>
                <key>offset</key>
                <string>{59,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,205},{224,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1128},{176,246}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,169},{176,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2},{336,194}}</string>
                <key>offset</key>
                <string>{94,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,208},{336,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,192},{324,204}}</string>
                <key>offset</key>
                <string>{87,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,198},{324,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,332},{286,214}}</string>
                <key>offset</key>
                <string>{76,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,191},{286,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1570},{178,234}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,172},{178,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,822},{180,266}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,138},{180,266}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1202},{182,242}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,162},{182,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{196,276}}</string>
                <key>offset</key>
                <string>{-16,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,128},{196,276}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,250},{198,288}}</string>
                <key>offset</key>
                <string>{-20,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,116},{198,288}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{240,240}}</string>
                <key>offset</key>
                <string>{43,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,163},{240,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,194}}</string>
                <key>offset</key>
                <string>{109,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,215},{366,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_8_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{352,188}}</string>
                <key>offset</key>
                <string>{103,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,214},{352,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster57~3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0d10b1710233d068c1e90f7eac13d6a$</string>
            <key>textureFileName</key>
            <string>monster57~3.png</string>
        </dict>
    </dict>
</plist>
