<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_60_11_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,658},{152,232}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,225},{152,232}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,372},{88,260}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,198},{88,260}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,278},{92,264}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,194},{92,264}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,2},{122,284}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,175},{122,284}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1650},{128,162}}</string>
                <key>offset</key>
                <string>{-15,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,296},{128,162}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1810},{172,120}}</string>
                <key>offset</key>
                <string>{-2,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,338},{172,120}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,988},{140,224}}</string>
                <key>offset</key>
                <string>{-36,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,234},{140,224}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,182},{132,310}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,148},{132,310}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1222},{122,212}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,246},{122,212}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1616},{146,198}}</string>
                <key>offset</key>
                <string>{13,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,262},{146,198}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1158},{130,210}}</string>
                <key>offset</key>
                <string>{16,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,256},{130,210}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1130},{120,216}}</string>
                <key>offset</key>
                <string>{12,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,256},{120,216}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,554},{250,214}}</string>
                <key>offset</key>
                <string>{-25,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,225},{250,214}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,398},{248,210}}</string>
                <key>offset</key>
                <string>{48,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,229},{248,210}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,740},{242,218}}</string>
                <key>offset</key>
                <string>{44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,221},{242,218}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,480},{176,246}}</string>
                <key>offset</key>
                <string>{17,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,192},{176,246}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,722},{132,162}}</string>
                <key>offset</key>
                <string>{-56,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,275},{132,162}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1712},{174,130}}</string>
                <key>offset</key>
                <string>{-77,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,307},{174,130}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,368},{184,254}}</string>
                <key>offset</key>
                <string>{-33,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,185},{184,254}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{300,260}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,179},{300,260}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{226,174}}</string>
                <key>offset</key>
                <string>{37,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,265},{226,174}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1810},{152,174}}</string>
                <key>offset</key>
                <string>{-20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,265},{152,174}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,1414},{130,194}}</string>
                <key>offset</key>
                <string>{-48,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,248},{130,194}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1182},{126,210}}</string>
                <key>offset</key>
                <string>{-67,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,243},{126,210}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{220,210}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,217},{220,210}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,166}}</string>
                <key>offset</key>
                <string>{81,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,254},{332,166}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{320,178}}</string>
                <key>offset</key>
                <string>{76,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,242},{320,178}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,898},{234,200}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,223},{234,200}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1858},{156,178}}</string>
                <key>offset</key>
                <string>{-65,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,236},{156,178}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1694},{184,162}}</string>
                <key>offset</key>
                <string>{-85,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,252},{184,162}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,126},{240,276}}</string>
                <key>offset</key>
                <string>{-39,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,141},{240,276}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{314,274}}</string>
                <key>offset</key>
                <string>{8,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,143},{314,274}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,144},{276,134}}</string>
                <key>offset</key>
                <string>{53,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,283},{276,134}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,222},{186,174}}</string>
                <key>offset</key>
                <string>{-43,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,245},{186,174}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,1216},{128,196}}</string>
                <key>offset</key>
                <string>{-95,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,208},{128,196}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1324},{120,208}}</string>
                <key>offset</key>
                <string>{-99,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,197},{120,208}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,598},{140,246}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,203},{140,246}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{234,160}}</string>
                <key>offset</key>
                <string>{74,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,290},{234,160}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,2},{218,178}}</string>
                <key>offset</key>
                <string>{67,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,272},{218,178}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{166,210}}</string>
                <key>offset</key>
                <string>{33,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,239},{166,210}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1468},{128,194}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,216},{128,194}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1524},{168,198}}</string>
                <key>offset</key>
                <string>{-47,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,212},{168,198}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,230},{172,308}}</string>
                <key>offset</key>
                <string>{-20,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,131},{172,308}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{144,318}}</string>
                <key>offset</key>
                <string>{13,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,121},{144,318}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,1362},{194,150}}</string>
                <key>offset</key>
                <string>{31,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,289},{194,150}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1202},{158,214}}</string>
                <key>offset</key>
                <string>{-35,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,215},{158,214}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,886},{130,224}}</string>
                <key>offset</key>
                <string>{-73,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,154},{130,224}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,784},{114,230}}</string>
                <key>offset</key>
                <string>{-78,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,148},{114,230}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,404},{152,250}}</string>
                <key>offset</key>
                <string>{29,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,203},{152,250}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1764},{88,156}}</string>
                <key>offset</key>
                <string>{23,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,306},{88,156}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,404},{92,170}}</string>
                <key>offset</key>
                <string>{27,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,292},{92,170}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1432},{122,206}}</string>
                <key>offset</key>
                <string>{39,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,252},{122,206}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1858},{128,176}}</string>
                <key>offset</key>
                <string>{37,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,233},{128,176}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1150},{172,212}}</string>
                <key>offset</key>
                <string>{23,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,197},{172,212}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,2},{140,286}}</string>
                <key>offset</key>
                <string>{58,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,164},{140,286}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{132,318}}</string>
                <key>offset</key>
                <string>{26,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,132},{132,318}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1650},{122,166}}</string>
                <key>offset</key>
                <string>{16,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,284},{122,166}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,1054},{146,240}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,196},{146,240}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,730},{130,246}}</string>
                <key>offset</key>
                <string>{5,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,129},{130,246}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_11_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,462},{120,248}}</string>
                <key>offset</key>
                <string>{10,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,127},{120,248}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,874},{168,224}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,230},{168,224}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,812},{174,228}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,228},{174,228}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,704},{168,230}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,227},{168,230}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{144,232}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,225},{144,232}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,960},{196,214}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,222},{196,214}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,1346},{126,196}}</string>
                <key>offset</key>
                <string>{-26,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,239},{126,196}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1032},{116,220}}</string>
                <key>offset</key>
                <string>{-54,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,215},{116,220}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1044},{176,216}}</string>
                <key>offset</key>
                <string>{-79,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,220},{176,216}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,862},{194,220}}</string>
                <key>offset</key>
                <string>{25,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,216},{194,220}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1442},{172,202}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,234},{172,202}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1290},{176,208}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,227},{176,208}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1252},{178,210}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,225},{178,210}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,960},{196,214}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,222},{196,214}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1346},{176,206}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,217},{176,206}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,576},{136,206}}</string>
                <key>offset</key>
                <string>{-31,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,217},{136,206}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,1100},{114,236}}</string>
                <key>offset</key>
                <string>{-70,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,187},{114,236}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,648},{220,248}}</string>
                <key>offset</key>
                <string>{-100,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,157},{220,248}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,404},{258,192}}</string>
                <key>offset</key>
                <string>{47,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,226},{258,192}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1480},{190,168}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,251},{190,168}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1858},{172,174}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,245},{172,174}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1446},{182,198}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,223},{182,198}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1346},{176,206}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,217},{176,206}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,912},{140,242}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,204},{140,242}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,900},{130,220}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,207},{130,220}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,280},{122,262}}</string>
                <key>offset</key>
                <string>{-45,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,147},{122,262}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,316},{162,288}}</string>
                <key>offset</key>
                <string>{-56,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,93},{162,288}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1630},{178,188}}</string>
                <key>offset</key>
                <string>{44,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,251},{178,188}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1112},{172,184}}</string>
                <key>offset</key>
                <string>{31,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,255},{172,184}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1556},{154,198}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,243},{154,198}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1286},{126,210}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,233},{126,210}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,770},{140,242}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,204},{140,242}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,584},{144,246}}</string>
                <key>offset</key>
                <string>{33,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,207},{144,246}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1058},{122,214}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,213},{122,214}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,280},{104,262}}</string>
                <key>offset</key>
                <string>{21,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,138},{104,262}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,136},{92,312}}</string>
                <key>offset</key>
                <string>{22,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,68},{92,312}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,544},{104,176}}</string>
                <key>offset</key>
                <string>{19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,273},{104,176}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1780},{168,168}}</string>
                <key>offset</key>
                <string>{15,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,281},{168,168}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1858},{174,182}}</string>
                <key>offset</key>
                <string>{17,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,268},{174,182}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1310},{168,208}}</string>
                <key>offset</key>
                <string>{25,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,244},{168,208}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
            <key>monster_60_9_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,558},{144,246}}</string>
                <key>offset</key>
                <string>{33,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,207},{144,246}}</string>
                <key>sourceSize</key>
                <string>{650,650}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_60~2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:517e5c9f2903997397879887f697e6a7$</string>
            <key>textureFileName</key>
            <string>monster_60~2.png</string>
        </dict>
    </dict>
</plist>
