<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_52_7_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,1416},{200,258}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,210},{200,258}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,546},{212,288}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,203},{212,288}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,174},{264,310}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,205},{264,310}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1676},{276,274}}</string>
                <key>offset</key>
                <string>{26,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,253},{276,274}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,734},{284,262}}</string>
                <key>offset</key>
                <string>{30,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,285},{284,262}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,760},{284,286}}</string>
                <key>offset</key>
                <string>{30,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,319},{284,286}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,440},{282,294}}</string>
                <key>offset</key>
                <string>{30,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,333},{282,294}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,996},{282,280}}</string>
                <key>offset</key>
                <string>{30,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,347},{282,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{282,280}}</string>
                <key>offset</key>
                <string>{30,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,347},{282,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,280},{152,268}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,211},{152,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,1206},{178,268}}</string>
                <key>offset</key>
                <string>{35,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,213},{178,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,724},{240,286}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,213},{240,286}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1676},{278,264}}</string>
                <key>offset</key>
                <string>{-44,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,248},{278,264}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1278},{280,278}}</string>
                <key>offset</key>
                <string>{-44,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,288},{280,278}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1676},{278,258}}</string>
                <key>offset</key>
                <string>{-43,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,315},{278,258}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1328},{280,248}}</string>
                <key>offset</key>
                <string>{-44,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,347},{280,248}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1206},{280,234}}</string>
                <key>offset</key>
                <string>{-44,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,361},{280,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1046},{280,234}}</string>
                <key>offset</key>
                <string>{-44,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,361},{280,234}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,492},{102,280}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,205},{102,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,806},{168,270}}</string>
                <key>offset</key>
                <string>{25,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,231},{168,270}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1676},{226,266}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,204},{226,266}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{282,258}}</string>
                <key>offset</key>
                <string>{-27,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,213},{282,258}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{360,320}}</string>
                <key>offset</key>
                <string>{-66,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,245},{360,320}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{388,264}}</string>
                <key>offset</key>
                <string>{-80,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,297},{388,264}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{394,220}}</string>
                <key>offset</key>
                <string>{-83,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,342},{394,220}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{396,194}}</string>
                <key>offset</key>
                <string>{-83,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,368},{396,194}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{396,194}}</string>
                <key>offset</key>
                <string>{-83,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,368},{396,194}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,550},{174,254}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,208},{174,254}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,626},{196,260}}</string>
                <key>offset</key>
                <string>{-9,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,258},{196,260}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,966},{238,286}}</string>
                <key>offset</key>
                <string>{-28,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,185},{238,286}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,484},{236,324}}</string>
                <key>offset</key>
                <string>{-43,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,167},{236,324}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,224},{266,328}}</string>
                <key>offset</key>
                <string>{-59,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,192},{266,328}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,492},{292,240}}</string>
                <key>offset</key>
                <string>{-72,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,280},{292,240}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,322},{302,178}}</string>
                <key>offset</key>
                <string>{-73,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,342},{302,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,2},{318,170}}</string>
                <key>offset</key>
                <string>{-65,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,353},{318,170}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{318,170}}</string>
                <key>offset</key>
                <string>{-65,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,353},{318,170}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,888},{202,256}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,207},{202,256}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,1146},{212,268}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,233},{212,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,280},{264,302}}</string>
                <key>offset</key>
                <string>{-15,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,171},{264,302}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{276,360}}</string>
                <key>offset</key>
                <string>{-25,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,142},{276,360}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,198},{284,372}}</string>
                <key>offset</key>
                <string>{-28,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,161},{284,372}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,722},{284,272}}</string>
                <key>offset</key>
                <string>{-28,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,261},{284,272}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1230},{282,230}}</string>
                <key>offset</key>
                <string>{-28,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,303},{282,230}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,998},{282,230}}</string>
                <key>offset</key>
                <string>{-28,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,303},{282,230}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_7_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,998},{282,230}}</string>
                <key>offset</key>
                <string>{-28,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,303},{282,230}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_52~1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f775dea6b4cf7bd2d4b05bc652f5c0ef$</string>
            <key>textureFileName</key>
            <string>monster_52~1.png</string>
        </dict>
    </dict>
</plist>
