<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_50_8_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,174},{404,196}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,210},{404,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,1426},{180,218}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,165},{180,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1708},{264,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,180},{264,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{370,236}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,188},{370,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{436,196}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,213},{436,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,198}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,210},{458,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{408,228}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,200},{408,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,232},{390,232}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,192},{390,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{362,194}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,205},{362,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{276,142}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,199},{276,142}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{414,170}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,181},{414,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1494},{238,184}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,173},{238,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,560},{370,218}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,171},{370,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,780},{266,194}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,175},{266,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,780},{342,218}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,183},{342,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,372},{378,236}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,168},{378,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,200},{380,208}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,188},{380,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,410},{378,200}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,206},{378,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,610},{368,232}}</string>
                <key>offset</key>
                <string>{-38,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,185},{368,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{350,266}}</string>
                <key>offset</key>
                <string>{-56,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,150},{350,266}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1460},{276,246}}</string>
                <key>offset</key>
                <string>{-79,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,145},{276,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1348},{278,144}}</string>
                <key>offset</key>
                <string>{-31,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,191},{278,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1232},{324,192}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,190},{324,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,878},{342,148}}</string>
                <key>offset</key>
                <string>{31,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,198},{342,148}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{286,262}}</string>
                <key>offset</key>
                <string>{-60,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,148},{286,262}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1152},{344,146}}</string>
                <key>offset</key>
                <string>{23,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,191},{344,146}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,878},{356,184}}</string>
                <key>offset</key>
                <string>{-7,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,179},{356,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1028},{328,242}}</string>
                <key>offset</key>
                <string>{-33,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,159},{328,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1272},{280,280}}</string>
                <key>offset</key>
                <string>{-76,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,148},{280,280}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,1048},{272,274}}</string>
                <key>offset</key>
                <string>{-92,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,165},{272,274}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1708},{268,242}}</string>
                <key>offset</key>
                <string>{-110,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,161},{268,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1426},{238,216}}</string>
                <key>offset</key>
                <string>{-127,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,114},{238,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1734},{238,224}}</string>
                <key>offset</key>
                <string>{-120,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,86},{238,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1494},{246,192}}</string>
                <key>offset</key>
                <string>{-45,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,148},{246,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1734},{264,230}}</string>
                <key>offset</key>
                <string>{-26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,192},{264,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1064},{350,214}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,201},{350,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,326},{346,232}}</string>
                <key>offset</key>
                <string>{-12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,164},{346,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,1322},{294,256}}</string>
                <key>offset</key>
                <string>{17,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,144},{294,256}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1000},{330,230}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,164},{330,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{378,246}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,158},{378,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,844},{356,252}}</string>
                <key>offset</key>
                <string>{-17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,154},{356,252}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,612},{362,264}}</string>
                <key>offset</key>
                <string>{-23,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,144},{362,264}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,466},{370,228}}</string>
                <key>offset</key>
                <string>{-38,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,142},{370,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,696},{360,180}}</string>
                <key>offset</key>
                <string>{-52,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,94},{360,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1280},{292,178}}</string>
                <key>offset</key>
                <string>{-70,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,74},{292,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1708},{266,210}}</string>
                <key>offset</key>
                <string>{-29,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,127},{266,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1098},{296,248}}</string>
                <key>offset</key>
                <string>{12,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,148},{296,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_8_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,2},{308,322}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,136},{308,322}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_50~2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e2084318b7a31bedb0b6fe081d6f739$</string>
            <key>textureFileName</key>
            <string>monster_50~2.png</string>
        </dict>
    </dict>
</plist>
