<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_20_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,282},{60,138}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,143},{60,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_20_0_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{60,138}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,143},{60,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_20_0_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{60,138}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,143},{60,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_20_0_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,142},{60,138}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,143},{60,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_20_0_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{60,138}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,143},{60,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_20_0_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,138}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,143},{60,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_20_0_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{60,138}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,143},{60,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_20_0_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,138}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,143},{60,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_20.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5bd37b6fd8753c4f5c69dddbcadb162$</string>
            <key>textureFileName</key>
            <string>npc_20.png</string>
        </dict>
    </dict>
</plist>
