<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_26_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,138}}</string>
                <key>offset</key>
                <string>{-22,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,145},{152,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_26_0_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{150,138}}</string>
                <key>offset</key>
                <string>{-23,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,146},{150,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_26_0_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,278},{142,138}}</string>
                <key>offset</key>
                <string>{-24,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,146},{142,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_26_0_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,280},{142,136}}</string>
                <key>offset</key>
                <string>{-25,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,146},{142,136}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_26_0_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,142},{144,136}}</string>
                <key>offset</key>
                <string>{-26,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,146},{144,136}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_26_0_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{144,136}}</string>
                <key>offset</key>
                <string>{-23,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,146},{144,136}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_26_0_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,140},{146,136}}</string>
                <key>offset</key>
                <string>{-21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,146},{146,136}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_26_0_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{150,136}}</string>
                <key>offset</key>
                <string>{-20,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,146},{150,136}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_26.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b32e263b4b387c86cb6215c5832b08b2$</string>
            <key>textureFileName</key>
            <string>npc_26.png</string>
        </dict>
    </dict>
</plist>
