<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_30_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{56,126}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,157},{56,126}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_30_0_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{56,126}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,157},{56,126}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_30_0_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,130},{56,126}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,158},{56,126}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_30_0_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{56,126}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,158},{56,126}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_30_0_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{56,126}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,157},{56,126}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_30_0_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{56,126}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,157},{56,126}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_30_0_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{56,126}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,157},{56,126}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_30_0_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,126}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,157},{56,126}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_30.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:493bdec70a81b53c9102fd3a9072509a$</string>
            <key>textureFileName</key>
            <string>npc_30.png</string>
        </dict>
    </dict>
</plist>
