<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nster_6_8_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{136,226}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,53},{136,226}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>nster_6_8_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,254},{162,204}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,83},{162,204}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>nster_6_8_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,708},{148,126}}</string>
                <key>offset</key>
                <string>{42,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,161},{148,126}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>nster_6_8_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{202,124}}</string>
                <key>offset</key>
                <string>{49,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,163},{202,124}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>nster_6_8_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,128},{206,124}}</string>
                <key>offset</key>
                <string>{33,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,163},{206,124}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>nster_6_8_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{232,124}}</string>
                <key>offset</key>
                <string>{22,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,163},{232,124}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>nster_6_8_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{190,128}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,155},{190,128}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>nster_6_8_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{188,132}}</string>
                <key>offset</key>
                <string>{-21,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,149},{188,132}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>nster_6_8_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,418},{172,198}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,83},{172,198}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>nster_6_8_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,234}}</string>
                <key>offset</key>
                <string>{18,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,48},{118,234}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>nster_6_8_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{150,200}}</string>
                <key>offset</key>
                <string>{21,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,81},{150,200}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>nster_6_8_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,418},{94,116}}</string>
                <key>offset</key>
                <string>{13,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,167},{94,116}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>nster_6_8_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,592},{192,114}}</string>
                <key>offset</key>
                <string>{53,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,166},{192,114}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>nster_6_8_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{196,114}}</string>
                <key>offset</key>
                <string>{44,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,166},{196,114}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>nster_6_8_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,784},{176,134}}</string>
                <key>offset</key>
                <string>{19,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,159},{176,134}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>nster_6_8_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,836},{120,138}}</string>
                <key>offset</key>
                <string>{-12,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,157},{120,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nster_6~1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74d0113c0fb2840ce5a37832fc88aad1$</string>
            <key>textureFileName</key>
            <string>nster_6~1.png</string>
        </dict>
    </dict>
</plist>
