<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_1_4_2_4_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,212}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,97},{104,212}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_2_4_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,108},{104,196}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,98},{104,196}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_2_4_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,306},{104,180}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,111},{104,180}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_2_4_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,108},{104,168}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,122},{104,168}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_2_4_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{104,188}}</string>
                <key>offset</key>
                <string>{4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,125},{104,188}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_2_4_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{104,214}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,118},{104,214}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_2_4_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,226}}</string>
                <key>offset</key>
                <string>{3,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,112},{104,226}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_1_4_1_1_0_6~1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be97ddd6109fe66e3151b65d38a0506c$</string>
            <key>textureFileName</key>
            <string>player_1_4_1_1_0_6~1.png</string>
        </dict>
    </dict>
</plist>
