<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_1_3_3_11_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,724},{68,114}}</string>
                <key>offset</key>
                <string>{-38,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,64},{68,114}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,414},{132,108}}</string>
                <key>offset</key>
                <string>{-15,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,60},{132,108}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,308},{76,138}}</string>
                <key>offset</key>
                <string>{14,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,67},{76,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,196},{140,110}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,110},{140,110}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,556},{122,106}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,106},{122,106}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{164,82}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,137},{164,82}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,86}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,132},{172,86}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{166,84}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,129},{166,84}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{150,100}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,117},{150,100}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{120,114}}</string>
                <key>offset</key>
                <string>{-24,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,53},{120,114}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,436},{98,118}}</string>
                <key>offset</key>
                <string>{-42,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,51},{98,118}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,312},{86,122}}</string>
                <key>offset</key>
                <string>{-50,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,56},{86,122}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,88},{156,106}}</string>
                <key>offset</key>
                <string>{-11,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,106},{156,106}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,636},{86,118}}</string>
                <key>offset</key>
                <string>{-35,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,50},{86,118}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,524},{110,122}}</string>
                <key>offset</key>
                <string>{13,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,57},{110,122}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,488},{126,126}}</string>
                <key>offset</key>
                <string>{20,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,79},{126,126}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,616},{72,122}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,92},{72,122}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,386},{134,100}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,119},{134,100}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,194},{140,116}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,117},{140,116}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{132,124}}</string>
                <key>offset</key>
                <string>{18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,112},{132,124}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{138,114}}</string>
                <key>offset</key>
                <string>{17,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,105},{138,114}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,86},{156,106}}</string>
                <key>offset</key>
                <string>{11,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,104},{156,106}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{148,102}}</string>
                <key>offset</key>
                <string>{-8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,111},{148,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,312},{134,100}}</string>
                <key>offset</key>
                <string>{-7,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,88},{134,100}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{124,102}}</string>
                <key>offset</key>
                <string>{-12,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,73},{124,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,794},{100,104}}</string>
                <key>offset</key>
                <string>{-33,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,68},{100,104}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{116,104}}</string>
                <key>offset</key>
                <string>{-9,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,61},{116,104}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,664},{98,114}}</string>
                <key>offset</key>
                <string>{28,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,60},{98,114}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,764},{112,102}}</string>
                <key>offset</key>
                <string>{9,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,61},{112,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_3_3_11_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,690},{112,116}}</string>
                <key>offset</key>
                <string>{-18,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,53},{112,116}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_1_3_3~2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d38eb8a531e995bde75d6b3e5ee5158$</string>
            <key>textureFileName</key>
            <string>player_1_3_3~2.png</string>
        </dict>
    </dict>
</plist>
