<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caiji_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{40,24}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,386},{40,24}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>caiji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{40,54}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,363},{40,54}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>caiji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,44},{40,50}}</string>
                <key>offset</key>
                <string>{-12,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,344},{40,50}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>caiji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,92}}</string>
                <key>offset</key>
                <string>{-18,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,328},{50,92}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>caiji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,106}}</string>
                <key>offset</key>
                <string>{-18,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,314},{50,106}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>caiji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,96},{50,88}}</string>
                <key>offset</key>
                <string>{-19,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,310},{50,88}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>caiji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{42,92}}</string>
                <key>offset</key>
                <string>{-21,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,321},{42,92}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>caiji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,186},{54,74}}</string>
                <key>offset</key>
                <string>{-16,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,334},{54,74}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>caiji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{54,94}}</string>
                <key>offset</key>
                <string>{-15,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,323},{54,94}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caiji.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e874b2c3249092eea95233cb6fec5d4b$</string>
            <key>textureFileName</key>
            <string>caiji.png</string>
        </dict>
    </dict>
</plist>
