<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EquipSet1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,186},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,94},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,278},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{90,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>EquipSet1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EquipSet1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adc704c65a35c1413cc6315e71141e1b$</string>
            <key>textureFileName</key>
            <string>EquipSet1.png</string>
        </dict>
    </dict>
</plist>
