<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinggai_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,73},{135,45}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,18},{135,45}}</string>
                <key>sourceSize</key>
                <string>{235,69}</string>
            </dict>
            <key>jinggai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,73},{143,53}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,10},{143,53}}</string>
                <key>sourceSize</key>
                <string>{235,69}</string>
            </dict>
            <key>jinggai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,210},{135,45}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,18},{135,45}}</string>
                <key>sourceSize</key>
                <string>{235,69}</string>
            </dict>
            <key>jinggai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,265},{135,45}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,18},{135,45}}</string>
                <key>sourceSize</key>
                <string>{235,69}</string>
            </dict>
            <key>jinggai_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,402},{135,45}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,18},{135,45}}</string>
                <key>sourceSize</key>
                <string>{235,69}</string>
            </dict>
            <key>jinggai_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,265},{135,45}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,18},{135,45}}</string>
                <key>sourceSize</key>
                <string>{235,69}</string>
            </dict>
            <key>jinggai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,296},{175,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{175,57}}</string>
                <key>sourceSize</key>
                <string>{235,69}</string>
            </dict>
            <key>jinggai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{201,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{201,67}}</string>
                <key>sourceSize</key>
                <string>{235,69}</string>
            </dict>
            <key>jinggai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{221,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{221,69}}</string>
                <key>sourceSize</key>
                <string>{235,69}</string>
            </dict>
            <key>jinggai_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{233,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{233,69}}</string>
                <key>sourceSize</key>
                <string>{235,69}</string>
            </dict>
            <key>jinggai_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,69}}</string>
                <key>sourceSize</key>
                <string>{235,69}</string>
            </dict>
            <key>jinggai_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,73},{135,45}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,18},{135,45}}</string>
                <key>sourceSize</key>
                <string>{235,69}</string>
            </dict>
            <key>jinggai_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,73},{135,45}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,18},{135,45}}</string>
                <key>sourceSize</key>
                <string>{235,69}</string>
            </dict>
            <key>jinggai_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,218},{135,45}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,18},{135,45}}</string>
                <key>sourceSize</key>
                <string>{235,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinggai.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:745ba8fc8eac435c1af8c1bb0780d410$</string>
            <key>textureFileName</key>
            <string>jinggai.png</string>
        </dict>
    </dict>
</plist>
