<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengxing_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,272}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{282,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>shengxing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{248,236}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,31},{248,236}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>shengxing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{208,206}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,52},{208,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>shengxing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,210},{172,172}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,65},{172,172}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>shengxing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,384},{136,136}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,85},{136,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>shengxing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,506},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,90},{120,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>shengxing_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,384},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,90},{120,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shengxing.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35c7a3497af671392fadcf794d2d8bb4$</string>
            <key>textureFileName</key>
            <string>shengxing.png</string>
        </dict>
    </dict>
</plist>
