<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengji_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{159,365}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,49},{159,365}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1105},{159,405}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{159,405}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{157,433}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{157,433}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{151,433}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{151,433}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,439}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{159,439}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{159,437}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{159,437}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{159,437}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{159,437}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,163},{157,437}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{157,437}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,322},{147,437}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{147,437}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{131,437}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{131,437}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{117,437}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{117,437}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{109,437}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,3},{109,437}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1043},{159,407}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{159,407}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1027},{159,411}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{159,411}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,630},{147,411}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{147,411}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,944},{159,411}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{159,411}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{159,423}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{159,423}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,783},{159,425}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{159,425}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,471},{157,433}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{157,433}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
            <key>shengji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,630},{151,433}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{151,433}}</string>
                <key>sourceSize</key>
                <string>{159,447}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shengji.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f9aab5665d6136017ba588da1edc601$</string>
            <key>textureFileName</key>
            <string>shengji.png</string>
        </dict>
    </dict>
</plist>
