<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_32_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,262},{36,84}}</string>
                <key>offset</key>
                <string>{-148,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,58},{36,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,262},{34,84}}</string>
                <key>offset</key>
                <string>{-108,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,187},{34,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,662},{258,178}}</string>
                <key>offset</key>
                <string>{11,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,262},{258,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,438}}</string>
                <key>offset</key>
                <string>{11,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,2},{258,438}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{266,366}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,74},{266,366}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{224,316}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,104},{224,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{226,172}}</string>
                <key>offset</key>
                <string>{-13,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,250},{226,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{212,186}}</string>
                <key>offset</key>
                <string>{-6,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,236},{212,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1066},{232,188}}</string>
                <key>offset</key>
                <string>{-6,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,235},{232,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{236,158}}</string>
                <key>offset</key>
                <string>{0,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,265},{236,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,994},{198,154}}</string>
                <key>offset</key>
                <string>{1,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,269},{198,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,568},{204,144}}</string>
                <key>offset</key>
                <string>{-2,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,279},{204,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{284,354}}</string>
                <key>offset</key>
                <string>{7,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,11},{284,354}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,190},{210,130}}</string>
                <key>offset</key>
                <string>{-3,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,275},{210,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,774},{218,134}}</string>
                <key>offset</key>
                <string>{-3,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,272},{218,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,828},{252,236}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,130},{252,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,568},{258,288}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,79},{258,288}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,322},{262,156}}</string>
                <key>offset</key>
                <string>{-13,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,211},{262,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{268,174}}</string>
                <key>offset</key>
                <string>{-10,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,246},{268,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,270},{296,326}}</string>
                <key>offset</key>
                <string>{-10,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,112},{296,326}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,842},{268,220}}</string>
                <key>offset</key>
                <string>{6,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,220},{268,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>skill_3_32_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,480},{260,180}}</string>
                <key>offset</key>
                <string>{10,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,260},{260,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_32.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8c7c237bb00570908001583bfc45020$</string>
            <key>textureFileName</key>
            <string>skill_3_32.png</string>
        </dict>
    </dict>
</plist>
