<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_30_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{210,176}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,102},{210,176}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_30_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{200,172}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,99},{200,172}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_30_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{260,218}}</string>
                <key>offset</key>
                <string>{24,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,64},{260,218}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_30_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,222}}</string>
                <key>offset</key>
                <string>{23,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,60},{262,222}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_30_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{254,226}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,56},{254,226}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_30_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{258,208}}</string>
                <key>offset</key>
                <string>{16,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,69},{258,208}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_30_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{208,176}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,96},{208,176}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_30_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,212},{258,186}}</string>
                <key>offset</key>
                <string>{24,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,92},{258,186}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_30_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,222},{258,180}}</string>
                <key>offset</key>
                <string>{25,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,89},{258,180}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_30_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{258,178}}</string>
                <key>offset</key>
                <string>{25,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,87},{258,178}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_30_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,514},{242,190}}</string>
                <key>offset</key>
                <string>{33,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,79},{242,190}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_30_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,404},{246,198}}</string>
                <key>offset</key>
                <string>{31,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,75},{246,198}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_30_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,400},{250,208}}</string>
                <key>offset</key>
                <string>{29,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,70},{250,208}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_30_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,258},{254,212}}</string>
                <key>offset</key>
                <string>{27,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,69},{254,212}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_30.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e26113e476447b74c898d85667d1c15f$</string>
            <key>textureFileName</key>
            <string>skill_3_30.png</string>
        </dict>
    </dict>
</plist>
