<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_64_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,2},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{500,477}}</string>
                <key>offset</key>
                <string>{-32,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,78},{500,477}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1293},{452,477}}</string>
                <key>offset</key>
                <string>{-21,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,56},{452,477}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,868},{512,423}}</string>
                <key>offset</key>
                <string>{-25,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,13},{512,423}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,497},{576,447}}</string>
                <key>offset</key>
                <string>{-30,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,0},{576,447}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{642,493}}</string>
                <key>offset</key>
                <string>{-33,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,0},{642,493}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{742,543}}</string>
                <key>offset</key>
                <string>{-19,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,0},{742,543}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,467},{590,399}}</string>
                <key>offset</key>
                <string>{43,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,116},{590,399}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,2},{604,463}}</string>
                <key>offset</key>
                <string>{79,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,77},{604,463}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,946},{324,341}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,129},{324,341}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1049},{180,181}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,212},{180,181}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,2},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,868},{192,179}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,222},{192,179}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1688},{368,347}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,144},{368,347}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,547},{210,217}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,197},{210,217}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1293},{288,291}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,163},{288,291}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1293},{354,393}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,100},{354,393}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_64.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6ef54c9104fcc6e9dfb062746c74c0a$</string>
            <key>textureFileName</key>
            <string>skill_3_64.png</string>
        </dict>
    </dict>
</plist>
