<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_55_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{506,462}}</string>
                <key>offset</key>
                <string>{14,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,134},{506,462}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>skill_3_55_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,964},{506,474}}</string>
                <key>offset</key>
                <string>{12,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,124},{506,474}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>skill_3_55_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,484},{508,478}}</string>
                <key>offset</key>
                <string>{11,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,121},{508,478}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>skill_3_55_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{508,480}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,120},{508,480}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>skill_3_55_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{506,486}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,117},{506,486}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>skill_3_55_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,496}}</string>
                <key>offset</key>
                <string>{12,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,113},{510,496}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>skill_3_55_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1440},{440,306}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,165},{440,306}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_55~1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c532fb0d3d80435412bbd742f33c5c4$</string>
            <key>textureFileName</key>
            <string>skill_3_55~1.png</string>
        </dict>
    </dict>
</plist>
