<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_1_54_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{296,214}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,513},{296,214}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>skill_1_54_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,218},{368,294}}</string>
                <key>offset</key>
                <string>{-12,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,496},{368,294}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>skill_1_54_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,978},{512,398}}</string>
                <key>offset</key>
                <string>{-7,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,473},{512,398}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>skill_1_54_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{614,420}}</string>
                <key>offset</key>
                <string>{-3,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,486},{614,420}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>skill_1_54_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{690,458}}</string>
                <key>offset</key>
                <string>{16,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,461},{690,458}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>skill_1_54_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{666,514}}</string>
                <key>offset</key>
                <string>{8,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,424},{666,514}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>skill_1_54_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{572,364}}</string>
                <key>offset</key>
                <string>{8,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,458},{572,364}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>skill_1_54_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,588},{270,178}}</string>
                <key>offset</key>
                <string>{-8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,538},{270,178}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_1_54.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0cb0a7d6c572d7b8d95c2c46e9ebf1d$</string>
            <key>textureFileName</key>
            <string>skill_1_54.png</string>
        </dict>
    </dict>
</plist>
