<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,272},{102,154}}</string>
                <key>offset</key>
                <string>{3,155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,18},{102,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>skill_3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,522},{122,186}}</string>
                <key>offset</key>
                <string>{3,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,57},{122,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>skill_3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,784},{136,208}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,100},{136,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>skill_3_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{212,242}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,145},{212,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>skill_3_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{256,260}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,144},{256,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>skill_3_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{290,268}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,145},{290,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>skill_3_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{312,268}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,144},{312,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>skill_3_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{312,266}}</string>
                <key>offset</key>
                <string>{5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,148},{312,266}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>skill_3_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,250}}</string>
                <key>offset</key>
                <string>{6,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,163},{314,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:540e4c0c7f0deffabbb3b99be41a7d22$</string>
            <key>textureFileName</key>
            <string>skill_3_4.png</string>
        </dict>
    </dict>
</plist>
