<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_17_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{104,136}}</string>
                <key>offset</key>
                <string>{-230,277}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,55},{104,136}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,108},{132,176}}</string>
                <key>offset</key>
                <string>{-191,227}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,85},{132,176}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_17_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{436,302}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,292},{436,302}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_17_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{414,254}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,332},{414,254}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_17_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,358},{118,106}}</string>
                <key>offset</key>
                <string>{-43,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,333},{118,106}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_17_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,286},{120,70}}</string>
                <key>offset</key>
                <string>{-42,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,367},{120,70}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1108},{228,260}}</string>
                <key>offset</key>
                <string>{-189,188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,82},{228,260}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_17_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1356},{238,300}}</string>
                <key>offset</key>
                <string>{-146,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,106},{238,300}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_17_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1108},{308,372}}</string>
                <key>offset</key>
                <string>{-75,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,161},{308,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_17_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{436,432}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,162},{436,432}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_17_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{436,408}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,186},{436,408}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_17_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{436,358}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,236},{436,358}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_17_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,412},{436,362}}</string>
                <key>offset</key>
                <string>{6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,252},{436,362}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>skill_3_17_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,776},{436,330}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,264},{436,330}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_17.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0123c65f19e0bd78b449f9d0546d6966$</string>
            <key>textureFileName</key>
            <string>skill_3_17.png</string>
        </dict>
    </dict>
</plist>
