<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_1_57_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{230,156}}</string>
                <key>offset</key>
                <string>{10,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,372},{230,156}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,334},{232,236}}</string>
                <key>offset</key>
                <string>{10,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,293},{232,236}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{286,528}}</string>
                <key>offset</key>
                <string>{12,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,0},{286,528}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,534},{296,528}}</string>
                <key>offset</key>
                <string>{13,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,0},{296,528}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1066},{306,530}}</string>
                <key>offset</key>
                <string>{15,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,0},{306,530}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,534},{316,530}}</string>
                <key>offset</key>
                <string>{17,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,0},{316,530}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1066},{330,530}}</string>
                <key>offset</key>
                <string>{18,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,0},{330,530}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{344,530}}</string>
                <key>offset</key>
                <string>{18,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,0},{344,530}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{360,530}}</string>
                <key>offset</key>
                <string>{16,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,0},{360,530}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{374,530}}</string>
                <key>offset</key>
                <string>{15,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,0},{374,530}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1598},{390,528}}</string>
                <key>offset</key>
                <string>{13,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,0},{390,528}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1598},{380,510}}</string>
                <key>offset</key>
                <string>{24,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,12},{380,510}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1586},{234,366}}</string>
                <key>offset</key>
                <string>{10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,164},{234,366}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{394,316}}</string>
                <key>offset</key>
                <string>{25,209}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,8},{394,316}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,2},{364,330}}</string>
                <key>offset</key>
                <string>{47,209}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,1},{364,330}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,234},{254,136}}</string>
                <key>offset</key>
                <string>{8,244}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,63},{254,136}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,530},{232,486}}</string>
                <key>offset</key>
                <string>{10,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,44},{232,486}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{234,530}}</string>
                <key>offset</key>
                <string>{10,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,0},{234,530}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{238,530}}</string>
                <key>offset</key>
                <string>{11,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,0},{238,530}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1060},{246,526}}</string>
                <key>offset</key>
                <string>{11,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,0},{246,526}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1060},{274,524}}</string>
                <key>offset</key>
                <string>{8,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,0},{274,524}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{274,526}}</string>
                <key>offset</key>
                <string>{8,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,0},{274,526}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
            <key>skill_1_57_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,532},{276,526}}</string>
                <key>offset</key>
                <string>{10,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,0},{276,526}}</string>
                <key>sourceSize</key>
                <string>{750,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_1_57.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b61d311f0eb4a654983161742b19415b$</string>
            <key>textureFileName</key>
            <string>skill_1_57.png</string>
        </dict>
    </dict>
</plist>
