<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_70_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{60,302}}</string>
                <key>offset</key>
                <string>{-8,319}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{462,30},{60,302}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_3_70_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,524},{62,216}}</string>
                <key>offset</key>
                <string>{-8,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,246},{62,216}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_3_70_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{268,256}}</string>
                <key>offset</key>
                <string>{-13,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,516},{268,256}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_3_70_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,268},{66,254}}</string>
                <key>offset</key>
                <string>{-10,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,459},{66,254}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_3_70_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,264}}</string>
                <key>offset</key>
                <string>{-3,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,582},{360,264}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_3_70_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{226,258}}</string>
                <key>offset</key>
                <string>{-14,-171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,542},{226,258}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_3_70_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,742},{234,268}}</string>
                <key>offset</key>
                <string>{-2,-164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,530},{234,268}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_3_70_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{260,312}}</string>
                <key>offset</key>
                <string>{-9,-147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,491},{260,312}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_3_70_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,264},{282,264}}</string>
                <key>offset</key>
                <string>{-16,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,546},{282,264}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_3_70_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,64},{280,292}}</string>
                <key>offset</key>
                <string>{-11,-171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,525},{280,292}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>skill_3_70_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{266,280}}</string>
                <key>offset</key>
                <string>{-18,-157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,517},{266,280}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_70.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:610b566b7c3c5035c56c1d497dabfaa1$</string>
            <key>textureFileName</key>
            <string>skill_3_70.png</string>
        </dict>
    </dict>
</plist>
