<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_55_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1800},{394,230}}</string>
                <key>offset</key>
                <string>{-27,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,231},{394,230}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>skill_3_55_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1522},{428,288}}</string>
                <key>offset</key>
                <string>{-14,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,218},{428,288}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>skill_3_55_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,448}}</string>
                <key>offset</key>
                <string>{13,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,145},{502,448}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>skill_3_55_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1510},{436,288}}</string>
                <key>offset</key>
                <string>{-15,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,219},{436,288}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>skill_3_55_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1236},{480,284}}</string>
                <key>offset</key>
                <string>{6,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,220},{480,284}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>skill_3_55_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{482,292}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,216},{482,292}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>skill_3_55_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{490,358}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,172},{490,358}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>skill_3_55_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,848},{498,386}}</string>
                <key>offset</key>
                <string>{12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,159},{498,386}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>skill_3_55_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{502,402}}</string>
                <key>offset</key>
                <string>{15,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,163},{502,402}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>skill_3_55_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,430},{502,416}}</string>
                <key>offset</key>
                <string>{15,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,157},{502,416}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>skill_3_55_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{502,426}}</string>
                <key>offset</key>
                <string>{15,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,154},{502,426}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_55.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29da04fde0a07922edb7d57f4c30c96f$</string>
            <key>textureFileName</key>
            <string>skill_3_55.png</string>
        </dict>
    </dict>
</plist>
