<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_21_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1530},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_21_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1148},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_21_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{228,160}}</string>
                <key>offset</key>
                <string>{19,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,65},{228,160}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_21_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_21_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_21_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,766},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_21_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_21_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,384},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_21_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_21_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_21_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_21.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea3bdc64c79f1b4353611978ce7d755a$</string>
            <key>textureFileName</key>
            <string>skill_3_21.png</string>
        </dict>
    </dict>
</plist>
