<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_41_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{208,180}}</string>
                <key>offset</key>
                <string>{10,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,132},{208,180}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_41_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,180}}</string>
                <key>offset</key>
                <string>{11,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,131},{212,180}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_41_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,184},{202,180}}</string>
                <key>offset</key>
                <string>{9,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,132},{202,180}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_41_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{210,180}}</string>
                <key>offset</key>
                <string>{11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,132},{210,180}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_41_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,182},{204,180}}</string>
                <key>offset</key>
                <string>{9,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,130},{204,180}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_41_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{200,178}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,131},{200,178}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_41_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,388},{194,180}}</string>
                <key>offset</key>
                <string>{7,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,130},{194,180}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_41_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{176,158}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,153},{176,158}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_41_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,182},{204,178}}</string>
                <key>offset</key>
                <string>{9,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,131},{204,178}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_41_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,188},{200,178}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,131},{200,178}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_41_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{190,178}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,131},{190,178}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_41_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,368},{180,190}}</string>
                <key>offset</key>
                <string>{7,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,120},{180,190}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_41_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{178,206}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,108},{178,206}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_41_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{184,210}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,105},{184,210}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_41_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,366},{196,192}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,122},{196,192}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>skill_3_41_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,364},{200,186}}</string>
                <key>offset</key>
                <string>{8,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,127},{200,186}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_41.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18c8f0ec9a8ab3db28dc565a761bb986$</string>
            <key>textureFileName</key>
            <string>skill_3_41.png</string>
        </dict>
    </dict>
</plist>
