<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_64_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{790,579}}</string>
                <key>offset</key>
                <string>{-34,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,5},{790,579}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{720,407}}</string>
                <key>offset</key>
                <string>{-96,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,179},{720,407}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1553},{548,343}}</string>
                <key>offset</key>
                <string>{23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,154},{548,343}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{702,559}}</string>
                <key>offset</key>
                <string>{74,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,40},{702,559}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_64~2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72a2bb206ac83bb22ac0984de1690f2e$</string>
            <key>textureFileName</key>
            <string>skill_3_64~2.png</string>
        </dict>
    </dict>
</plist>
