<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_64_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,501},{786,599}}</string>
                <key>offset</key>
                <string>{75,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,6},{786,599}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{710,587}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,9},{710,587}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1168},{694,471}}</string>
                <key>offset</key>
                <string>{-67,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,52},{694,471}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{790,497}}</string>
                <key>offset</key>
                <string>{-72,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{790,497}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{792,575}}</string>
                <key>offset</key>
                <string>{-95,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{792,575}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1102},{596,567}}</string>
                <key>offset</key>
                <string>{-160,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{596,567}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1168},{642,613}}</string>
                <key>offset</key>
                <string>{-147,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{642,613}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,514},{578,443}}</string>
                <key>offset</key>
                <string>{-103,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,0},{578,443}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
            <key>skill_3_64_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,2},{510,455}}</string>
                <key>offset</key>
                <string>{-136,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,0},{510,455}}</string>
                <key>sourceSize</key>
                <string>{1024,615}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_64~1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03c4faaf66d7081e633c26359b0edfb4$</string>
            <key>textureFileName</key>
            <string>skill_3_64~1.png</string>
        </dict>
    </dict>
</plist>
