<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_43_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{676,524}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,104},{676,524}}</string>
                <key>sourceSize</key>
                <string>{722,722}</string>
            </dict>
            <key>skill_3_43_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{680,530}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,100},{680,530}}</string>
                <key>sourceSize</key>
                <string>{722,722}</string>
            </dict>
            <key>skill_3_43_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,528},{592,472}}</string>
                <key>offset</key>
                <string>{-34,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,139},{592,472}}</string>
                <key>sourceSize</key>
                <string>{722,722}</string>
            </dict>
            <key>skill_3_43_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{634,482}}</string>
                <key>offset</key>
                <string>{-16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,134},{634,482}}</string>
                <key>sourceSize</key>
                <string>{722,722}</string>
            </dict>
            <key>skill_3_43_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,512},{640,496}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,127},{640,496}}</string>
                <key>sourceSize</key>
                <string>{722,722}</string>
            </dict>
            <key>skill_3_43_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,2},{650,508}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,115},{650,508}}</string>
                <key>sourceSize</key>
                <string>{722,722}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_43~1.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:351babbdd0c0b5962c9f38b64420c43b$</string>
            <key>textureFileName</key>
            <string>skill_3_43~1.png</string>
        </dict>
    </dict>
</plist>
