<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Skill_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{28,22}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,110},{28,22}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Skill_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{180,202}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,13},{180,202}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Skill_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{134,160}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,55},{134,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Skill_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,242}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{130,242}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Skill_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{104,208}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,33},{104,208}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Skill_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,290},{104,202}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,45},{104,202}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Skill_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,396},{186,190}}</string>
                <key>offset</key>
                <string>{-37,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,45},{186,190}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Skill_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{136,198}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,44},{136,198}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Skill_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,108},{180,202}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,20},{180,202}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>爆气波_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,396},{104,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,114},{104,124}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Skill_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8ce28f0b965d39a03e5467c1a2a9a52$</string>
            <key>textureFileName</key>
            <string>Skill_1.png</string>
        </dict>
    </dict>
</plist>
