<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_43_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,496},{176,462}}</string>
                <key>offset</key>
                <string>{-9,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,35},{176,462}}</string>
                <key>sourceSize</key>
                <string>{722,722}</string>
            </dict>
            <key>skill_3_43_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,310},{184,326}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,170},{184,326}}</string>
                <key>sourceSize</key>
                <string>{722,722}</string>
            </dict>
            <key>skill_3_43_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{396,306}}</string>
                <key>offset</key>
                <string>{-10,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,250},{396,306}}</string>
                <key>sourceSize</key>
                <string>{722,722}</string>
            </dict>
            <key>skill_3_43_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{612,420}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,150},{612,420}}</string>
                <key>sourceSize</key>
                <string>{722,722}</string>
            </dict>
            <key>skill_3_43_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{590,428}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,152},{590,428}}</string>
                <key>sourceSize</key>
                <string>{722,722}</string>
            </dict>
            <key>skill_3_43_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{596,442}}</string>
                <key>offset</key>
                <string>{-31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,144},{596,442}}</string>
                <key>sourceSize</key>
                <string>{722,722}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_43.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52e4433dc742ff175c9108b3d6ee7651$</string>
            <key>textureFileName</key>
            <string>skill_3_43.png</string>
        </dict>
    </dict>
</plist>
