<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_3_37_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{74,360}}</string>
                <key>offset</key>
                <string>{-4,361}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{559,59},{74,360}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>skill_3_37_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{74,370}}</string>
                <key>offset</key>
                <string>{-4,273}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{559,142},{74,370}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>skill_3_37_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{74,378}}</string>
                <key>offset</key>
                <string>{-4,184}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{559,227},{74,378}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>skill_3_37_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,452}}</string>
                <key>offset</key>
                <string>{3,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,311},{360,452}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>skill_3_37_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,818},{360,204}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,559},{360,204}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>skill_3_37_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,456},{360,242}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,521},{360,242}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>skill_3_37_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,456},{360,232}}</string>
                <key>offset</key>
                <string>{3,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,531},{360,232}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>skill_3_37_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{360,214}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,549},{360,214}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>skill_3_37_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{358,212}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,550},{358,212}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_3_337.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f54989ddb708d4b11636bba5e8ef7e70$</string>
            <key>textureFileName</key>
            <string>skill_3_337.png</string>
        </dict>
    </dict>
</plist>
