<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Skill_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,460},{104,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,114},{104,124}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Skill_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{236,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,49},{236,252}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Skill_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Skill_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Skill_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Skill_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{216,180}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,60},{216,180}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Skill_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,706},{228,194}}</string>
                <key>offset</key>
                <string>{-11,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,49},{228,194}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Skill_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,184},{212,136}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,109},{212,136}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>Skill_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,322},{200,136}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,107},{200,136}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Skill_3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8adbf242cc31ab0d1e680d0ed8770eb9$</string>
            <key>textureFileName</key>
            <string>Skill_3.png</string>
        </dict>
    </dict>
</plist>
