<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dapubu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,776},{180,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{180,256}}</string>
                <key>sourceSize</key>
                <string>{180,270}</string>
            </dict>
            <key>dapubu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,518},{180,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{180,256}}</string>
                <key>sourceSize</key>
                <string>{180,270}</string>
            </dict>
            <key>dapubu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,260},{180,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{180,256}}</string>
                <key>sourceSize</key>
                <string>{180,270}</string>
            </dict>
            <key>dapubu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{180,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{180,256}}</string>
                <key>sourceSize</key>
                <string>{180,270}</string>
            </dict>
            <key>dapubu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{180,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{180,256}}</string>
                <key>sourceSize</key>
                <string>{180,270}</string>
            </dict>
            <key>dapubu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{180,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{180,256}}</string>
                <key>sourceSize</key>
                <string>{180,270}</string>
            </dict>
            <key>dapubu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{180,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{180,256}}</string>
                <key>sourceSize</key>
                <string>{180,270}</string>
            </dict>
            <key>dapubu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{180,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{180,256}}</string>
                <key>sourceSize</key>
                <string>{180,270}</string>
            </dict>
            <key>dapubu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{180,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{180,256}}</string>
                <key>sourceSize</key>
                <string>{180,270}</string>
            </dict>
            <key>dapubu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{180,256}}</string>
                <key>sourceSize</key>
                <string>{180,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dapubu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac928027df6bec067f6f2f7e1a9191d5$</string>
            <key>textureFileName</key>
            <string>dapubu.png</string>
        </dict>
    </dict>
</plist>
