<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huo_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{158,320}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,88},{158,320}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>huo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,330},{156,324}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,88},{156,324}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>huo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{160,322}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,89},{160,322}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>huo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{160,322}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,88},{160,322}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>huo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,164},{156,322}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,89},{156,322}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>huo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,330},{160,324}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,89},{160,324}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>huo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,656},{158,324}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,89},{158,324}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>huo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,326}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,89},{166,326}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>huo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,334}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,81},{166,334}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>huo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{168,328}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,88},{168,328}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>huo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{164,326}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,89},{164,326}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
            <key>huo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,668},{162,324}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,89},{162,324}}</string>
                <key>sourceSize</key>
                <string>{200,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huo.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbb358a0dc385d8112e40010545194bf$</string>
            <key>textureFileName</key>
            <string>huo.png</string>
        </dict>
    </dict>
</plist>
