<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paopao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{216,70}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,136},{216,70}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>paopao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{230,74}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,134},{230,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>paopao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{230,76}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,132},{230,76}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>paopao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{232,76}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,131},{232,76}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>paopao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,78}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,130},{232,78}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>paopao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{220,76}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,131},{220,76}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paopao.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fd56ff6d0b4fed095f067a186912162$</string>
            <key>textureFileName</key>
            <string>paopao.png</string>
        </dict>
    </dict>
</plist>
