<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wuhouyun_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,338},{282,166}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,81},{282,166}}</string>
                <key>sourceSize</key>
                <string>{600,330}</string>
            </dict>
            <key>wuhouyun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{282,166}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,82},{282,166}}</string>
                <key>sourceSize</key>
                <string>{600,330}</string>
            </dict>
            <key>wuhouyun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{284,166}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,81},{284,166}}</string>
                <key>sourceSize</key>
                <string>{600,330}</string>
            </dict>
            <key>wuhouyun_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{284,166}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,81},{284,166}}</string>
                <key>sourceSize</key>
                <string>{600,330}</string>
            </dict>
            <key>wuhouyun_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,170},{282,166}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,81},{282,166}}</string>
                <key>sourceSize</key>
                <string>{600,330}</string>
            </dict>
            <key>wuhouyun_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,170},{282,166}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,81},{282,166}}</string>
                <key>sourceSize</key>
                <string>{600,330}</string>
            </dict>
            <key>wuhouyun_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{282,166}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,81},{282,166}}</string>
                <key>sourceSize</key>
                <string>{600,330}</string>
            </dict>
            <key>wuhouyun_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,166}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,81},{282,166}}</string>
                <key>sourceSize</key>
                <string>{600,330}</string>
            </dict>
            <key>wuhouyun_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,338},{280,166}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,81},{280,166}}</string>
                <key>sourceSize</key>
                <string>{600,330}</string>
            </dict>
            <key>wuhouyun_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{280,166}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,81},{280,166}}</string>
                <key>sourceSize</key>
                <string>{600,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wuhouyun.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29958ceaccd98fd78be07feb1e4f0cfa$</string>
            <key>textureFileName</key>
            <string>wuhouyun.png</string>
        </dict>
    </dict>
</plist>
