<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yun2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{350,138}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{350,138}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>yun2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,284},{350,138}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{350,138}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>yun2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{350,140}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{350,140}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>yun2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{350,138}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{350,138}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>yun2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,144},{350,138}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{350,138}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>yun2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{350,138}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{350,138}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>yun2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,140}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{350,140}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>yun2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{350,138}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{350,138}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>yun2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{350,138}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{350,138}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>yun2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{350,138}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{350,138}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yun2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e9f665cace081cd48c705e3a5c1355a$</string>
            <key>textureFileName</key>
            <string>yun2.png</string>
        </dict>
    </dict>
</plist>
