<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhongyun3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{219,138}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{219,138}}</string>
                <key>sourceSize</key>
                <string>{275,150}</string>
            </dict>
            <key>zhongyun3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,566},{217,138}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{217,138}}</string>
                <key>sourceSize</key>
                <string>{275,150}</string>
            </dict>
            <key>zhongyun3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{213,140}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{213,140}}</string>
                <key>sourceSize</key>
                <string>{275,150}</string>
            </dict>
            <key>zhongyun3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{217,140}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{217,140}}</string>
                <key>sourceSize</key>
                <string>{275,150}</string>
            </dict>
            <key>zhongyun3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{219,140}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{219,140}}</string>
                <key>sourceSize</key>
                <string>{275,150}</string>
            </dict>
            <key>zhongyun3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,424},{217,140}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{217,140}}</string>
                <key>sourceSize</key>
                <string>{275,150}</string>
            </dict>
            <key>zhongyun3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{219,140}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{219,140}}</string>
                <key>sourceSize</key>
                <string>{275,150}</string>
            </dict>
            <key>zhongyun3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,140}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{221,140}}</string>
                <key>sourceSize</key>
                <string>{275,150}</string>
            </dict>
            <key>zhongyun3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,284},{219,138}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{219,138}}</string>
                <key>sourceSize</key>
                <string>{275,150}</string>
            </dict>
            <key>zhongyun3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,144},{219,138}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{219,138}}</string>
                <key>sourceSize</key>
                <string>{275,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhongyun3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:574c12a125458e48fb9cc16119321b3e$</string>
            <key>textureFileName</key>
            <string>zhongyun3.png</string>
        </dict>
    </dict>
</plist>
