<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heiyan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,908},{106,188}}</string>
                <key>offset</key>
                <string>{-8,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,112},{106,188}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>heiyan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{112,226}}</string>
                <key>offset</key>
                <string>{-11,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,74},{112,226}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>heiyan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{128,300}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{128,300}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>heiyan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{122,300}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{122,300}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>heiyan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{116,262}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,38},{116,262}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>heiyan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,606},{122,300}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{122,300}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>heiyan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{128,300}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{128,300}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>heiyan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{124,300}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,300}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>heiyan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{124,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{124,300}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>heiyan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{128,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{128,300}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>heiyan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,304},{126,300}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{126,300}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>heiyan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,300}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{132,300}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heiyan.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a4416eaeb4727fc9256e0745a957589$</string>
            <key>textureFileName</key>
            <string>heiyan.png</string>
        </dict>
    </dict>
</plist>
