<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shangpubu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,330},{59,159}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{59,159}}</string>
                <key>sourceSize</key>
                <string>{75,175}</string>
            </dict>
            <key>shangpubu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{59,157}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{59,157}}</string>
                <key>sourceSize</key>
                <string>{75,175}</string>
            </dict>
            <key>shangpubu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{59,161}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{59,161}}</string>
                <key>sourceSize</key>
                <string>{75,175}</string>
            </dict>
            <key>shangpubu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{65,161}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{65,161}}</string>
                <key>sourceSize</key>
                <string>{75,175}</string>
            </dict>
            <key>shangpubu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,165},{63,163}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{63,163}}</string>
                <key>sourceSize</key>
                <string>{75,175}</string>
            </dict>
            <key>shangpubu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{63,163}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{63,163}}</string>
                <key>sourceSize</key>
                <string>{75,175}</string>
            </dict>
            <key>shangpubu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,165}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{63,165}}</string>
                <key>sourceSize</key>
                <string>{75,175}</string>
            </dict>
            <key>shangpubu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{63,163}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{63,163}}</string>
                <key>sourceSize</key>
                <string>{75,175}</string>
            </dict>
            <key>shangpubu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{63,159}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{63,159}}</string>
                <key>sourceSize</key>
                <string>{75,175}</string>
            </dict>
            <key>shangpubu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{59,159}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{59,159}}</string>
                <key>sourceSize</key>
                <string>{75,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shangpubu.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d824d358f97fbd49fe5d16899f06d8f3$</string>
            <key>textureFileName</key>
            <string>shangpubu.png</string>
        </dict>
    </dict>
</plist>
