<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shuitanshang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,306},{286,150}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>shuitanshang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,154},{282,150}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>shuitanshang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,154},{284,150}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>shuitanshang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{286,150}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>shuitanshang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{292,150}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>shuitanshang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,150}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>shuitanshang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{290,150}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>shuitanshang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{290,150}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>shuitanshang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,154},{288,150}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>shuitanshang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,306},{280,150}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuitanshang.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4614f548ee8e37e00d2efc72ec5d5e79$</string>
            <key>textureFileName</key>
            <string>shuitanshang.png</string>
        </dict>
    </dict>
</plist>
