<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_54_11_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{120,196}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,110},{120,196}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,214},{130,208}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,105},{130,208}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,242},{102,208}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,110},{102,208}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,132},{80,210}}</string>
                <key>offset</key>
                <string>{5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,114},{80,210}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,130},{80,232}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,88},{80,232}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,126},{84,188}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,124},{84,188}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{82,180}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,124},{82,180}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,718},{82,178}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,125},{82,178}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,696},{188,156}}</string>
                <key>offset</key>
                <string>{16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,132},{188,156}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,866},{182,180}}</string>
                <key>offset</key>
                <string>{19,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,117},{182,180}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,548},{154,198}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,107},{154,198}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,114},{104,212}}</string>
                <key>offset</key>
                <string>{-38,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,105},{104,212}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,2},{110,218}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,90},{110,218}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,704},{186,160}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,136},{186,160}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,656},{190,142}}</string>
                <key>offset</key>
                <string>{17,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,143},{190,142}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,652},{190,148}}</string>
                <key>offset</key>
                <string>{17,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,136},{190,148}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,346},{194,146}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,141},{194,146}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,466},{194,160}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,122},{194,160}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,798},{186,162}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,103},{186,162}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{152,194}}</string>
                <key>offset</key>
                <string>{-44,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,89},{152,194}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,220},{140,202}}</string>
                <key>offset</key>
                <string>{-35,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,67},{140,202}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{272,124}}</string>
                <key>offset</key>
                <string>{27,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,140},{272,124}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{272,126}}</string>
                <key>offset</key>
                <string>{27,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,138},{272,126}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,126}}</string>
                <key>offset</key>
                <string>{27,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,138},{272,126}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1010},{138,158}}</string>
                <key>offset</key>
                <string>{-8,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,148},{138,158}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{140,170}}</string>
                <key>offset</key>
                <string>{-9,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,131},{140,170}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,962},{142,146}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,104},{142,146}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,800},{132,170}}</string>
                <key>offset</key>
                <string>{-17,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,73},{132,170}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,246},{136,202}}</string>
                <key>offset</key>
                <string>{-15,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,41},{136,202}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,126},{202,150}}</string>
                <key>offset</key>
                <string>{22,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,135},{202,150}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,392},{198,154}}</string>
                <key>offset</key>
                <string>{24,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,131},{198,154}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,384},{198,154}}</string>
                <key>offset</key>
                <string>{24,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,131},{198,154}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1240},{120,136}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,156},{120,136}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,880},{130,154}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,133},{130,154}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1244},{102,158}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,105},{102,158}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,714},{82,188}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,65},{82,188}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,212},{82,228}}</string>
                <key>offset</key>
                <string>{7,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,29},{82,228}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,242},{86,166}}</string>
                <key>offset</key>
                <string>{9,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,142},{86,166}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{82,166}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,142},{82,166}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_11_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,800},{82,168}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,140},{82,168}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_8_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,576},{184,140}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,119},{184,140}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_8_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,250},{142,198}}</string>
                <key>offset</key>
                <string>{-10,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,48},{142,198}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_8_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1124},{142,142}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,104},{142,142}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_8_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{218,120}}</string>
                <key>offset</key>
                <string>{27,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,126},{218,120}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_8_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,698},{180,120}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,127},{180,120}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_8_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,250},{156,130}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,126},{156,130}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_8_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1280},{128,150}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,113},{128,150}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_8_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,548},{116,148}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,115},{116,148}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_8_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1218},{120,152}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,111},{120,152}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_8_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,2},{122,212}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,51},{122,212}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_8_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,124},{120,210}}</string>
                <key>offset</key>
                <string>{19,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,53},{120,210}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_8_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,126},{114,210}}</string>
                <key>offset</key>
                <string>{26,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,53},{114,210}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_8_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,802},{140,156}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,107},{140,156}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_8_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,854},{184,138}}</string>
                <key>offset</key>
                <string>{61,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,125},{184,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_8_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,880},{170,140}}</string>
                <key>offset</key>
                <string>{51,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,123},{170,140}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_8_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1068},{128,144}}</string>
                <key>offset</key>
                <string>{32,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,119},{128,144}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,316},{114,172}}</string>
                <key>offset</key>
                <string>{18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,110},{114,172}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,490},{130,180}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,106},{130,180}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,628},{102,180}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,110},{102,180}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,584},{132,180}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,112},{132,180}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,408},{166,184}}</string>
                <key>offset</key>
                <string>{-37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,102},{166,184}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,540},{190,172}}</string>
                <key>offset</key>
                <string>{55,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,111},{190,172}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,970},{122,152}}</string>
                <key>offset</key>
                <string>{21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,128},{122,152}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,934},{158,150}}</string>
                <key>offset</key>
                <string>{40,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,121},{158,150}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{174,142}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,132},{174,142}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,718},{172,162}}</string>
                <key>offset</key>
                <string>{24,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,116},{172,162}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,802},{154,172}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,107},{154,172}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,958},{124,170}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,109},{124,170}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,296},{168,196}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,78},{168,196}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,128},{252,120}}</string>
                <key>offset</key>
                <string>{64,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,155},{252,120}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,346},{194,128}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,147},{194,128}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1348},{146,142}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,133},{146,142}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,732},{174,146}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,141},{174,146}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1008},{174,160}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,122},{174,160}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,830},{176,162}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,102},{176,162}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{132,166}}</string>
                <key>offset</key>
                <string>{-34,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,98},{132,166}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,362},{198,192}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,71},{198,192}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{266,128}}</string>
                <key>offset</key>
                <string>{43,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,156},{266,128}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{220,122}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,143},{220,122}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,278},{200,112}}</string>
                <key>offset</key>
                <string>{-23,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,153},{200,112}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,944},{122,154}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,152},{122,154}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,882},{126,170}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,131},{126,170}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1012},{128,146}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,104},{128,146}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1150},{120,152}}</string>
                <key>offset</key>
                <string>{-11,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,91},{120,152}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,394},{188,194}}</string>
                <key>offset</key>
                <string>{26,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,95},{188,194}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1086},{152,152}}</string>
                <key>offset</key>
                <string>{10,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,164},{152,152}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,476},{174,192}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,97},{174,192}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{238,124}}</string>
                <key>offset</key>
                <string>{-44,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,148},{238,124}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,410},{114,136}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,156},{114,136}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,672},{130,156}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,131},{130,156}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1176},{102,158}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,105},{102,158}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1084},{132,158}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,95},{132,158}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1022},{166,152}}</string>
                <key>offset</key>
                <string>{49,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,143},{166,152}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,556},{190,138}}</string>
                <key>offset</key>
                <string>{-43,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,157},{190,138}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,2},{122,220}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,75},{122,220}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_54_9_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,494},{160,192}}</string>
                <key>offset</key>
                <string>{-28,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,86},{160,192}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster54~2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a80e272586f0202138aa99836ff2ac95$</string>
            <key>textureFileName</key>
            <string>monster54~2.png</string>
        </dict>
    </dict>
</plist>
