<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_59_11_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,922},{182,224}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,217},{182,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1092},{200,218}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,223},{200,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,648},{168,210}}</string>
                <key>offset</key>
                <string>{12,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,233},{168,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,708},{162,320}}</string>
                <key>offset</key>
                <string>{10,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,116},{162,320}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,782},{158,244}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,190},{158,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,686},{156,190}}</string>
                <key>offset</key>
                <string>{15,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,234},{156,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,232},{172,186}}</string>
                <key>offset</key>
                <string>{7,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,260},{172,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{240,188}}</string>
                <key>offset</key>
                <string>{17,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,265},{240,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,322},{276,202}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,247},{276,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1490},{212,208}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,233},{212,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,764},{172,238}}</string>
                <key>offset</key>
                <string>{-6,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,218},{172,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,242},{184,232}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,225},{184,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,938},{152,224}}</string>
                <key>offset</key>
                <string>{21,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,238},{152,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,342}}</string>
                <key>offset</key>
                <string>{19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,114},{146,342}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{182,262}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,193},{182,262}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1706},{214,214}}</string>
                <key>offset</key>
                <string>{-11,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,240},{214,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,1230},{164,198}}</string>
                <key>offset</key>
                <string>{9,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,258},{164,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,464},{196,220}}</string>
                <key>offset</key>
                <string>{-18,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,239},{196,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,234},{226,228}}</string>
                <key>offset</key>
                <string>{-33,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,231},{226,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,844},{186,224}}</string>
                <key>offset</key>
                <string>{-13,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,234},{186,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,524},{126,256}}</string>
                <key>offset</key>
                <string>{-18,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,216},{126,256}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,804},{136,246}}</string>
                <key>offset</key>
                <string>{-12,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,226},{136,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1106},{158,226}}</string>
                <key>offset</key>
                <string>{28,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,246},{158,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{118,342}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,126},{118,342}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,346},{196,318}}</string>
                <key>offset</key>
                <string>{-22,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,151},{196,318}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,946},{256,266}}</string>
                <key>offset</key>
                <string>{-31,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,204},{256,266}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,1286},{152,202}}</string>
                <key>offset</key>
                <string>{13,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,268},{152,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2},{194,252}}</string>
                <key>offset</key>
                <string>{-17,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,219},{194,252}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,600},{184,266}}</string>
                <key>offset</key>
                <string>{-29,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,205},{184,266}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,260},{128,254}}</string>
                <key>offset</key>
                <string>{-9,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,217},{128,254}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,256},{180,246}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,218},{180,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1192},{186,238}}</string>
                <key>offset</key>
                <string>{-15,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,226},{186,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,1294},{144,210}}</string>
                <key>offset</key>
                <string>{8,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,254},{144,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{140,318}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,144},{140,318}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{176,348}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,114},{176,348}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{214,310}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,151},{214,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,860},{152,184}}</string>
                <key>offset</key>
                <string>{11,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,279},{152,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{242,256}}</string>
                <key>offset</key>
                <string>{-43,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,209},{242,256}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,266},{246,256}}</string>
                <key>offset</key>
                <string>{-45,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,208},{246,256}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1586},{182,252}}</string>
                <key>offset</key>
                <string>{-13,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,212},{182,252}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,942},{126,250}}</string>
                <key>offset</key>
                <string>{-35,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,188},{126,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1932},{114,234}}</string>
                <key>offset</key>
                <string>{-26,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,207},{114,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1266},{160,218}}</string>
                <key>offset</key>
                <string>{-24,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,226},{160,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1374},{286,256}}</string>
                <key>offset</key>
                <string>{78,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,195},{286,256}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1030},{284,248}}</string>
                <key>offset</key>
                <string>{78,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,202},{284,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1214},{250,238}}</string>
                <key>offset</key>
                <string>{50,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,212},{250,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,420},{170,226}}</string>
                <key>offset</key>
                <string>{22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,223},{170,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1070},{186,214}}</string>
                <key>offset</key>
                <string>{-13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,216},{186,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,666},{240,278}}</string>
                <key>offset</key>
                <string>{49,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,225},{240,278}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1662},{234,268}}</string>
                <key>offset</key>
                <string>{45,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,235},{234,268}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,720},{200,224}}</string>
                <key>offset</key>
                <string>{27,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,233},{200,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1840},{174,206}}</string>
                <key>offset</key>
                <string>{14,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,236},{174,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,2},{162,228}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,204},{162,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,2},{160,230}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,205},{160,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,942},{162,248}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,192},{162,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,1014},{178,214}}</string>
                <key>offset</key>
                <string>{-24,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,226},{178,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,504},{180,238}}</string>
                <key>offset</key>
                <string>{-30,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,201},{180,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,484},{230,234}}</string>
                <key>offset</key>
                <string>{-33,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,202},{230,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{232,320}}</string>
                <key>offset</key>
                <string>{45,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,137},{232,320}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1686},{238,290}}</string>
                <key>offset</key>
                <string>{48,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,213},{238,290}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1466},{172,240}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,213},{172,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,544},{206,258}}</string>
                <key>offset</key>
                <string>{41,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,272},{206,258}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,516},{208,246}}</string>
                <key>offset</key>
                <string>{36,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,284},{208,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1840},{220,202}}</string>
                <key>offset</key>
                <string>{26,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,278},{220,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1430},{208,216}}</string>
                <key>offset</key>
                <string>{16,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,246},{208,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,244},{162,238}}</string>
                <key>offset</key>
                <string>{20,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,215},{162,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,942},{184,238}}</string>
                <key>offset</key>
                <string>{28,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,214},{184,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,278},{150,264}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,187},{150,264}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1466},{188,238}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,214},{188,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1316},{172,268}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,182},{172,268}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,2},{136,238}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,194},{136,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,354}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,126},{146,354}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{200,274}}</string>
                <key>offset</key>
                <string>{39,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,257},{200,274}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_59~2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:658564afd8675e908a00038c6379df4b$</string>
            <key>textureFileName</key>
            <string>monster_59~2.png</string>
        </dict>
    </dict>
</plist>
