<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_50_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,508},{425,255}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,201},{425,255}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,129},{447,277}}</string>
                <key>offset</key>
                <string>{-17,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,194},{447,277}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{427,321}}</string>
                <key>offset</key>
                <string>{-30,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,184},{427,321}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,408},{411,331}}</string>
                <key>offset</key>
                <string>{-42,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,149},{411,331}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1685},{307,245}}</string>
                <key>offset</key>
                <string>{-14,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,147},{307,245}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1787},{329,253}}</string>
                <key>offset</key>
                <string>{9,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,152},{329,253}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,1008},{357,269}}</string>
                <key>offset</key>
                <string>{20,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,158},{357,269}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1000},{373,275}}</string>
                <key>offset</key>
                <string>{16,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,185},{373,275}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{417,259}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,199},{417,259}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,1231},{343,301}}</string>
                <key>offset</key>
                <string>{-67,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,173},{343,301}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1243},{367,305}}</string>
                <key>offset</key>
                <string>{-82,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,168},{367,305}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1277},{349,279}}</string>
                <key>offset</key>
                <string>{-86,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,150},{349,279}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,663},{329,283}}</string>
                <key>offset</key>
                <string>{-117,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,105},{329,283}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1530},{287,261}}</string>
                <key>offset</key>
                <string>{-52,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,110},{287,261}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1793},{251,279}}</string>
                <key>offset</key>
                <string>{-45,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,124},{251,279}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1685},{265,293}}</string>
                <key>offset</key>
                <string>{-30,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,137},{265,293}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1392},{307,291}}</string>
                <key>offset</key>
                <string>{-39,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,161},{307,291}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1097},{349,293}}</string>
                <key>offset</key>
                <string>{-71,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,173},{349,293}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,741},{395,265}}</string>
                <key>offset</key>
                <string>{-19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,193},{395,265}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,215},{441,291}}</string>
                <key>offset</key>
                <string>{-20,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,172},{441,291}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,368},{427,257}}</string>
                <key>offset</key>
                <string>{-29,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,155},{427,257}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,765},{399,233}}</string>
                <key>offset</key>
                <string>{-48,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,110},{399,233}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,408},{285,253}}</string>
                <key>offset</key>
                <string>{-26,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,123},{285,253}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1787},{299,259}}</string>
                <key>offset</key>
                <string>{-1,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,141},{299,259}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1279},{317,249}}</string>
                <key>offset</key>
                <string>{14,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,170},{317,249}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1550},{349,235}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,199},{349,235}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,840},{389,255}}</string>
                <key>offset</key>
                <string>{-20,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,192},{389,255}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{461,211}}</string>
                <key>offset</key>
                <string>{4,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,182},{461,211}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{471,229}}</string>
                <key>offset</key>
                <string>{16,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,164},{471,229}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{459,153}}</string>
                <key>offset</key>
                <string>{15,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,191},{459,153}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,2},{455,125}}</string>
                <key>offset</key>
                <string>{10,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,160},{455,125}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{371,221}}</string>
                <key>offset</key>
                <string>{-9,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,164},{371,221}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,994},{377,235}}</string>
                <key>offset</key>
                <string>{-2,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,132},{377,235}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,627},{407,211}}</string>
                <key>offset</key>
                <string>{0,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,163},{407,211}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{431,201}}</string>
                <key>offset</key>
                <string>{5,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,188},{431,201}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,157},{447,209}}</string>
                <key>offset</key>
                <string>{4,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,182},{447,209}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_50~6.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0dfa8d8df6624ed776e80e9f4fd0636$</string>
            <key>textureFileName</key>
            <string>monster_50~6.png</string>
        </dict>
    </dict>
</plist>
