<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_52_9_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{214,218}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,224},{214,218}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1112},{200,244}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,210},{200,244}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,552},{184,280}}</string>
                <key>offset</key>
                <string>{10,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,152},{184,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1210},{196,214}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,226},{196,214}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,810},{152,268}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,211},{152,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,1040},{232,228}}</string>
                <key>offset</key>
                <string>{21,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,217},{232,228}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,930},{152,268}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,211},{152,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,964},{146,266}}</string>
                <key>offset</key>
                <string>{-50,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,204},{146,266}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,252},{308,268}}</string>
                <key>offset</key>
                <string>{-80,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,191},{308,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{268,318}}</string>
                <key>offset</key>
                <string>{68,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,130},{268,318}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,252},{298,330}}</string>
                <key>offset</key>
                <string>{92,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,114},{298,330}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,256},{300,332}}</string>
                <key>offset</key>
                <string>{98,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,110},{300,332}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{334,348}}</string>
                <key>offset</key>
                <string>{104,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,87},{334,348}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,776},{222,262}}</string>
                <key>offset</key>
                <string>{23,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,171},{222,262}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1458},{214,222}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,216},{214,222}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,826},{102,280}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,205},{102,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,998},{162,246}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,201},{162,246}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,722},{102,280}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,205},{102,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,508},{136,250}}</string>
                <key>offset</key>
                <string>{-76,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,185},{136,250}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,1084},{178,262}}</string>
                <key>offset</key>
                <string>{-69,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,172},{178,262}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,558},{330,250}}</string>
                <key>offset</key>
                <string>{79,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,185},{330,250}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2},{368,248}}</string>
                <key>offset</key>
                <string>{112,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,184},{368,248}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,2},{364,248}}</string>
                <key>offset</key>
                <string>{125,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,184},{364,248}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{412,252}}</string>
                <key>offset</key>
                <string>{144,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,184},{412,252}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{248,244}}</string>
                <key>offset</key>
                <string>{27,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,192},{248,244}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1162},{186,240}}</string>
                <key>offset</key>
                <string>{-9,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,199},{186,240}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,738},{102,280}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,205},{102,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,1004},{162,246}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,201},{162,246}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,722},{102,280}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,205},{102,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,256},{136,250}}</string>
                <key>offset</key>
                <string>{-76,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,185},{136,250}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1030},{178,262}}</string>
                <key>offset</key>
                <string>{-69,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,172},{178,262}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,496},{330,250}}</string>
                <key>offset</key>
                <string>{79,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,185},{330,250}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2},{368,248}}</string>
                <key>offset</key>
                <string>{112,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,184},{368,248}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,246},{364,248}}</string>
                <key>offset</key>
                <string>{125,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,184},{364,248}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,252}}</string>
                <key>offset</key>
                <string>{144,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,184},{412,252}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{248,244}}</string>
                <key>offset</key>
                <string>{27,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,192},{248,244}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,1252},{186,240}}</string>
                <key>offset</key>
                <string>{-9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,199},{186,240}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,514},{200,260}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,207},{200,260}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,748},{214,276}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,187},{214,276}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,252},{200,260}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,208},{200,260}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,964},{216,252}}</string>
                <key>offset</key>
                <string>{3,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,163},{216,252}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{386,242}}</string>
                <key>offset</key>
                <string>{-17,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,174},{386,242}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1270},{186,230}}</string>
                <key>offset</key>
                <string>{-10,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,190},{186,230}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,810},{186,230}}</string>
                <key>offset</key>
                <string>{-10,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,194},{186,230}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1182},{184,240}}</string>
                <key>offset</key>
                <string>{-9,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,194},{184,240}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{184,256}}</string>
                <key>offset</key>
                <string>{-9,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,191},{184,256}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,842},{186,276}}</string>
                <key>offset</key>
                <string>{-8,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,175},{186,276}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_9_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,522},{198,284}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,172},{198,284}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster52~3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85d810fda43acba026d48b94d8590be8$</string>
            <key>textureFileName</key>
            <string>monster52~3.png</string>
        </dict>
    </dict>
</plist>
