<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_50_0_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{418,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,210},{418,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,162},{422,172}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,215},{422,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,160},{450,166}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,212},{450,166}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,2},{490,158}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,214},{490,158}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{464,156}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,216},{464,156}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,144}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,221},{446,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{438,150}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,217},{438,150}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,154},{386,164}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,203},{386,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,162},{364,168}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,202},{364,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{374,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,220},{374,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1456},{316,244}}</string>
                <key>offset</key>
                <string>{-23,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,144},{316,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1160},{322,226}}</string>
                <key>offset</key>
                <string>{-40,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,155},{322,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{338,216}}</string>
                <key>offset</key>
                <string>{-30,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,171},{338,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,328},{350,194}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,203},{350,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{356,206}}</string>
                <key>offset</key>
                <string>{-50,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,197},{356,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,752},{338,218}}</string>
                <key>offset</key>
                <string>{-56,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,174},{338,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,538},{308,212}}</string>
                <key>offset</key>
                <string>{-52,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,153},{308,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,996},{292,224}}</string>
                <key>offset</key>
                <string>{-56,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,138},{292,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1188},{294,230}}</string>
                <key>offset</key>
                <string>{-55,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,134},{294,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1178},{310,228}}</string>
                <key>offset</key>
                <string>{-51,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,147},{310,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1420},{242,280}}</string>
                <key>offset</key>
                <string>{-79,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,103},{242,280}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1178},{228,266}}</string>
                <key>offset</key>
                <string>{-70,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,86},{228,266}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1388},{238,288}}</string>
                <key>offset</key>
                <string>{-80,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,112},{238,288}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,1222},{232,282}}</string>
                <key>offset</key>
                <string>{-80,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,134},{232,282}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{234,274}}</string>
                <key>offset</key>
                <string>{-85,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,136},{234,274}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{228,258}}</string>
                <key>offset</key>
                <string>{-78,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,129},{228,258}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,772},{222,246}}</string>
                <key>offset</key>
                <string>{-69,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,113},{222,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,542},{218,228}}</string>
                <key>offset</key>
                <string>{-61,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,94},{218,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,736},{218,240}}</string>
                <key>offset</key>
                <string>{-60,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,84},{218,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{222,258}}</string>
                <key>offset</key>
                <string>{-65,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,72},{222,258}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1454},{310,242}}</string>
                <key>offset</key>
                <string>{-20,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,113},{310,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{322,250}}</string>
                <key>offset</key>
                <string>{-40,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,78},{322,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1698},{336,266}}</string>
                <key>offset</key>
                <string>{-29,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,104},{336,266}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1702},{350,270}}</string>
                <key>offset</key>
                <string>{-38,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,103},{350,270}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1408},{356,236}}</string>
                <key>offset</key>
                <string>{-50,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,108},{356,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,320},{338,200}}</string>
                <key>offset</key>
                <string>{-56,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,115},{338,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,332},{312,204}}</string>
                <key>offset</key>
                <string>{-50,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,117},{312,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,1222},{292,230}}</string>
                <key>offset</key>
                <string>{-57,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,94},{292,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1646},{294,252}}</string>
                <key>offset</key>
                <string>{-55,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,71},{294,252}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1664},{310,258}}</string>
                <key>offset</key>
                <string>{-51,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,61},{310,258}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,542},{418,208}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,100},{418,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,972},{468,214}}</string>
                <key>offset</key>
                <string>{3,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,93},{468,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,946},{474,212}}</string>
                <key>offset</key>
                <string>{8,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,94},{474,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,964},{488,212}}</string>
                <key>offset</key>
                <string>{2,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,96},{488,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,736},{444,208}}</string>
                <key>offset</key>
                <string>{3,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,105},{444,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,336},{414,204}}</string>
                <key>offset</key>
                <string>{2,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,116},{414,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,752},{396,210}}</string>
                <key>offset</key>
                <string>{10,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,113},{396,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,524},{352,210}}</string>
                <key>offset</key>
                <string>{2,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,111},{352,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_0_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,522},{374,206}}</string>
                <key>offset</key>
                <string>{2,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,111},{374,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_50.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0431bc3d5f9cd5fba593185e0a3802c$</string>
            <key>textureFileName</key>
            <string>monster_50.png</string>
        </dict>
    </dict>
</plist>
