<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_59_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,472},{128,246}}</string>
                <key>offset</key>
                <string>{-10,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,219},{128,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,502},{236,272}}</string>
                <key>offset</key>
                <string>{56,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,193},{236,272}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{238,262}}</string>
                <key>offset</key>
                <string>{56,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,203},{238,262}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,710},{228,250}}</string>
                <key>offset</key>
                <string>{33,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,214},{228,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,740},{170,250}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,215},{170,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{196,210}}</string>
                <key>offset</key>
                <string>{-59,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,254},{196,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1288},{194,198}}</string>
                <key>offset</key>
                <string>{-69,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,266},{194,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,320}}</string>
                <key>offset</key>
                <string>{35,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,144},{168,320}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1116},{190,204}}</string>
                <key>offset</key>
                <string>{-16,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,261},{190,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,720},{214,212}}</string>
                <key>offset</key>
                <string>{-15,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,253},{214,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,236},{226,274}}</string>
                <key>offset</key>
                <string>{-23,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,191},{226,274}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{228,318}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,147},{228,318}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{232,286}}</string>
                <key>offset</key>
                <string>{52,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,179},{232,286}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,236},{152,234}}</string>
                <key>offset</key>
                <string>{-10,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,215},{152,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,912},{202,214}}</string>
                <key>offset</key>
                <string>{-36,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,235},{202,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,936},{212,210}}</string>
                <key>offset</key>
                <string>{-43,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,239},{212,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{168,280}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,170},{168,280}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,940},{198,208}}</string>
                <key>offset</key>
                <string>{-41,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,242},{198,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{226,222}}</string>
                <key>offset</key>
                <string>{-56,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,229},{226,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,464},{272,244}}</string>
                <key>offset</key>
                <string>{-26,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,207},{272,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{302,282}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,169},{302,282}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,232},{284,268}}</string>
                <key>offset</key>
                <string>{78,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,183},{284,268}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_59~4.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13b0a4cb00dfd03ea9c2d40663a78c75$</string>
            <key>textureFileName</key>
            <string>monster_59~4.png</string>
        </dict>
    </dict>
</plist>
