<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_58_3_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,470},{230,258}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,52},{230,258}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1770},{228,246}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,54},{228,246}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{328,232}}</string>
                <key>offset</key>
                <string>{-16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,62},{328,232}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,224},{320,208}}</string>
                <key>offset</key>
                <string>{-13,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,62},{320,208}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1614},{324,210}}</string>
                <key>offset</key>
                <string>{-18,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,61},{324,210}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1286},{326,218}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,63},{326,218}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,236},{316,232}}</string>
                <key>offset</key>
                <string>{-24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,68},{316,232}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,2},{328,230}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,70},{328,230}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1654},{328,214}}</string>
                <key>offset</key>
                <string>{-23,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,72},{328,214}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,444},{328,226}}</string>
                <key>offset</key>
                <string>{-19,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,68},{328,226}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,966},{238,236}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,69},{238,236}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,234},{238,206}}</string>
                <key>offset</key>
                <string>{-11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,66},{238,206}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,234},{238,212}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,65},{238,212}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1204},{248,230}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,67},{248,230}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,444},{226,234}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,68},{226,234}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,1378},{236,242}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,72},{236,242}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,730},{234,246}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,74},{234,246}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,1192},{248,244}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,73},{248,244}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,706},{204,242}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,60},{204,242}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,474},{206,230}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,58},{206,230}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,446},{212,240}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,58},{212,240}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1502},{220,266}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,57},{220,266}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1464},{224,266}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,60},{224,266}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,966},{224,262}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,63},{224,262}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1732},{224,264}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,64},{224,264}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,234},{210,258}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,62},{210,258}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1438},{174,266}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,55},{174,266}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,966},{224,272}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,43},{224,272}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,470},{226,282}}</string>
                <key>offset</key>
                <string>{23,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,46},{226,282}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{256,320}}</string>
                <key>offset</key>
                <string>{41,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,59},{256,320}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,1706},{264,216}}</string>
                <key>offset</key>
                <string>{37,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,120},{264,216}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1854},{264,192}}</string>
                <key>offset</key>
                <string>{37,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,144},{264,192}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1436},{264,226}}</string>
                <key>offset</key>
                <string>{37,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,142},{264,226}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,1702},{264,224}}</string>
                <key>offset</key>
                <string>{37,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,140},{264,224}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,448},{242,248}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,63},{242,248}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{336,252}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,57},{336,252}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,672},{302,268}}</string>
                <key>offset</key>
                <string>{27,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,50},{302,268}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{324,290}}</string>
                <key>offset</key>
                <string>{18,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,64},{324,290}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1268},{322,232}}</string>
                <key>offset</key>
                <string>{19,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,117},{322,232}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,256},{334,186}}</string>
                <key>offset</key>
                <string>{13,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,163},{334,186}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,942},{320,188}}</string>
                <key>offset</key>
                <string>{20,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,161},{320,188}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,942},{324,186}}</string>
                <key>offset</key>
                <string>{18,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,163},{324,186}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,692},{260,226}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,71},{260,226}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,2},{328,230}}</string>
                <key>offset</key>
                <string>{-24,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,95},{328,230}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1560},{292,270}}</string>
                <key>offset</key>
                <string>{-20,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,60},{292,270}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,302}}</string>
                <key>offset</key>
                <string>{-19,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,67},{316,302}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{350,220}}</string>
                <key>offset</key>
                <string>{5,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,149},{350,220}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{356,206}}</string>
                <key>offset</key>
                <string>{6,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,163},{356,206}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{340,206}}</string>
                <key>offset</key>
                <string>{14,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,163},{340,206}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,954},{330,182}}</string>
                <key>offset</key>
                <string>{20,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,187},{330,182}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,954},{182,248}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,77},{182,248}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1192},{208,270}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,80},{208,270}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1264},{208,294}}</string>
                <key>offset</key>
                <string>{-22,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,58},{208,294}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1592},{236,318}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,58},{236,318}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,698},{280,238}}</string>
                <key>offset</key>
                <string>{22,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,138},{280,238}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,730},{280,234}}</string>
                <key>offset</key>
                <string>{21,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,142},{280,234}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,942},{278,220}}</string>
                <key>offset</key>
                <string>{20,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,156},{278,220}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1222},{278,194}}</string>
                <key>offset</key>
                <string>{20,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,182},{278,194}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,1204},{172,264}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,67},{172,264}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_7_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,672},{222,268}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,65},{222,268}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster58~1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7172f773a2bede9e3c3e482359872f3$</string>
            <key>textureFileName</key>
            <string>monster58~1.png</string>
        </dict>
    </dict>
</plist>
