<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_52_0_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,2},{200,244}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,210},{200,244}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,250},{200,244}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,209},{200,244}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,262},{202,246}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,207},{202,246}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,522},{202,246}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,205},{202,246}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,784},{202,246}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,203},{202,246}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1052},{202,246}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,201},{202,246}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{200,246}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,201},{200,246}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1846},{200,246}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,201},{200,246}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1300},{198,246}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,203},{198,246}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,510},{200,244}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,207},{200,244}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1416},{152,268}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,211},{152,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1146},{152,268}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,208},{152,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1418},{154,270}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,207},{154,270}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1146},{154,270}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,204},{154,270}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1690},{152,268}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,203},{152,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1690},{152,268}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,201},{152,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,564},{150,268}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,200},{150,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{150,266}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,202},{150,266}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,282},{150,266}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,204},{150,266}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,846},{150,268}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,205},{150,268}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1712},{102,280}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,205},{102,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1430},{102,280}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,203},{102,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1148},{102,280}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,203},{102,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,866},{102,280}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,201},{102,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1732},{102,280}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,198},{102,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1450},{102,280}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,196},{102,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1732},{102,280}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,196},{102,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{102,278}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,198},{102,278}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,284},{102,278}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,200},{102,278}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1450},{102,280}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,200},{102,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,262},{152,258}}</string>
                <key>offset</key>
                <string>{-12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,207},{152,258}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,524},{152,258}}</string>
                <key>offset</key>
                <string>{-11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,205},{152,258}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,792},{154,258}}</string>
                <key>offset</key>
                <string>{-11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,205},{154,258}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1074},{154,258}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,204},{154,258}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1640},{154,258}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,202},{154,258}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1378},{154,260}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,199},{154,260}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,812},{152,260}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,199},{152,260}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1096},{152,260}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,199},{152,260}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1334},{150,258}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,202},{150,258}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{150,258}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,204},{150,258}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,550},{200,260}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,207},{200,260}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,834},{200,260}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,206},{200,260}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1116},{200,260}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,206},{200,260}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1686},{202,260}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,204},{202,260}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,532},{202,258}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,204},{202,258}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{200,258}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,203},{200,258}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,264},{200,258}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,202},{200,258}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1378},{198,260}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,201},{198,260}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{198,260}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,202},{198,260}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_0_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,270},{198,260}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,204},{198,260}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{206,288}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,193},{206,288}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,294},{196,288}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,188},{196,288}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{192,290}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,184},{192,290}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{192,290}}</string>
                <key>offset</key>
                <string>{9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,184},{192,290}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,290}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,186},{194,290}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{194,288}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,191},{194,288}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,866},{220,278}}</string>
                <key>offset</key>
                <string>{-26,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,199},{220,278}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,566},{218,278}}</string>
                <key>offset</key>
                <string>{-22,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,195},{218,278}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{212,280}}</string>
                <key>offset</key>
                <string>{-18,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,191},{212,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1168},{206,280}}</string>
                <key>offset</key>
                <string>{-16,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,191},{206,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,284},{206,280}}</string>
                <key>offset</key>
                <string>{-18,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,193},{206,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,584},{214,280}}</string>
                <key>offset</key>
                <string>{-22,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,196},{214,280}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1548},{164,244}}</string>
                <key>offset</key>
                <string>{-16,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,208},{164,244}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,770},{160,246}}</string>
                <key>offset</key>
                <string>{-14,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,206},{160,246}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1586},{158,248}}</string>
                <key>offset</key>
                <string>{-15,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,204},{158,248}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,1334},{158,250}}</string>
                <key>offset</key>
                <string>{-16,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,203},{158,250}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1594},{160,250}}</string>
                <key>offset</key>
                <string>{-17,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,204},{160,250}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1032},{160,246}}</string>
                <key>offset</key>
                <string>{-16,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,207},{160,246}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,2},{222,194}}</string>
                <key>offset</key>
                <string>{-20,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,226},{222,194}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1794},{218,194}}</string>
                <key>offset</key>
                <string>{-19,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,225},{218,194}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,1548},{218,192}}</string>
                <key>offset</key>
                <string>{-19,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,223},{218,192}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1280},{216,190}}</string>
                <key>offset</key>
                <string>{-21,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,221},{216,190}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,392},{222,190}}</string>
                <key>offset</key>
                <string>{-23,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,221},{222,190}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,198},{222,192}}</string>
                <key>offset</key>
                <string>{-23,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,224},{222,192}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1836},{206,180}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,231},{206,180}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1018},{196,176}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,231},{196,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,756},{190,174}}</string>
                <key>offset</key>
                <string>{-4,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,229},{190,174}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,584},{194,170}}</string>
                <key>offset</key>
                <string>{-7,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,228},{194,170}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1768},{194,172}}</string>
                <key>offset</key>
                <string>{-7,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,227},{194,172}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>monster_52_3_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,756},{194,176}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,229},{194,176}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster52.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6eefb21be4eaa3a171244adac83c96c$</string>
            <key>textureFileName</key>
            <string>monster52.png</string>
        </dict>
    </dict>
</plist>
