<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_50_3_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{420,142}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,218},{420,142}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,164}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,216},{432,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{394,172}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,220},{394,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,176},{374,160}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,217},{374,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,872},{278,170}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,199},{278,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,764},{314,146}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,210},{314,146}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,204},{352,168}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,187},{352,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{390,172}}</string>
                <key>offset</key>
                <string>{-29,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,224},{390,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,404},{328,198}}</string>
                <key>offset</key>
                <string>{-44,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,223},{328,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{298,184}}</string>
                <key>offset</key>
                <string>{-60,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,200},{298,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,998},{272,168}}</string>
                <key>offset</key>
                <string>{-72,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,168},{272,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,832},{294,160}}</string>
                <key>offset</key>
                <string>{-20,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,164},{294,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1168},{220,266}}</string>
                <key>offset</key>
                <string>{-48,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,130},{220,266}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1596},{208,260}}</string>
                <key>offset</key>
                <string>{-57,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,173},{208,260}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1688},{222,244}}</string>
                <key>offset</key>
                <string>{-63,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,187},{222,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1806},{240,222}}</string>
                <key>offset</key>
                <string>{-61,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,153},{240,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1496},{252,200}}</string>
                <key>offset</key>
                <string>{-55,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,122},{252,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1712},{248,222}}</string>
                <key>offset</key>
                <string>{-49,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,107},{248,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1224},{250,272}}</string>
                <key>offset</key>
                <string>{-18,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,116},{250,272}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{252,290}}</string>
                <key>offset</key>
                <string>{-28,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,125},{252,290}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1178},{264,254}}</string>
                <key>offset</key>
                <string>{-44,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,131},{264,254}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,742},{254,178}}</string>
                <key>offset</key>
                <string>{-66,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,138},{254,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1152},{244,214}}</string>
                <key>offset</key>
                <string>{-60,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,110},{244,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1434},{256,252}}</string>
                <key>offset</key>
                <string>{-23,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,80},{256,252}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{412,234}}</string>
                <key>offset</key>
                <string>{-4,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,106},{412,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{430,224}}</string>
                <key>offset</key>
                <string>{5,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,119},{430,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,228},{394,186}}</string>
                <key>offset</key>
                <string>{5,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,115},{394,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,2},{370,200}}</string>
                <key>offset</key>
                <string>{-6,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,113},{370,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{278,214}}</string>
                <key>offset</key>
                <string>{9,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,107},{278,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_3_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,540},{314,222}}</string>
                <key>offset</key>
                <string>{1,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,98},{314,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,912},{288,220}}</string>
                <key>offset</key>
                <string>{44,166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,24},{288,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1688},{244,208}}</string>
                <key>offset</key>
                <string>{38,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,80},{244,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1476},{234,260}}</string>
                <key>offset</key>
                <string>{14,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,127},{234,260}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,970},{274,206}}</string>
                <key>offset</key>
                <string>{25,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,268},{274,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,338},{328,238}}</string>
                <key>offset</key>
                <string>{-3,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,252},{328,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,374},{326,164}}</string>
                <key>offset</key>
                <string>{-29,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,318},{326,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,994},{228,278}}</string>
                <key>offset</key>
                <string>{77,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,20},{228,278}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1806},{232,228}}</string>
                <key>offset</key>
                <string>{-12,124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,62},{232,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,1304},{222,232}}</string>
                <key>offset</key>
                <string>{-52,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,116},{222,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1528},{230,200}}</string>
                <key>offset</key>
                <string>{-38,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,241},{230,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,604},{298,254}}</string>
                <key>offset</key>
                <string>{-25,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,209},{298,254}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,338},{296,172}}</string>
                <key>offset</key>
                <string>{-23,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,296},{296,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,860},{222,280}}</string>
                <key>offset</key>
                <string>{62,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,64},{222,280}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1364},{272,230}}</string>
                <key>offset</key>
                <string>{-9,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,63},{272,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1744},{208,204}}</string>
                <key>offset</key>
                <string>{-82,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,96},{208,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1398},{208,232}}</string>
                <key>offset</key>
                <string>{-63,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,184},{208,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,742},{226,288}}</string>
                <key>offset</key>
                <string>{-59,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,168},{226,288}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1390},{258,184}}</string>
                <key>offset</key>
                <string>{-45,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,275},{258,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,416},{306,228}}</string>
                <key>offset</key>
                <string>{37,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,113},{306,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1134},{282,168}}</string>
                <key>offset</key>
                <string>{2,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,82},{282,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1744},{198,194}}</string>
                <key>offset</key>
                <string>{-69,137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,66},{198,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1528},{214,204}}</string>
                <key>offset</key>
                <string>{-59,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,160},{214,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1250},{244,262}}</string>
                <key>offset</key>
                <string>{-34,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,156},{244,262}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,646},{298,184}}</string>
                <key>offset</key>
                <string>{7,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,284},{298,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{300,220}}</string>
                <key>offset</key>
                <string>{-45,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,96},{300,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1698},{248,168}}</string>
                <key>offset</key>
                <string>{-35,148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,68},{248,168}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,636},{234,172}}</string>
                <key>offset</key>
                <string>{-10,166}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,48},{234,172}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1084},{274,164}}</string>
                <key>offset</key>
                <string>{-21,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,170},{274,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,578},{328,162}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,221},{328,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_50_7_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,238},{332,164}}</string>
                <key>offset</key>
                <string>{37,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,277},{332,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_50~1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3b54211d8ab87e986969c61b5c86cbf$</string>
            <key>textureFileName</key>
            <string>monster_50~1.png</string>
        </dict>
    </dict>
</plist>
