<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_58_0_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,580},{192,278}}</string>
                <key>offset</key>
                <string>{27,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,48},{192,278}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1722},{192,280}}</string>
                <key>offset</key>
                <string>{26,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,48},{192,280}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,294},{190,284}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,49},{190,284}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,870},{186,280}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,49},{186,280}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,860},{182,278}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,50},{182,278}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1722},{178,282}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,49},{178,282}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1438},{180,282}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,49},{180,282}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{180,282}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,48},{180,282}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1154},{186,280}}</string>
                <key>offset</key>
                <string>{23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,47},{186,280}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{190,282}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,46},{190,282}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1066},{182,256}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,58},{182,256}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,806},{182,258}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,56},{182,258}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1094},{182,260}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,57},{182,260}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,276},{182,266}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,58},{182,266}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{182,264}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,58},{182,264}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,524},{180,256}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,59},{180,256}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{180,258}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,58},{180,258}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,790},{180,256}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,58},{180,256}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1356},{182,256}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,56},{182,256}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,264},{180,258}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,56},{180,258}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1600},{234,238}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,59},{234,238}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1364},{234,238}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,59},{234,238}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1782},{234,238}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,59},{234,238}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1542},{234,238}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,59},{234,238}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,1126},{236,238}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,59},{236,238}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,888},{236,238}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,59},{236,238}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,650},{236,238}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,59},{236,238}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,770},{236,238}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,59},{236,238}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1036},{236,238}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,59},{236,238}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1302},{236,238}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,59},{236,238}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1048},{198,252}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,59},{198,252}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1324},{198,252}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,59},{198,252}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,2},{196,252}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,59},{196,252}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,2},{196,252}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,59},{196,252}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,256},{196,252}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,59},{196,252}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,516},{196,252}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,59},{196,252}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,782},{196,252}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,59},{196,252}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1614},{198,252}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,59},{198,252}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{198,252}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,59},{198,252}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,262},{200,252}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,59},{200,252}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,268},{192,260}}</string>
                <key>offset</key>
                <string>{-22,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,50},{192,260}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,544},{194,260}}</string>
                <key>offset</key>
                <string>{-21,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,50},{194,260}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1716},{190,260}}</string>
                <key>offset</key>
                <string>{-22,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,50},{190,260}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1094},{186,260}}</string>
                <key>offset</key>
                <string>{-22,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,50},{186,260}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1356},{182,260}}</string>
                <key>offset</key>
                <string>{-22,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,50},{182,260}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,530},{180,258}}</string>
                <key>offset</key>
                <string>{-21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,52},{180,258}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1618},{178,258}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,52},{178,258}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1694},{182,260}}</string>
                <key>offset</key>
                <string>{-18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,50},{182,260}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1432},{186,260}}</string>
                <key>offset</key>
                <string>{-18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{186,260}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_0_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{190,260}}</string>
                <key>offset</key>
                <string>{-19,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,50},{190,260}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{204,272}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,44},{204,272}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1152},{206,278}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,39},{206,278}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{212,282}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,38},{212,282}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{220,288}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,37},{220,288}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,290}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,40},{224,290}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{224,284}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,41},{224,284}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1436},{224,278}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,42},{224,278}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,286},{212,274}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,43},{212,274}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,1126},{228,232}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,56},{228,232}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,1578},{226,242}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,52},{226,242}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,426},{222,248}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,48},{222,248}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,200},{224,248}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,48},{224,248}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,830},{226,262}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,49},{226,262}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_3_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,562},{248,266}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,52},{248,266}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster58.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e89c014f26ceb3d6db7113d4911944a$</string>
            <key>textureFileName</key>
            <string>monster58.png</string>
        </dict>
    </dict>
</plist>
