<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_58_11_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1506},{252,262}}</string>
                <key>offset</key>
                <string>{23,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,62},{252,262}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1736},{258,262}}</string>
                <key>offset</key>
                <string>{22,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,69},{258,262}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1486},{248,258}}</string>
                <key>offset</key>
                <string>{21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,64},{248,258}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,1270},{242,260}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,58},{242,260}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,592},{212,268}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,53},{212,268}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1244},{240,248}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,71},{240,248}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1032},{254,226}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,80},{254,226}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1254},{256,238}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,69},{256,238}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1472},{248,244}}</string>
                <key>offset</key>
                <string>{33,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,62},{248,244}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1028},{268,224}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,82},{268,224}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1264},{260,240}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,71},{260,240}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,396},{204,300}}</string>
                <key>offset</key>
                <string>{-19,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,55},{204,300}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,396},{204,316}}</string>
                <key>offset</key>
                <string>{-25,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,41},{204,316}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,194},{200,336}}</string>
                <key>offset</key>
                <string>{-30,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,34},{200,336}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,584},{206,336}}</string>
                <key>offset</key>
                <string>{-32,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,35},{206,336}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,382},{200,322}}</string>
                <key>offset</key>
                <string>{-34,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,45},{200,322}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{192,308}}</string>
                <key>offset</key>
                <string>{-30,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,50},{192,308}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{184,294}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,21},{184,294}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{228,226}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,80},{228,226}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,806},{284,220}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,84},{284,220}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,388},{320,202}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,102},{320,202}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1514},{298,254}}</string>
                <key>offset</key>
                <string>{31,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,52},{298,254}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1748},{260,266}}</string>
                <key>offset</key>
                <string>{52,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,46},{260,266}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1234},{282,236}}</string>
                <key>offset</key>
                <string>{38,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,68},{282,236}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,792},{292,216}}</string>
                <key>offset</key>
                <string>{23,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,88},{292,216}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1244},{266,236}}</string>
                <key>offset</key>
                <string>{-57,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,65},{266,236}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,1260},{238,268}}</string>
                <key>offset</key>
                <string>{-46,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,38},{238,268}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{200,288}}</string>
                <key>offset</key>
                <string>{-33,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,28},{200,288}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,810},{220,296}}</string>
                <key>offset</key>
                <string>{-33,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,35},{220,296}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,602},{208,304}}</string>
                <key>offset</key>
                <string>{-50,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{208,304}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,2},{190,288}}</string>
                <key>offset</key>
                <string>{-47,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,41},{190,288}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,812},{220,276}}</string>
                <key>offset</key>
                <string>{-8,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,24},{220,276}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1020},{302,222}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,82},{302,222}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,182},{198,252}}</string>
                <key>offset</key>
                <string>{13,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,89},{198,252}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,1514},{254,266}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,75},{254,266}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,1038},{230,294}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,47},{230,294}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,592},{206,290}}</string>
                <key>offset</key>
                <string>{35,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,51},{206,290}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,182},{198,276}}</string>
                <key>offset</key>
                <string>{36,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,65},{198,276}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,388},{202,244}}</string>
                <key>offset</key>
                <string>{22,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,97},{202,244}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,816},{252,220}}</string>
                <key>offset</key>
                <string>{-53,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,60},{252,220}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,188},{198,240}}</string>
                <key>offset</key>
                <string>{-28,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,41},{198,240}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,192},{198,250}}</string>
                <key>offset</key>
                <string>{-29,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,31},{198,250}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{178,242}}</string>
                <key>offset</key>
                <string>{-39,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,40},{178,242}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{178,262}}</string>
                <key>offset</key>
                <string>{-33,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,32},{178,262}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{174,282}}</string>
                <key>offset</key>
                <string>{-34,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,22},{174,282}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1034},{228,268}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,29},{228,268}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1748},{272,258}}</string>
                <key>offset</key>
                <string>{-14,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,84},{272,258}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2},{188,272}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,79},{188,272}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{254,288}}</string>
                <key>offset</key>
                <string>{-26,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,63},{254,288}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1770},{260,308}}</string>
                <key>offset</key>
                <string>{-25,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,43},{260,308}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1500},{246,302}}</string>
                <key>offset</key>
                <string>{-24,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,49},{246,302}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1482},{242,288}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,63},{242,288}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,596},{212,260}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,91},{212,260}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,234}}</string>
                <key>offset</key>
                <string>{-28,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,37},{172,234}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,188},{198,232}}</string>
                <key>offset</key>
                <string>{-23,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,39},{198,232}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{218,236}}</string>
                <key>offset</key>
                <string>{-15,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,35},{218,236}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,602},{212,230}}</string>
                <key>offset</key>
                <string>{-16,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,41},{212,230}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,392},{202,242}}</string>
                <key>offset</key>
                <string>{-17,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,35},{202,242}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{208,262}}</string>
                <key>offset</key>
                <string>{-14,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,20},{208,262}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1010},{222,268}}</string>
                <key>offset</key>
                <string>{-26,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,30},{222,268}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,800},{218,276}}</string>
                <key>offset</key>
                <string>{-38,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,75},{218,276}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster58~4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33b468714d2a07389b04cff251ed7caf$</string>
            <key>textureFileName</key>
            <string>monster58~4.png</string>
        </dict>
    </dict>
</plist>
