<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_57_3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,654},{214,242}}</string>
                <key>offset</key>
                <string>{41,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,191},{214,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1042},{186,220}}</string>
                <key>offset</key>
                <string>{22,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,235},{186,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,882},{178,232}}</string>
                <key>offset</key>
                <string>{29,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,228},{178,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{152,252}}</string>
                <key>offset</key>
                <string>{41,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,217},{152,252}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,242},{190,248}}</string>
                <key>offset</key>
                <string>{34,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,211},{190,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{192,250}}</string>
                <key>offset</key>
                <string>{29,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,199},{192,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{188,234}}</string>
                <key>offset</key>
                <string>{24,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,218},{188,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{186,226}}</string>
                <key>offset</key>
                <string>{28,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,225},{186,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,860},{170,226}}</string>
                <key>offset</key>
                <string>{39,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,220},{170,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,672},{188,238}}</string>
                <key>offset</key>
                <string>{29,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,215},{188,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,652},{206,236}}</string>
                <key>offset</key>
                <string>{18,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,212},{206,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,870},{224,218}}</string>
                <key>offset</key>
                <string>{14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,219},{224,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,1090},{224,196}}</string>
                <key>offset</key>
                <string>{18,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,229},{224,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,892},{204,198}}</string>
                <key>offset</key>
                <string>{20,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,235},{204,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{280,242}}</string>
                <key>offset</key>
                <string>{38,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,236},{280,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,682},{236,198}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,252},{236,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1390},{214,206}}</string>
                <key>offset</key>
                <string>{22,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,246},{214,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1062},{216,216}}</string>
                <key>offset</key>
                <string>{45,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,234},{216,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{272,230}}</string>
                <key>offset</key>
                <string>{45,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,226},{272,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,242}}</string>
                <key>offset</key>
                <string>{41,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,226},{282,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,234},{262,236}}</string>
                <key>offset</key>
                <string>{36,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,238},{262,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,208},{248,210}}</string>
                <key>offset</key>
                <string>{37,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,239},{248,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1304},{218,196}}</string>
                <key>offset</key>
                <string>{39,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,234},{218,196}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1178},{226,210}}</string>
                <key>offset</key>
                <string>{17,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,230},{226,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,472},{238,208}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,228},{238,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,2},{270,204}}</string>
                <key>offset</key>
                <string>{-6,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,236},{270,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{282,202}}</string>
                <key>offset</key>
                <string>{-9,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,245},{282,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,2},{272,198}}</string>
                <key>offset</key>
                <string>{-9,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,249},{272,198}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,202},{232,264}}</string>
                <key>offset</key>
                <string>{38,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,232},{232,264}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,206},{278,190}}</string>
                <key>offset</key>
                <string>{-28,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,264},{278,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{258,184}}</string>
                <key>offset</key>
                <string>{-23,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,258},{258,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,804},{238,178}}</string>
                <key>offset</key>
                <string>{-2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,250},{238,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1032},{224,214}}</string>
                <key>offset</key>
                <string>{39,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,226},{224,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,2},{238,248}}</string>
                <key>offset</key>
                <string>{39,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,222},{238,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1208},{210,214}}</string>
                <key>offset</key>
                <string>{38,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,251},{210,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1528},{212,188}}</string>
                <key>offset</key>
                <string>{20,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,254},{212,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1028},{228,178}}</string>
                <key>offset</key>
                <string>{7,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,251},{228,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,614},{252,188}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,247},{252,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,246},{260,208}}</string>
                <key>offset</key>
                <string>{-4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,242},{260,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,398},{258,214}}</string>
                <key>offset</key>
                <string>{-10,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,248},{258,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,456},{256,214}}</string>
                <key>offset</key>
                <string>{-16,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,258},{256,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{274,200}}</string>
                <key>offset</key>
                <string>{-25,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,262},{274,200}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{166,238}}</string>
                <key>offset</key>
                <string>{-8,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,245},{166,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1462},{194,192}}</string>
                <key>offset</key>
                <string>{-16,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,262},{194,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1420},{210,176}}</string>
                <key>offset</key>
                <string>{-22,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,260},{210,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1424},{208,176}}</string>
                <key>offset</key>
                <string>{-24,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,255},{208,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1230},{192,210}}</string>
                <key>offset</key>
                <string>{-12,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,245},{192,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,860},{180,232}}</string>
                <key>offset</key>
                <string>{-10,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,236},{180,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1248},{192,208}}</string>
                <key>offset</key>
                <string>{4,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,261},{192,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,698},{194,192}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,263},{194,192}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1718},{192,174}}</string>
                <key>offset</key>
                <string>{19,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,262},{192,174}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1718},{176,178}}</string>
                <key>offset</key>
                <string>{17,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,255},{176,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1092},{160,212}}</string>
                <key>offset</key>
                <string>{14,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,242},{160,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,870},{160,220}}</string>
                <key>offset</key>
                <string>{-2,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,247},{160,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,862},{164,236}}</string>
                <key>offset</key>
                <string>{-8,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,243},{164,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_3_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,242},{150,208}}</string>
                <key>offset</key>
                <string>{-4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,258},{150,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,984},{192,234}}</string>
                <key>offset</key>
                <string>{21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,193},{192,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,434},{218,246}}</string>
                <key>offset</key>
                <string>{48,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,191},{218,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1098},{204,204}}</string>
                <key>offset</key>
                <string>{50,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,224},{204,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,650},{208,244}}</string>
                <key>offset</key>
                <string>{43,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,264},{208,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,436},{244,214}}</string>
                <key>offset</key>
                <string>{25,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,323},{244,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,452},{244,142}}</string>
                <key>offset</key>
                <string>{25,-160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,389},{244,142}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,420},{228,246}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,192},{228,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_57_7_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1280},{180,210}}</string>
                <key>offset</key>
                <string>{54,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,232},{180,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster57~2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ee66fd39b47ea00d1f26f5b50915952$</string>
            <key>textureFileName</key>
            <string>monster57~2.png</string>
        </dict>
    </dict>
</plist>
