<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_59_0_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,246},{192,240}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,202},{192,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1228},{182,236}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,206},{182,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1248},{186,238}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,204},{186,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1518},{188,238}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,204},{188,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1006},{190,240}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,202},{190,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{190,240}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,202},{190,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1770},{190,238}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,204},{190,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{188,236}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,206},{188,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1758},{186,236}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,206},{186,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,722},{184,234}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,208},{184,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,964},{184,234}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,208},{184,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1488},{182,236}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,206},{182,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1530},{164,244}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,205},{164,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{164,240}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,209},{164,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,244},{164,240}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,209},{164,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,762},{164,242}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,207},{164,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,518},{164,242}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,207},{164,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1274},{164,242}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,207},{164,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1526},{164,242}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,207},{164,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,488},{164,240}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,209},{164,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,486},{162,238}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,211},{162,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,244},{160,238}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,211},{160,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,730},{162,238}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,211},{162,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,988},{162,238}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,211},{162,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{122,246}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,206},{122,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,784},{118,244}}</string>
                <key>offset</key>
                <string>{12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,208},{118,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1778},{118,246}}</string>
                <key>offset</key>
                <string>{11,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,206},{118,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{120,246}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,206},{120,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{124,246}}</string>
                <key>offset</key>
                <string>{11,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,206},{124,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1034},{126,244}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,208},{126,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1282},{126,244}}</string>
                <key>offset</key>
                <string>{14,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,208},{126,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,258},{126,242}}</string>
                <key>offset</key>
                <string>{14,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,210},{126,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{124,242}}</string>
                <key>offset</key>
                <string>{15,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,210},{124,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,762},{122,242}}</string>
                <key>offset</key>
                <string>{15,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,210},{122,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,502},{120,242}}</string>
                <key>offset</key>
                <string>{14,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,210},{120,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1280},{118,244}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,208},{118,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,970},{176,236}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,213},{176,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1444},{166,234}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,215},{166,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1726},{170,236}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,213},{170,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,484},{174,236}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,213},{174,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,726},{174,236}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,213},{174,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,240},{172,236}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,213},{172,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{170,236}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,213},{170,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{168,234}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,215},{168,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,240},{168,234}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,215},{168,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2},{168,232}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,217},{168,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,478},{168,234}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,215},{168,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1702},{166,234}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,215},{166,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1466},{192,234}}</string>
                <key>offset</key>
                <string>{5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,219},{192,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,238},{184,232}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,221},{184,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,476},{186,232}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,221},{186,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,714},{190,232}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,221},{190,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1200},{192,232}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,221},{192,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,958},{190,232}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,221},{190,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,2},{190,230}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,223},{190,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,194},{188,230}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,223},{188,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,472},{186,228}}</string>
                <key>offset</key>
                <string>{5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,225},{186,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,710},{186,228}}</string>
                <key>offset</key>
                <string>{5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,225},{186,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1680},{184,230}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,223},{184,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_0_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1434},{182,230}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,223},{182,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{188,256}}</string>
                <key>offset</key>
                <string>{-11,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,222},{188,256}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{186,258}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,215},{186,258}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,746},{186,240}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,221},{186,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,782},{178,226}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,217},{178,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{164,248}}</string>
                <key>offset</key>
                <string>{4,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,214},{164,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,262}}</string>
                <key>offset</key>
                <string>{12,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,212},{152,262}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{164,258}}</string>
                <key>offset</key>
                <string>{11,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,217},{164,258}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{176,254}}</string>
                <key>offset</key>
                <string>{15,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,219},{176,254}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1666},{186,220}}</string>
                <key>offset</key>
                <string>{15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,217},{186,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1778},{182,244}}</string>
                <key>offset</key>
                <string>{8,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,215},{182,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1030},{236,242}}</string>
                <key>offset</key>
                <string>{23,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,224},{236,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,262},{216,254}}</string>
                <key>offset</key>
                <string>{35,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,221},{216,254}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,384},{204,226}}</string>
                <key>offset</key>
                <string>{27,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,227},{204,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1424},{168,216}}</string>
                <key>offset</key>
                <string>{18,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,224},{168,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1192},{146,230}}</string>
                <key>offset</key>
                <string>{14,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,221},{146,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,518},{154,242}}</string>
                <key>offset</key>
                <string>{11,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,219},{154,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,948},{200,228}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,228},{200,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,590},{190,226}}</string>
                <key>offset</key>
                <string>{17,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,231},{190,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1888},{150,216}}</string>
                <key>offset</key>
                <string>{40,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,228},{150,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_3_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1208},{186,234}}</string>
                <key>offset</key>
                <string>{42,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,225},{186,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster59.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22399bf5a30c044d30d2cfc63b369e36$</string>
            <key>textureFileName</key>
            <string>monster59.png</string>
        </dict>
    </dict>
</plist>
