<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_58_11_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1654},{190,290}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,55},{190,290}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{174,328}}</string>
                <key>offset</key>
                <string>{24,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,52},{174,328}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{198,338}}</string>
                <key>offset</key>
                <string>{19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,42},{198,338}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{218,338}}</string>
                <key>offset</key>
                <string>{11,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,42},{218,338}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,340}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,40},{212,340}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{202,328}}</string>
                <key>offset</key>
                <string>{13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,50},{202,328}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1344},{208,308}}</string>
                <key>offset</key>
                <string>{11,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,55},{208,308}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,992},{222,294}}</string>
                <key>offset</key>
                <string>{22,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,26},{222,294}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_11_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,842},{218,262}}</string>
                <key>offset</key>
                <string>{35,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,67},{218,262}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1106},{254,206}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,105},{254,206}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,1064},{224,222}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,92},{224,222}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,2},{198,238}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,80},{198,238}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1288},{284,282}}</string>
                <key>offset</key>
                <string>{-42,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,63},{284,282}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1412},{206,254}}</string>
                <key>offset</key>
                <string>{23,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,72},{206,254}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,2},{214,256}}</string>
                <key>offset</key>
                <string>{14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,50},{214,256}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,570},{258,270}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,36},{258,270}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,278},{220,268}}</string>
                <key>offset</key>
                <string>{33,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,38},{220,268}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1830},{226,194}}</string>
                <key>offset</key>
                <string>{26,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,112},{226,194}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,272},{260,226}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,80},{260,226}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,684},{306,180}}</string>
                <key>offset</key>
                <string>{17,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,126},{306,180}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{298,192}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,114},{298,192}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1838},{244,208}}</string>
                <key>offset</key>
                <string>{21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,98},{244,208}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1834},{242,210}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,91},{242,210}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1574},{242,282}}</string>
                <key>offset</key>
                <string>{-18,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,19},{242,282}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1578},{286,240}}</string>
                <key>offset</key>
                <string>{-47,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,71},{286,240}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{274,228}}</string>
                <key>offset</key>
                <string>{42,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,77},{274,228}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1574},{262,254}}</string>
                <key>offset</key>
                <string>{51,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,50},{262,254}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,874},{252,272}}</string>
                <key>offset</key>
                <string>{49,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,29},{252,272}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,534},{248,248}}</string>
                <key>offset</key>
                <string>{54,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,53},{248,248}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1014},{308,170}}</string>
                <key>offset</key>
                <string>{22,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,136},{308,170}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,812},{182,250}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,85},{182,250}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,2},{238,234}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,102},{238,234}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,260},{236,242}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,93},{236,242}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1362},{222,236}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,99},{222,236}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1600},{192,228}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,90},{192,228}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{190,290}}</string>
                <key>offset</key>
                <string>{-13,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,9},{190,290}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1858},{186,260}}</string>
                <key>offset</key>
                <string>{-15,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,25},{186,260}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,644},{292,260}}</string>
                <key>offset</key>
                <string>{44,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,97},{292,260}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1148},{254,262}}</string>
                <key>offset</key>
                <string>{29,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,85},{254,262}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{220,312}}</string>
                <key>offset</key>
                <string>{30,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,28},{220,312}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,548},{190,262}}</string>
                <key>offset</key>
                <string>{34,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,76},{190,262}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,294},{274,234}}</string>
                <key>offset</key>
                <string>{-14,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,104},{274,234}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1416},{156,264}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,76},{156,264}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,2},{140,268}}</string>
                <key>offset</key>
                <string>{4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,98},{140,268}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1148},{158,266}}</string>
                <key>offset</key>
                <string>{15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,84},{158,266}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1866},{174,256}}</string>
                <key>offset</key>
                <string>{10,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,84},{174,256}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1668},{164,246}}</string>
                <key>offset</key>
                <string>{-18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,77},{164,246}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1344},{170,316}}</string>
                <key>offset</key>
                <string>{14,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,0},{170,316}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1288},{162,288}}</string>
                <key>offset</key>
                <string>{16,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,12},{162,288}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{204,260}}</string>
                <key>offset</key>
                <string>{14,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,112},{204,260}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,938},{280,254}}</string>
                <key>offset</key>
                <string>{21,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,114},{280,254}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,342},{246,300}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,63},{246,300}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,594},{210,278}}</string>
                <key>offset</key>
                <string>{-37,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,90},{210,278}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>monster_58_9_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,302},{230,290}}</string>
                <key>offset</key>
                <string>{-67,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,79},{230,290}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster58~3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f60d40719544456dfdc5c90d4b547131$</string>
            <key>textureFileName</key>
            <string>monster58~3.png</string>
        </dict>
    </dict>
</plist>
