<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_57_11_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,474},{106,116}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,92},{106,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,320},{106,116}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,92},{106,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,698},{86,108}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,101},{86,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{102,124}}</string>
                <key>offset</key>
                <string>{-22,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,84},{102,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{80,174}}</string>
                <key>offset</key>
                <string>{-12,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,34},{80,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{78,168}}</string>
                <key>offset</key>
                <string>{-11,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,40},{78,168}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,438},{108,116}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,92},{108,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,438},{74,118}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,86},{74,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,514},{78,116}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,101},{78,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{78,110}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,107},{78,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,412},{60,122}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,100},{60,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,86},{74,118}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,86},{74,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,652},{86,108}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,92},{86,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,714},{82,104}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,93},{82,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,740},{84,100}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,97},{84,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{102,108}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,89},{102,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{72,146}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,51},{72,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,90},{84,172}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,25},{84,172}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,176},{88,164}}</string>
                <key>offset</key>
                <string>{-6,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,33},{88,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,266},{78,128}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,89},{78,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,346},{90,122}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,85},{90,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{66,122}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,102},{66,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,582},{68,116}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,108},{68,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,548},{74,116}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,102},{74,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,320},{90,122}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,85},{90,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,594},{102,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,95},{102,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{82,118}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,89},{82,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,624},{88,108}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,99},{88,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{116,116}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,91},{116,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,162},{86,150}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,56},{86,150}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,196}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,9},{84,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{86,190}}</string>
                <key>offset</key>
                <string>{-8,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,14},{86,190}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_57_11_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,250},{68,130}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,94},{68,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_50~1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cebad31b7c5354d137239eb29f958f45$</string>
            <key>textureFileName</key>
            <string>monster_50~1.png</string>
        </dict>
    </dict>
</plist>
