<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_59_11_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,2},{182,224}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,217},{182,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,336},{200,212}}</string>
                <key>offset</key>
                <string>{7,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,228},{200,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1872},{168,186}}</string>
                <key>offset</key>
                <string>{-3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,256},{168,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,308},{162,288}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,156},{162,288}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{158,336}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,105},{158,336}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,320},{156,310}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,129},{156,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1684},{172,186}}</string>
                <key>offset</key>
                <string>{2,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,281},{172,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{240,226}}</string>
                <key>offset</key>
                <string>{-8,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,215},{240,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{276,218}}</string>
                <key>offset</key>
                <string>{8,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,222},{276,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_11_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,470},{212,208}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,232},{212,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1294},{200,254}}</string>
                <key>offset</key>
                <string>{-33,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,184},{200,254}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,570},{192,252}}</string>
                <key>offset</key>
                <string>{-26,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,186},{192,252}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1546},{184,250}}</string>
                <key>offset</key>
                <string>{-21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,188},{184,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,952},{208,218}}</string>
                <key>offset</key>
                <string>{-39,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,226},{208,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1806},{240,228}}</string>
                <key>offset</key>
                <string>{-75,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,215},{240,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1294},{266,262}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,176},{266,262}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1294},{194,254}}</string>
                <key>offset</key>
                <string>{-40,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,185},{194,254}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1550},{194,254}}</string>
                <key>offset</key>
                <string>{-46,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,185},{194,254}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1550},{194,252}}</string>
                <key>offset</key>
                <string>{-46,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,186},{194,252}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1120},{172,250}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,177},{172,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1804},{168,242}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,185},{168,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,502},{168,246}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,181},{168,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,252},{166,248}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,179},{166,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,242},{198,226}}</string>
                <key>offset</key>
                <string>{-49,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,201},{198,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1462},{220,210}}</string>
                <key>offset</key>
                <string>{-58,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,218},{220,210}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1798},{248,224}}</string>
                <key>offset</key>
                <string>{-81,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,205},{248,224}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1572},{266,262}}</string>
                <key>offset</key>
                <string>{-95,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,168},{266,262}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{292,250}}</string>
                <key>offset</key>
                <string>{50,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,177},{292,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1844},{200,262}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,165},{200,262}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,308},{170,260}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,167},{170,260}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,262},{166,250}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,177},{166,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,484},{196,228}}</string>
                <key>offset</key>
                <string>{-33,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,172},{196,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,2},{170,222}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,177},{170,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,714},{160,216}}</string>
                <key>offset</key>
                <string>{-19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,184},{160,216}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,174},{160,222}}</string>
                <key>offset</key>
                <string>{-20,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,178},{160,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,244},{238,208}}</string>
                <key>offset</key>
                <string>{-53,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,191},{238,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,598},{260,204}}</string>
                <key>offset</key>
                <string>{-71,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,193},{260,204}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1562},{264,258}}</string>
                <key>offset</key>
                <string>{-76,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,141},{264,258}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,632},{244,292}}</string>
                <key>offset</key>
                <string>{-66,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,109},{244,292}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{258,238}}</string>
                <key>offset</key>
                <string>{28,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,162},{258,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1076},{216,246}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,153},{216,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,250},{178,244}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,155},{178,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,484},{172,234}}</string>
                <key>offset</key>
                <string>{-14,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,165},{172,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{178,246}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,169},{178,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1206},{186,220}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,199},{186,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,974},{182,230}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,188},{182,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,992},{196,236}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,181},{196,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1828},{218,244}}</string>
                <key>offset</key>
                <string>{-31,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,171},{218,244}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,926},{210,264}}</string>
                <key>offset</key>
                <string>{-57,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,151},{210,264}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{194,304}}</string>
                <key>offset</key>
                <string>{-24,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,111},{194,304}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{180,310}}</string>
                <key>offset</key>
                <string>{-19,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,105},{180,310}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,738},{190,234}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,184},{190,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,750},{196,240}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,179},{196,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,2},{196,238}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,181},{196,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_8_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1230},{194,230}}</string>
                <key>offset</key>
                <string>{18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,189},{194,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,496},{172,240}}</string>
                <key>offset</key>
                <string>{7,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,220},{172,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1840},{206,246}}</string>
                <key>offset</key>
                <string>{-32,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,215},{206,246}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{208,248}}</string>
                <key>offset</key>
                <string>{-27,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,213},{208,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,824},{220,250}}</string>
                <key>offset</key>
                <string>{-18,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,210},{220,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1294},{208,250}}</string>
                <key>offset</key>
                <string>{-7,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,210},{208,250}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,1428},{162,186}}</string>
                <key>offset</key>
                <string>{-12,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,273},{162,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1616},{184,178}}</string>
                <key>offset</key>
                <string>{-19,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,287},{184,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,346}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,114},{152,346}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,538},{188,212}}</string>
                <key>offset</key>
                <string>{17,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,249},{188,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,720},{172,230}}</string>
                <key>offset</key>
                <string>{26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,232},{172,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1572},{136,270}}</string>
                <key>offset</key>
                <string>{21,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,192},{136,270}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{144,316}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,146},{144,316}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>monster_59_9_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,860},{200,258}}</string>
                <key>offset</key>
                <string>{-31,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,204},{200,258}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_59~3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a20d645714bab274d2c5affb2b28d2$</string>
            <key>textureFileName</key>
            <string>monster_59~3.png</string>
        </dict>
    </dict>
</plist>
