<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_50_8_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1189},{405,271}}</string>
                <key>offset</key>
                <string>{-14,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,193},{405,271}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1741},{345,299}}</string>
                <key>offset</key>
                <string>{20,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,170},{345,299}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,683},{389,269}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,193},{389,269}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{445,291}}</string>
                <key>offset</key>
                <string>{15,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,185},{445,291}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1161},{417,297}}</string>
                <key>offset</key>
                <string>{-20,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,179},{417,297}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,683},{425,309}}</string>
                <key>offset</key>
                <string>{-28,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,169},{425,309}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,705},{433,267}}</string>
                <key>offset</key>
                <string>{-44,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,166},{433,267}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,974},{421,213}}</string>
                <key>offset</key>
                <string>{-60,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,109},{421,213}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,994},{343,207}}</string>
                <key>offset</key>
                <string>{-82,160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,88},{343,207}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1735},{311,247}}</string>
                <key>offset</key>
                <string>{-34,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,148},{311,247}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1741},{347,291}}</string>
                <key>offset</key>
                <string>{14,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,173},{347,291}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1685},{361,377}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,160},{361,377}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,187},{473,213}}</string>
                <key>offset</key>
                <string>{8,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,181},{473,213}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1213},{213,351}}</string>
                <key>offset</key>
                <string>{13,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,158},{213,351}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1462},{309,271}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,187},{309,271}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,552},{437,237}}</string>
                <key>offset</key>
                <string>{23,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,181},{437,237}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{511,233}}</string>
                <key>offset</key>
                <string>{11,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,167},{511,233}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{529,235}}</string>
                <key>offset</key>
                <string>{9,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,157},{529,235}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,2},{477,183}}</string>
                <key>offset</key>
                <string>{10,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,174},{477,183}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{457,155}}</string>
                <key>offset</key>
                <string>{13,150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,124},{457,155}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,791},{423,187}}</string>
                <key>offset</key>
                <string>{13,162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,96},{423,187}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1462},{333,221}}</string>
                <key>offset</key>
                <string>{9,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,164},{333,221}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{503,249}}</string>
                <key>offset</key>
                <string>{-2,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,154},{503,249}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_8_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1460},{279,385}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,139},{279,385}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{461,229}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,247},{461,229}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,237},{471,231}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,249},{471,231}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,253},{459,297}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,217},{459,297}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,402},{457,279}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,210},{457,279}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1430},{369,213}}</string>
                <key>offset</key>
                <string>{13,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,187},{369,213}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1213},{379,215}}</string>
                <key>offset</key>
                <string>{8,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,190},{379,215}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,980},{409,231}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,214},{409,231}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{429,239}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,241},{429,239}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>monster_50_9_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,470},{447,233}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,246},{447,233}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_50~5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c40af9dc85cb109dbc059cd64426f72$</string>
            <key>textureFileName</key>
            <string>monster_50~5.png</string>
        </dict>
    </dict>
</plist>
