<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_8_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,346},{84,144}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,114},{84,144}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_8_0_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{84,144}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,114},{84,144}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_8_0_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{84,144}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,114},{84,144}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_8_0_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{84,144}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,115},{84,144}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_8_0_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,148},{84,144}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,115},{84,144}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_8_0_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{84,144}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,115},{84,144}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_8_0_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,146}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,114},{84,146}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_8_0_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{84,144}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,115},{84,144}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_8.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d41eebee24e56b287b614aaebbd14c04$</string>
            <key>textureFileName</key>
            <string>npc_8.png</string>
        </dict>
    </dict>
</plist>
