<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_10_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,126},{122,154}}</string>
                <key>offset</key>
                <string>{22,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,128},{122,154}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_10_0_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,156}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,126},{122,156}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_10_0_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{122,156}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,126},{122,156}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_10_0_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{122,156}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,126},{122,156}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_10_0_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,156}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,126},{122,156}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_10_0_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{120,156}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,126},{120,156}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_10_0_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,248},{120,154}}</string>
                <key>offset</key>
                <string>{22,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,128},{120,154}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_10_0_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,124},{122,154}}</string>
                <key>offset</key>
                <string>{22,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,128},{122,154}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_10.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd0bec1ff81e0bcb9b971834bc26040d$</string>
            <key>textureFileName</key>
            <string>npc_10.png</string>
        </dict>
    </dict>
</plist>
