<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_27_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{76,136}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,147},{76,136}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_27_0_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,278},{76,136}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,147},{76,136}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_27_0_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{76,136}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,147},{76,136}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_27_0_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{76,136}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,147},{76,136}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_27_0_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,140},{76,136}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,147},{76,136}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_27_0_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{76,136}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,147},{76,136}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_27_0_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{76,136}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,147},{76,136}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>npc_27_0_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,136}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,147},{76,136}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_27.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fa58ffa88d692725ce54dfb8e959810$</string>
            <key>textureFileName</key>
            <string>npc_27.png</string>
        </dict>
    </dict>
</plist>
