<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_1_4_1_2_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,754},{38,102}}</string>
                <key>offset</key>
                <string>{2,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,216},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,742},{38,102}}</string>
                <key>offset</key>
                <string>{2,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,215},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,730},{38,102}}</string>
                <key>offset</key>
                <string>{2,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,215},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,702},{38,102}}</string>
                <key>offset</key>
                <string>{2,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,215},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,690},{38,102}}</string>
                <key>offset</key>
                <string>{3,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,214},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,676},{38,102}}</string>
                <key>offset</key>
                <string>{2,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,214},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,662},{38,102}}</string>
                <key>offset</key>
                <string>{2,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,213},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,714},{38,102}}</string>
                <key>offset</key>
                <string>{2,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,214},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,650},{38,102}}</string>
                <key>offset</key>
                <string>{3,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,214},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,650},{38,102}}</string>
                <key>offset</key>
                <string>{2,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,215},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,586},{134,74}}</string>
                <key>offset</key>
                <string>{9,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,232},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,534},{134,74}}</string>
                <key>offset</key>
                <string>{9,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,231},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,458},{134,74}}</string>
                <key>offset</key>
                <string>{9,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,231},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{134,74}}</string>
                <key>offset</key>
                <string>{9,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,231},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,510},{134,74}}</string>
                <key>offset</key>
                <string>{10,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,230},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,382},{134,74}}</string>
                <key>offset</key>
                <string>{9,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,230},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{134,74}}</string>
                <key>offset</key>
                <string>{9,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,229},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{134,74}}</string>
                <key>offset</key>
                <string>{9,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,230},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{134,74}}</string>
                <key>offset</key>
                <string>{10,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,230},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,434},{134,74}}</string>
                <key>offset</key>
                <string>{9,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,231},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,80},{184,24}}</string>
                <key>offset</key>
                <string>{16,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,259},{184,24}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{184,24}}</string>
                <key>offset</key>
                <string>{15,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,259},{184,24}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,54},{184,24}}</string>
                <key>offset</key>
                <string>{15,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,259},{184,24}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{184,24}}</string>
                <key>offset</key>
                <string>{15,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,258},{184,24}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,106},{184,22}}</string>
                <key>offset</key>
                <string>{15,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,259},{184,22}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,28},{184,24}}</string>
                <key>offset</key>
                <string>{16,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,257},{184,24}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{184,24}}</string>
                <key>offset</key>
                <string>{15,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,257},{184,24}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,24}}</string>
                <key>offset</key>
                <string>{16,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,257},{184,24}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{184,22}}</string>
                <key>offset</key>
                <string>{15,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,259},{184,22}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,24}}</string>
                <key>offset</key>
                <string>{15,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,258},{184,24}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,358},{134,74}}</string>
                <key>offset</key>
                <string>{10,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,237},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,306},{134,74}}</string>
                <key>offset</key>
                <string>{10,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,237},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,282},{134,74}}</string>
                <key>offset</key>
                <string>{10,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,237},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{134,74}}</string>
                <key>offset</key>
                <string>{10,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,236},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,206},{134,74}}</string>
                <key>offset</key>
                <string>{10,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,235},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{134,74}}</string>
                <key>offset</key>
                <string>{10,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,235},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{134,74}}</string>
                <key>offset</key>
                <string>{10,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,235},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,230},{134,74}}</string>
                <key>offset</key>
                <string>{10,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,235},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,154},{134,74}}</string>
                <key>offset</key>
                <string>{10,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,235},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,130},{134,74}}</string>
                <key>offset</key>
                <string>{10,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,236},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,610},{38,102}}</string>
                <key>offset</key>
                <string>{2,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,225},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,610},{38,102}}</string>
                <key>offset</key>
                <string>{2,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,225},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,546},{38,102}}</string>
                <key>offset</key>
                <string>{2,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,225},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,572},{38,102}}</string>
                <key>offset</key>
                <string>{2,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,224},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,442},{38,102}}</string>
                <key>offset</key>
                <string>{2,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,223},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,468},{38,102}}</string>
                <key>offset</key>
                <string>{2,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,223},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,364},{38,102}}</string>
                <key>offset</key>
                <string>{2,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,223},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,338},{38,102}}</string>
                <key>offset</key>
                <string>{2,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,223},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,234},{38,102}}</string>
                <key>offset</key>
                <string>{2,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,223},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_2_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,260},{38,102}}</string>
                <key>offset</key>
                <string>{2,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,224},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_5_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,156},{38,102}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,200},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_5_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,78},{134,74}}</string>
                <key>offset</key>
                <string>{33,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,221},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_5_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{182,24}}</string>
                <key>offset</key>
                <string>{48,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,261},{182,24}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_5_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{134,74}}</string>
                <key>offset</key>
                <string>{33,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,251},{134,74}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_1_5_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,130},{38,102}}</string>
                <key>offset</key>
                <string>{2,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,244},{38,102}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_1_4_5.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e39d12102802caadbc8eddbf9c6bf74$</string>
            <key>textureFileName</key>
            <string>player_1_4_5.png</string>
        </dict>
    </dict>
</plist>
