<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_1_4_3_4_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,166},{224,162}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,125},{224,162}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_3_4_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{220,176}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,127},{220,176}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_3_4_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{222,190}}</string>
                <key>offset</key>
                <string>{-4,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,130},{222,190}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_3_4_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,198}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,129},{238,198}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_3_4_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,330},{82,222}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,111},{82,222}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_3_4_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,498},{84,202}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,109},{84,202}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_3_4_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{86,192}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,104},{86,192}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_3_4_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,584},{86,190}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,101},{86,190}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_3_4_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{84,190}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,102},{84,190}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_3_4_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,414},{82,210}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,104},{82,210}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_3_4_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,84},{80,226}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,108},{80,226}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>player_1_4_3_4_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{80,228}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,111},{80,228}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_1_4_3~1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:415c55e0987f1f2c9a863a6cc8a629df$</string>
            <key>textureFileName</key>
            <string>player_1_4_3~1.png</string>
        </dict>
    </dict>
</plist>
